p {
	margin: 3px 0 3px 0;
}

hr {
	border:none;
	border-top: 1px solid #E1E1E1;
	margin: 8px 0;
	padding: 0;
}

r {
	color: #FF2200;
}

.cky-bar,.cky-bar-item,

.cky-grid,.cky-grid-cell,
.cky-table-view,.cky-table-view-cell,
.cky-segmented-item {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.cky-relative {
	position: relative;
}

.cky-bold {
	font-weight: bold;
}

.cky-footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	display: block;
}

.cky-hidden {
	display: none;
}

.cky-clearfix {
	height:0px;
	display: block;
	visibility: hidden;
	clear: both;
}

.cky-btn {
	display: inline-block;
	padding: 3px 10px;
	text-align: center;
	font-size: 17px;
	background-color: #F60;
	color: #fff;
}

.cky-btn-block {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

.cky-btn-red {
	background-color: #F20;
	color: #FFF;
}

.cky-btn-red:active {
	background-color: #D31400;
	color: #FFF;
}

.cky-bar {
	display: table;
	-webkit-touch-callout: none;
	table-layout: fixed;
	width: 100%;	
	height: 50px;
	line-height: 50px;
	background-color: #F0F0F0;
	padding-right: 0;
	padding-left: 0;
}

.cky-top-bar {
	position: fixed;
	left: 0px;
	top: 44px;
}

.cky-bar-item {
	display: table-cell;
	text-align: center;
}

.cky-bar-gray {
	background-color: #E1E1E1;
}

.cky-bar-gray .mui-btn-link {
	color: #F60;
}

.cky-bar-gray .mui-title {
	color: #F60;
}

.cky-media p, .cky-table-view-cell,.cky-media-title, .cky-table-view-cell,
.cky-grid-cell,.cky-bar-item,.cky-media-name {
	color: #333;
}

.swiper-img {
	display: block;
	margin-bottom: 30px;
	border: solid 3px darkgreen;
	border-radius: 10px;
	height:50vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cky-grid:after,.cky-table-view:after {
	content: " ";
	height:1px;
	display: block;
	clear: both;
}

.cky-grid .cky-grid-cell{
	float: left;
	text-align: center;
	font-size:15px;
	display: block;
}

.cky-grid4 .cky-grid-cell{
	width: 25%;
}

.cky-grid2 .cky-grid-cell{
	width: 50%;
}

.cky-grid4 .cky-grid-cell img{
	width:60%;
	max-width: 90px;
	display: block;
	margin:5px auto;
}

.cky-special {
	margin-top:10px;
	background-color: #eee;
	border: solid 1px green;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.cky-special .cky-grid-cell {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	background-position: 90% 50%;
	background-size: 10vw 10vw;
	padding-right: 15.5vw;
	padding-top: 5vw;
	padding-bottom: 5vw;
	text-align: right;
}

.cky-hotpot-ticket {
	background-image: url(../images/hotpot-ticket.png);	
	border-right-color:#C0C0C0!important;
	border-bottom-color:#C0C0C0!important;
}

.cky-points-edemption {
	background-image: url(../images/points-edemption.png);		
	border-bottom-color:#C0C0C0!important;
}

.cky-scratch-off {
	background-image: url(../images/scratch-off.png);	
	border-right-color:#C0C0C0!important;
}

.cky-delivery-free {
	background-image: url(../images/delivery-free.png);
}

.cky-grid2 .cky-media p{
	font-size:  15px;
	color:#333;
	line-height: 1.1;
}

.cky-grid2 .cky-media h5{
	font-size:  11px;
	color:#666;
}

.cky-animate-scale {
	transition: transform 0.2s;
	-webkit-transition: -webkit-transform 0.2s;
}

.cky-animate-scale:active {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

.cky-center {
	display:-webkit-box; 
	-webkit-box-orient:horizontal; 
	-webkit-box-pack:center; 
	/*-webkit-box-align:center;  */
	display:-moz-box; 
	-moz-box-orient:horizontal; 
	-moz-box-pack:center; 
	/*-moz-box-align:center; */
	display:-o-box; 
	-o-box-orient:horizontal; 
	-o-box-pack:center; 
	/*-o-box-align:center;  */
	display:-ms-box; 
	-ms-box-orient:horizontal; 
	-ms-box-pack:center; 
	/*-ms-box-align:center;  */
	display:box; 
	box-orient:horizontal; 
	box-pack:center; 
	/*box-align:center; */
}
.cky-media-content {
	margin-top:3px;
	margin-bottom: 3px;
	height:45px;
	vertical-align: middle;
	overflow: hidden;
	text-align:left;
}

.cky-media-sub {
	height:30px;
	line-height: 30px;
}

.cky-media-name {
	white-space: nowrap;
	word-break: keep-all;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: -webkit-calc(100% - 50px);
    display: inline-block;
}

.cky-ellipsis2{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.cky-left {
	float: left;
}

.cky-right {
	float: right;
}

.cky-table-view {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cky-table-view .cky-media {
	padding-left: 94px;
}

.cky-table-view-cell {
	display: block;
	position: relative;
	border-bottom:1px solid #eee;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left:18px;
	padding-right:18px;
	margin-left:-8px;
	margin-right:-8px;
	background-color: #fff;
}

.cky-table-view-cell:first-child {
	border-top:1px solid #eee;
}

.cky-table-view-cell > a {
	display: block;
}

.cky-money {
	color: #33CCCC !important;
	font-size: 20px;
}

.cky-money-old,h5,.cky-media-content {
	color: #999;
}

.cky-money-old {
	text-decoration:line-through;
	font-size:14px;
}

.cky-media-address {
	float: left;
	display:block;
	width: calc(100% - 60px);
	width: -webkit-calc(100% -60px);
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
	text-overflow: ellipsis;
	margin: 0;
	overflow: hidden;
}

.cky-table-cell-thumb {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:90px;
	width: 90px;
	position: absolute;
	left:10px;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	overflow: hidden;
}

.cky-table-cell-thumb80 {
	width: 80px;
	height: 80px;
}

.cky-table-cell-thumb60 {
	width: 60px;
	height: 60px;
	left: 10px;
}

.cky-table-cell-thumb60 +.cky-media {
	padding-left: 70px;
}

.cky-table-cell-thumb40 {
	width: 40px;
	height: 40px;
	left: 20px;
}

.cky-table-cell-thumb40 +.cky-media {
	padding-left: 50px;
}

.cky-free-reserve:before {
	content: "免预约";
	position: absolute;
	left:0px;
	top:0px;
	display: block;
	font-size: 15px;
	line-height: 1.5;
	color:#fff;
	width:85px;
	text-align: center;
	background-color: #33CCCC;
	transform: matrix(0.707107,-0.707107,0.707107,0.707107, -20, 12);
	-webkit-transform: matrix(0.707107,-0.707107,0.707107,0.707107, -20, 12);
}

.cky-segmented {
	display: table;
	table-layout: fixed;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border: solid #F60 1px;
	border-radius: 3px;
}

a.cky-segmented-item {
	font-size: 17px;
	font-weight: normal;
	display: table-cell;
	text-align: center;
	width:80px;
	border:solid 1px #f60;
	color: #333;
}

.mui-bar .cky-segmented {
	margin-top: 5px;
}

.cky-segmented-item.cky-active {
	background-color: #F60;
	color: #fff;
}

/** 行两列样式 **/
.cky-col-view {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.cky-col-view-cell {
	display: table-cell;
}


/** 字体大小和颜色(开始)  **/
.font32 {
	font-size: 32px;
}

.font24 {
	font-size: 24px;
}

.font20 {
	font-size: 20px;
}

.font17 {
	font-size: 17px;
}

.font16 {
	font-size: 17px;
}

.font15, .cky-bar-item{
	font-size: 15px;
}

.font14 {
	font-size: 14px;
}

.font13 {
	font-size: 13px;
}

.font12 {
	font-size: 12px;
}

.font10 {
	font-size: 10px;
}
.font9 {
	font-size: 9px;
}
.font7 {
	font-size: 7px;
}

.font-gray {
	color: #999;
}

.font-orange {
	color: #f60;
}

.font-gray2 {
	color: #BEBEBE;
}

.font-black {
	color: #333;
}

.font-black1 {
	color: #666;
}

.font-red {
	color: #FF0202; 
}

.font-blue {
	color: #33CCCC; 
}

.height30 {
	line-height: 30px;
	height: 30px;
}
/** 字体大小和颜色(结束) **/

/** 下拉菜单开始 **/
.cky-drop-body {
	position: fixed;
	height: 100%;
	width:100%;
	left: 0px;
	background-color: rgba(0,0,0,0.2);
	z-index: 9;
}

.cky-drop-content {
	background-color: #fff;
}

.cky-drop-table {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.cky-drop-table-col {
	list-style: none;
	display: table-cell;
	margin: 0;
	padding: 0;
}

.cky-drop-table-cell {
	padding: 10px 0;
	margin-left: 15px;
	border-bottom: 1px #D5D5D5 solid;
}

.cky-drop-body.cky-active, .cky-drop-content.cky-active {
	display: block;
}

.cky-drop-table-cell.cky-active,.cky-drop-btn.cky-active {
	color: #33CCCC;
}

.cky-drop-btn:after {
	content: "\e605";
	font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    padding-left: 5px;
}

.cky-update {
	position: absolute;
	right: 8px;
	top: 8px;
}

.cky-update.cky-update-center {
	top: 50%;
	-webkit-transform: translateY(-50%);
}

.cky-update.cky-update-nav {
	right: 35px;
}

p.cky-update {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
	text-align: right;
}

/** 指数 **/
.cky-zhishu {
	display: inline-block;
	height: 20px;
	background-repeat: repeat-x;
	background-size: 20px;
	background-position: 0 50%;
	background-image: url(../images/zhishu.png);
	vertical-align: top;
}

.cky-zhishu1 {
	width: 20px;
}

.cky-zhishu2 {
	width: 40px;
}

.cky-zhishu3 {
	width: 60px;
}

.cky-address-hr {
	margin: 0;
	border: none;
	height: 5px;
	background: repeating-linear-gradient(315deg,
              #fb3 25%, #58a 0, #58a 50%,
              #fb3 0, #fb3 75%, #58a 0);
	background-size: 30px 30px; 
}

.cky-zhishu4 {
	width: 80px;
}

.cky-zhishu5 {
	width: 100px;
}

.cky-select {
	font-size: 15px;
	color: #999;
	border: solid 1px #999;
	border-radius: 3px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding-left: 3px;
	padding-right: 25px;
	position: relative;
}

.cky-select::after {
	font-family:"iconfont" !important;
  	font-size:8px;
  	font-style:normal;
  	-webkit-font-smoothing: antialiased;
  	-webkit-text-stroke-width: 0.2px;
  	-moz-osx-font-smoothing: grayscale;
	content: "\e611";
	position: absolute;
	display: block;
	border-left: solid 1px #999;
	right: 0px;
	top: 0px;
	width: 20px;
	height: 100%;
	text-align: center;
}

.cky-select:active {
	color: #f60;
}

.cky-select-list {
	border-radius: 5px;
	width: 80vw;
	max-height: 80vh;
	overflow: auto;
}

.cky-select-list .mui-table-view-cell {
	font-size: 24px;
}

.cky-mtop-10 {
	margin-top:  10px;
}

.cky-text-left {
	text-align: left;
}

.cky-text-right {
	text-align: right;
}

.cky-text-center {
	text-align: center;
}

.cky-cart-btn {
	position: absolute!important;
	top: -2px!important;
	right: 50px;
}
