.mui-content-bottom {
	padding-bottom: 50px;
}

.cky-media p, .cky-table-view-cell, .cky-table-view-cell span, .cky-table-view-cell, .cky-grid-cell {
	color: #333;
}

.swiper-img {
	display: block;
	margin-bottom: 30px;
	border: solid 3px darkgreen;
	border-radius: 10px;
	height:50vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cky-grid:after,.cky-table-view:after {
	content: " ";
	height:1px;
	display: block;
	clear: both;
}

.cky-grid .cky-grid-cell{
	float: left;
	text-align: center;
	font-size:17px;
	display: block;
}

.cky-grid4 .cky-grid-cell{
	width: 25%;
}

.cky-grid2 .cky-grid-cell{
	width: 50%;
}

.cky-grid4 .cky-grid-cell img{
	width:60%;
	max-width: 90px;
	display: block;
	margin:5px auto;
}

.cky-special {
	margin-top:10px;
	background-color: #eee;
	border: solid 1px green;
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	.cky-special .cky-grid-cell {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background-repeat: no-repeat;
		border: 1px solid transparent;
		background-position: 90% 50%;
		background-size: 10vw 10vw;
		padding-right: 12vw;
		padding-top: 5vw;
		padding-bottom: 5vw;
	}
	
	.cky-hotpot-ticket {
		background-image: url(../images/hotpot-ticket.png);	
		border-right-color:#C0C0C0!important;
		border-bottom-color:#C0C0C0!important;
	}
	
	.cky-points-edemption {
		background-image: url(../images/points-edemption.png);		
		border-bottom-color:#C0C0C0!important;
	}
	
	.cky-scratch-off {
		background-image: url(../images/scratch-off.png);	
		border-right-color:#C0C0C0!important;
	}
	
	.cky-delivery-free {
		background-image: url(../images/delivery-free.png);
	}
	
	.cky-grid2 .cky-media p{
		font-size:  16px;
		color:#333;
		line-height: 1.1;
	}
	
	.cky-grid2 .cky-media h5{
		font-size:  13px;
		color:#666;
	}
	
	.cky-animate-scale {
		transition: transform 0.2s;
		-webkit-transition: -webkit-transform 0.2s;
	}
	
	.cky-animate-scale:active {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
	}
	
	.cky-center {
		display:-webkit-box; 
		-webkit-box-orient:horizontal; 
		-webkit-box-pack:center; 
		/*-webkit-box-align:center;  */
		display:-moz-box; 
		-moz-box-orient:horizontal; 
		-moz-box-pack:center; 
		/*-moz-box-align:center; */
		display:-o-box; 
		-o-box-orient:horizontal; 
		-o-box-pack:center; 
		/*-o-box-align:center;  */
		display:-ms-box; 
		-ms-box-orient:horizontal; 
		-ms-box-pack:center; 
		/*-ms-box-align:center;  */
		display:box; 
		box-orient:horizontal; 
		box-pack:center; 
		/*box-align:center; */
	}
	.cky-media-content {
		margin-top:3px;
		margin-bottom: 3px;
		font-size: 17px;
		height:45px;
		vertical-align: middle;
		overflow: hidden;
		text-align:left;
		font-size:16px;
	}
	.cky-ellipsis2{
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.cky-left {
		float: left;
	}

	.cky-right {
		float: right;
	}

	.cky-table-view .cky-media {
		padding-left: 94px;
	}
	
	.cky-table-view-cell {
		display: block;
		position: relative;
		border-top:1px solid #C0C0C0;
		padding-top:10px;
		padding-bottom: 10px;
		padding-left:8px;
		padding-right:8px;
		margin-left:-8px;
		margin-right:-8px;
	}

	.cky-money {
		color: #33CCCC !important;
		font-size: 20px;
	}

	.cky-money-old,h5,.cky-media-content {
		color: #999;
	}

	.cky-money-old {
		text-decoration:line-through;
		font-size:14px;
	}
	
	.cky-table-cell-thumb{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height:90px;
		width: 90px;
		position: absolute;
		left:8px;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		overflow: hidden;
	}
	
	.cky-free-reserve:before {
		content: "免预约";
		position: absolute;
		left:0px;
		top:0px;
		display: block;
		font-size: 15px;
		line-height: 1.5;
		color:#fff;
		width:85px;
		text-align: center;
		background-color: #33CCCC;
		transform: matrix(0.707107,-0.707107,0.707107,0.707107, -20, 12);
		-webkit-transform: matrix(0.707107,-0.707107,0.707107,0.707107, -20, 12);
	}