.swiper-container,.swiper-img {
	height: 30vw;
}

.mall-yyg-nav {
	height: 25vw
}

.swiper-container-horizontal>.swiper-pagination {
	bottom: 0px;
}

/** 搜索框样式 **/

.mall-search-bar {
	position: fixed;
	height: 44px;
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 9;
	display: table;
	table-layout: fixed;
	width: 100%;
	background-color: #f9f9f9;
	overflow: hidden;
}

nav.mall-search-bar + .mui-content {
	padding-top: 44px;
}

header.mui-bar + .mall-search-bar {
	top: 44px;
}

header.mui-bar + .mall-search-bar + .mui-content {
	padding-top: 88px;
}

.mall-search-bar .mall-search-bar-item {
	display: table-cell;
}

.mall-search-bar a.mall-search-bar-item {
	width: 44px;
	text-align: center;
	color: #333;
	padding-top: 13px;
}

.mall-search-bar a.mall-search-bar-item .iconfont,
.mall-search-bar a.mall-search-bar-item .mui-icon {
	font-size: 24px;
}

.mall-search-bar div.mall-search-bar-item {
	position: relative;
	color: #999;
	-webkit-transition: width 0.5s ease-in-out;
}

.mall-search-bar div.mall-search-bar-item input {
	position: absolute;
	left: 0px;
	top: 8px;
	width: 100%;
	outline-style: none;
	border: 0px;
	padding: 0px;
	background-color: #EEEEEE;
	padding: 7px 6px 7px 34px;
	border-radius: 5px;
	font-size: 14px;
	color: #333;
}

.mall-search-bar div.mall-search-bar-item input::-webkit-input-placeholder {
	color: #ccc;
}

.mall-search-bar div.mall-search-bar-item .iconfont {
	position: absolute;
	left: 6px;
	top: 13px;
	font-size: 18px;
	z-index: 2;
}

.mall-search-bar a.mall-search-bar-item.mall-search-bar-text-item {
	text-align: center;
	/*-webkit-transform: translateY(-13px);
	padding-bottom: -13px;*/
	position: relative;
}

.mall-search-bar a.mall-search-bar-item.mall-search-bar-text-item >div {
	font-size: 12px;
	line-height: 12px;
	-webkit-transform: translateY(5px);
}

.mall-search-bar a.mall-search-bar-item.mall-search-bar-text-item .iconfont {
	font-size: 20px;
	position: absolute;
	top: 3px;
	left: 50%;
	-webkit-transform: translateX(-50%);
}


/** 今日夺宝 **/

.mall-yyg-nav {
	background-color: #fff;
}

.mall-yyg-nav-icon {
	background-image: url(../images/jinriduobao.png);
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: 50% 50%;
	height: 10vw;
}

.mall-yyg-ads {
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: 50% 50%;
}

.mall-yyg-nav-count {}

.mall-yyg-nav-count-d {
	display: inline-block;
	padding: 0;
	margin: 0px;
	color: #333;
}

.mall-yyg-nav-count-t {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 0px 2px;
	border-radius: 2px;
}

.mall-yyg-nav-ads {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}


/** 模块标题 **/

.mall-mod-title {
	margin: 5px 0 0px 0;
	background-color: #fff;
	padding: 5px 0;
}

.mall-mod-title .mui-text-left {
	padding-left: 10px;
}

.mall-mod-title .mui-text-left::before {
	display: inline-block;
	content: "";
	width: 5px;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
}

.mall-mod-title.mall-mod-activity .mui-text-left::before {
	background-color: #C41E04;
}

.mall-mod-title.mall-mod-market .mui-text-left::before {
	background-color: #24B300;
}

.mall-mod-title.mall-mod-life .mui-text-left::before {
	background-color: #6C15AB;
}

.mall-mod-title .mui-text-right {
	padding-right: 6px;
}

.mall-mod-title .mui-text-right a {
	color: #666;
}

.mall-mod-title .mui-text-right::after {
	font-size: 17px;
	display: inline-block;
	content: "\e63d";
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	margin-left: 3px;
	color: #999;
}


/** 促销活动 **/

.mall-mod::after {
	display: block;
	height: 0px;
	content: "";
	clear: both;
	visibility: hidden;
}

.mall-mod .mall-mod-cell {
	float: left;
	display: block;
}

.mall-mod.mall-mod-activity .mall-mod-cell {
	width: 33.3333%;
	height: 30vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}


/** 热门市场 **/

.mall-mod.mall-mod-market {
	background-color: #fff;
	border-top: 1px solid #E1E1E1;
}

.mall-mod-market-cell1 {
	position: relative;
	height: 20vw;
	padding: 2vw;
	border-bottom: 1px solid #E1E1E1;
	color: #333;
}

.mall-mod-market-cell1:last-child {
	border-left: 1px solid #E1E1E1;
}

.mall-mod-market-cell1 .mall-mod-market-thumb {
	background-repeat: no-repeat;
	background-size: contain;
	height: 16vw;
	width: 16vw;
	position: absolute;
	right: 2vw;
	top: 2vw;
}

.mall-mod-market-cell2 {
	position: relative;
	height: 30vw;
	padding: 2vw;
	border-bottom: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	color: #333;
	text-align: center;
}

.mall-mod-market-cell2 .mall-mod-market-thumb {
	background-repeat: no-repeat;
	background-size: contain;
	height: 14vw;
	width: 14vw;
	position: absolute;
	left: 50%;
	bottom: 2vw;
	-webkit-transform: translateX(-50%);
}

.mui-table .mall-mod-market-cell2:first-child {
	border-left: none;
}


/** 惠生活 **/

.mall-mod-title.mall-mod-life {
	table-layout: auto;
	width: 100%;
}

.mall-mod.mall-mod-life {
	height: 37.5vw;
	background-color: #fff;
	white-space:nowrap;
    overflow-x:auto;
    overflow-y: hidden;
}

.mall-mod.mall-mod-life .mall-mod-life-cell {
	height: 37.5vw;
	display: inline-block;
	width: 75vw;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


/** 热销推荐 **/

.mall-mod-title.mall-mod-hot {
	text-align: center;
	padding: 5px 0 5px 0px;
	color: #999px;
	font-size: 13px;
	background-color: #efeff4;
}

.mall-mod-title.mall-mod-hot::before,
.mall-mod-title.mall-mod-hot::after {
	content: "";
	display: inline-block;
	height: 0px;
	border-bottom: solid 1px #999;
	width: 60px;
	margin: 3px 6px;
}

.mall-mod.mall-mod-hot {
	background-color: #fff;
}

.mall-mod.mall-mod-hot .mall-mod-hot-cell {
	width: 50vw;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: 4px solid #efeff4;
}

.mall-mod.mall-mod-hot .mall-mod-hot-cell p.mui-ellipsis-2 {
	height: 39px;
}

.mall-mod.mall-mod-hot .mall-mod-hot-cell p {
	padding: 0px 8px;
	position: relative;
}

.mall-mod.mall-mod-hot .mall-mod-hot-cell p.hot::after {
	position: absolute;
	right: 8px;
	top: 3px;
	display: block;
	background-color: #F20;
	color: #fff;
	content: "热销";
	font-size: 10px;
	padding: 0px 3px;
	line-height: 15px;
}

.mall-mod-hot-cell .mall-goods-prices-table .mui-table-cell:first-child {
	padding-left: 10px;
}

.mall-mod-hot-cell .mall-goods-prices-table .mui-table-cell:last-child {
	padding-right: 10px;
}

.mall-mod.mall-mod-hot .mall-mod-hot-cell:nth-child(odd) {
	border-right: 2px solid #efeff4;
}

.mall-mod.mall-mod-hot .mall-mod-hot-cell:nth-child(even) {
	border-left: 2px solid #efeff4;
}

.mall-mod-hot-thumb {
	height: 50vw;
	background-repeat: no-repeat;
	background-size: cover;
}


/** 商城分类 **/

.mall-category-left {
	position: fixed;
	top: 44px;
	z-index: 9;
	width: 100px;
	left: 0px;
	bottom: 0px;
	background-color: #efeff4;
	padding-right: 5px;
}

.mall-category-left-cell {
	height: 40px;
	font-size: 13px;
	color: #666;
	background-color: #fff;
	border-left: 3px #fff solid;
	margin-bottom: 4px;
	padding-top: 11px;
}

.mall-category-left-cell.cky-active {
	color: #f20;
	border-color: #f20;
	background-color: #efeff4;
}

.mall-category-right {
	padding-left: 100px;
}

.mall-category-right::after {
	content: "";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
	background-color: #efeff4;
}

.mall-category-right-cell {
	display: block;
	float: left;
	width: 33.333333%;
	background-color: #fff;
	border-right: #efeff4 5px solid;
	border-bottom: #efeff4 5px solid;
}

.mall-category-right-thumb {
	margin: 8px 15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	height: 20vw;
}

.mall-category-right-title {
	padding: 5px 5px 5px 105px;
	font-size: 10px;
}


/** 品牌样式 **/

.mall-brands.mall-top-brands {
	padding: 3px;
}

.mall-brands.mall-top-brands::after {
	content: "";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
	background-color: #efeff4;
}

.mall-brands.mall-top-brands .mall-brands-cell {
	display: block;
	padding: 2px;
	width: 25%;
	float: left;
}

.mall-brands.mall-top-brands .mall-brands-cell>a {
	border:solid 1px #fff;
	background-color: #fff;
	border-radius: 2px;
	padding: 6px 5px;
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	font-size: 14px;
	color: #666;
	position: relative;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mall-brands.mall-top-brands .mall-brands-cell.cky-active>a {
	border:solid 1px #f20;
	color: #f20;
}

/** 商品列表样式 **/

.mall-goods-table {
	display: block;
	list-style: none;
	padding: 0;	
	margin: 0;
	background-color: #fff;
}

.mall-goods-table-cell {
	display: block;
	padding: 10px;
	position: relative;
}

.mall-goods-table-cell::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 32vw;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.mall-goods-table-cell:last-child::after {
	display: none;
}

.mall-goods-table-cell>.mui-table>.mui-table-cell {
	padding: 0 10px;
}

.mall-goods-prices-table {
	padding: 10px 0;
	width: 100%;
	table-layout: auto;
}

.mall-goods-prices-table .mui-table-cell {
	white-space: nowrap;
}

.mall-goods-table-cell .mall-goods-thumb {
	width: 30vw;
	min-height: 30vw;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

/** 排序菜单 **/
.mall-menu {
	position: fixed;
	top: 44px;
	left: 0px;
	height: 44px;
	width: 100%;	
	border-bottom: solid 1px #D5D5D5;
	background-color: #fff;
}

nav.mall-search-bar + .mall-menu + .mui-content {
	padding-top: 88px;
}

.mall-menu > .mui-table-cell {
	line-height: 44px;
	text-align: center;
	font-size: 14px;
	color: #999;
}

.mall-menu input {
	display: none;
}

.mall-menu input:checked + label {
	color: #f20
}


.mall-menu label span {
	position: relative;
	display: inline-block;
}

.mall-menu .iconfont {
	font-size: 9px;
	color: #999;
}

.mall-menu .iconfont.icon-desc {
	position: absolute;
	top:0px;
	right: 0px;
}

.mall-menu input[type='radio'][value='3'] + label.cky-active .icon-desc,
.mall-menu input[type='radio'][value='4'] + label.cky-active .icon-asc {
	color: #FF5053;
}

.mall-menu .mall-filter-btn::before {
	content: "";
	display: block;
	width: 1px;
	background-color: #D5D5D5;
	position: absolute;
	left: 0px;
	top: 10px;
	bottom: 10px;
}

/** 筛选侧栏 **/

.mall-right-side {
	background-color: rgba(0,0,0, 0);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999;
	transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
}

.mall-right-side-content {
	margin-left: 20%;
	width: 80%;
	height: 100%;
	background-color: #fff;
	position: relative;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out;
}

.mall-right-side-top {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom:44px;
	right: 0px;
	overflow: auto;
	padding: 10px;
}

.mall-right-side-bottom {
	position: absolute;
	bottom:0px;
	left: 0px;
	right: 0px;
	height: 44px;
	line-height: 42px;
	border-top: 1px solid #D5D5D5;
}

.mall-right-side-bottom>.mui-table-cell:first-child {
	padding-left: 10px;
}

.mall-right-side-bottom button {
	padding: 0;
	margin: 0;
	text-align: center;
	height: 44px;
	width: 100px;
	background-color: #F20;
	color: #fff;
	font-size: 15px;
	border: none;
}

.mall-right-side.cky-active {
	background-color: rgba(0,0,0, 0.2);
}

.mall-right-side.cky-active .mall-right-side-content {
	transform: translateX(0);
	-webkit-transform: translateX(0);
} 

/** 品牌样式 **/

.mall-brands.mall-side-brands {
	padding: 3px;
}

.mall-brands.mall-side-brands::after {
	content: "";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
	background-color: #efeff4;
}

.mall-brands.mall-side-brands .mall-brands-cell {
	display: block;
	padding: 2px;
	width: 33.3333333%;
	float: left;
}

.mall-brands.mall-side-brands .mall-brands-cell>a {
	border:solid 1px #fff;
	background-color: #fff;
	border-radius: 2px;
	height: 50px;
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	font-size: 14px;
	color: #666;
	position: relative;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.mall-brands.mall-side-brands .mall-brands-cell.cky-active>a {
	border:solid 1px #f20;
	color: #f20;
}