.add-consignee {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 60px;
	height: 60px;
	color: #f60;
	text-align: center;
}

.cky-order-item {
	height: 30px;

	line-height: 30px;
}
.cky-order-item .cky-update {
	top: 0px;
	right: 0px;
}
.cky-order-item .cky-update span {
	display: inline-block;
	text-align: right;
	width: 50px;
	color: #999;
	font-size: 13px;
}

.cky-order-money {
	text-align: right;
	color: #333;
	height: 30px;
	line-height: 30px;
}

.cky-order-money span {
	display: inline-block;
	margin-left: 15px;
}

.cky-footer {
	background-color: #fff;
	border-top: solid 1px #D5D5D5;
	padding-left: 15px;
	height: 44px;
	line-height: 44px;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.cky-footer .cky-update {
	top:0px;
	right:0px;
	height: 44px;
}

.cky-footer .cky-update {
	border: none;
	border-radius: 0;
	background-color: #f60;
	width: 100px;
}

h4.order-type {
	text-align: center;
	position: relative;
	line-height: 40px;
	height: 40px;
}
h5.order-type {
	text-align: center;
}

.status-block {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	
}

.status-block-img {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 150px;
	width: 150px;
	line-height: 170px;
	margin: auto;
	text-align: center;
	color: #EA5A2A;
	font-size: 24px;
}

.status-block-img-time {
	background-image: url(../images/iconfont-shizhong.png);
}

.status-block-img-close {
	background-image: url(../images/iconfont-cancel-order.png);
}

.status-block-img-done {
	background-image: url(../images/iconfont-done-order.png);
}

#cancel, #pay, #goshop {
	background-color: transparent;
	font-size: 17px;
	display: table-cell;
	margin: 0;
	text-align: center;
}

#cancel {
	color: #333;
}

#pay {
	color: #f60;
	border-left: 1px solid #d5d5d5;
}

@media only screen and (min-width: 375px) and (max-width 399){
	.status-block {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.status-block-img {
		height: 180px;
		width: 180px;
		line-height: 220px;
		font-size: 30px;
	}
}

@media only screen and (min-width: 400px){
	.status-block {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	
	.status-block-img {
		height: 210px;
		width: 210px;
		line-height: 240px;
		font-size: 36px;
	}
}

#orderList {
	background-color: #eee;
}

.cky-order-title {
	width: -webkit-calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.cky-col-view {
	table-layout: auto;
}

/* 订单详情 */

.cky-order-detail-header {
	color: #FFF;
	font-size: 17px;
	background-color: #40413e;
	height: 100px;
	line-height: 100px;
	padding-left: 40px;
	position: relative;
}

table.cky-order-detail-table {
	width: 100%;
}

table.cky-order-detail-table td.icon {
	width: 25px;
}

img.cky-order-detail-logo {
	height: 72px;
	width: 72px;
	position: absolute;
	top: 14px;
	right: 45px;
}
