.cky-head-img {
	height: 35vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	position: relative;
	/*background-color: #fff;*/
}

.cky-head-img h4 {
	position: absolute;
	bottom: 8px;
	left: 8px;
}

.cky-head-img a {
	color: #fff;
	opacity: 0.8;
	position: absolute;
	bottom: 8px;
	right: 15px;
	font-size: 14px;
}

.cky-head-img a * {
	vertical-align: middle;
}

.cky-head-img a .iconfont {
	font-size: 20px;
	margin-right: 6px;
}

.shop-detail-sub {
	margin-top: 8px;
	font-size: 16px;
	padding-right: 80px;
	position: relative;
	line-height: 1.1;
}

.shop-detail-button {
	position: absolute;
	right:0px;
	top:-3px;
}

.shop-detail-button .iconfont {
	font-size: 24px;
	margin-left: 12px;
	color: inherit;
}

.shop-detail-button .iconfont.cky-active, .shop-detail-button .iconfont:active {
	color: #FF4040;
}

.cky-detail-table:after {
	height:0;
	display: block;
	content:"";
	clear: both;
}

.cky-detail-col1 {
	float: left;
}

.cky-detail-col2 {
	float: right;
}

.cky-detail-col2:last-child{
	text-align: right;
}

@media only screen and (max-width: 330px) {
	.cky-detail-table {
		font-size: 12px;
	}
}

/** 产品购买按钮 **/
.cky-detail-buy-button {
	display: block;
    background-color: #fff;
    color: #666;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    width: 50px;
    text-align: center;
    border-radius: 3px;
    padding: 0;
}

.mui-slider-item {
	background-color: #fff;
}

.cky-media-content {
	height: 35px;
}

.cky-detail-buy-button:active {
	color: #fff;
	opacity: 0.8;
}


.cky-sold-out-btn.cky-detail-buy-button {
	 color: lightgray;
}

.cky-table-view-cell:first-child {
    border-top: none;
}

.cky-activity-cell {
	margin: 10px 0;
}

.cky-table-view-cell .cky-right {
	-webkit-transform: translateY(-4px);
}
	
.cky-activity-cell img {
	width: 100%;
}
