<link rel="stylesheet" href="__CSS__/swiper.min.css" />
<link rel="stylesheet" href="__CSS__/{:autoVer('mall.css')}" />
<script>var cacheKey = "driver_cart_{$shopId}"; </script>

<style>
	
	.mall-search-bar, header {
		-webkit-transition: top 0.2s ease-in-out;
	}
	
	.mall-search-bar.searching {
		top: 0px!important;
	}
	
	header.searching {
		top: -44px!important;
	}
	
	.mall-search-bar.searching a.searching {
		width: 8px;
	}
	.mall-search-bar.searching a.searching *{
		display:none;
	}
	
	.mall-search-bar a:last-child {
		display:none;
		-webkit-transform: translateY(-2px);
	}
	
	.mall-search-bar.searching a:last-child {
		display:table-cell;
	}
	
	#body.searching  {
		display: none;
	}

	ul.label-list {
		display: inline-block;
		position:absolute;
		top: 8px;
		left: 34px;
		list-style: none;
		padding: 5px 0px;
		margin: 0px;	
	}
	
	ul.label-list::after: {
		content: "";
		height: 1px;
		visibility: hidden;
		display:block;
		clear:both;
	}
	
	ul.label-list li {
		display: block;
		float: left;
		background-color: #666;
		color: #fff;
		font-size: 12px;
		margin-right: 3px;
		padding: 0px 10px;
		border-radius: 15px;
		max-width: 100px;
		overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	
	/*ul.label-list li::after{
		content: "\00D7";
		margin-left: 5px;
	}*/
</style>

<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">{$title}</h1>
</header>
<nav class="mall-search-bar">
	<a class="mall-search-bar-item searching" id="catsButton" data-stable="true"><i class="iconfont icon-list"></i></a>
	<div class="mall-search-bar-item">
		<i class="iconfont icon-sousuo"></i>
		<input id="searchInput" class="mall-need-search" placeholder="搜索超市商品"/>	
		<ul id="labelList" class="label-list" style="display:none;">
			<li></li>
			<li></li>
		</ul>
	</div>
	<a id="cartButton" class="mall-search-bar-item searching" href="{:U('Cart/index')}?cacheKey=driver_cart_{$shopId}"><i class="cky-cart iconfont icon-gouwuche"><span class="cky-cart-count cky-hidden"></span></i></a>
	<a class="mall-search-bar-item" id="searchButton">搜索</a>
</nav>

<div id="body" class="mui-content mui-content-bottom">
	<div>
		<!-- Slider main container -->
		<div class="swiper-container">
		    <!-- Additional required wrapper -->
		    <div class="swiper-wrapper">
		        <!-- Slides -->
		        <foreach name="ads" item="item">
	        			<div class="swiper-slide"><a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFileThumb}');"></a></div>
		        </foreach>
		    </div>
		    <!-- If we need pagination -->
		    <div class="swiper-pagination"></div>
		</div> 
		 
		<div class="mall-mod mall-mod-hot" data-bind="foreach: goods">
			<div class="mall-mod-hot-cell" data-bind="attr: { href: '{:U('Goods/detail')}?id=' + goodsId }">
				<a data-bind="attr: { href: '{:U('Goods/detail')}?id=' + goodsId }">
					<div class="mall-mod-hot-thumb" data-bind="style: { backgroundImage: 'url(/' + goodsThums + ')' }">
						<!-- ko if: goodsStock == 0 -->
						<div class="cky-sold-out">
							<div class="cky-sold-out-title">抢光了</div>
							<div class="cky-sold-out-sub">SOLD OUT</div>
						</div>
						<!-- /ko -->
					</div>
					<p class="mui-ellipsis-2" data-bind="text: goodsName"></p>
					<p class="font12" data-bind="css: { hot: Number(isHot) == 1 }">销量<span data-bind="text: saleCount"></span>件</p>
				<a/>
				<div class="mui-table mall-goods-prices-table">
					<div class="mui-table-cell">
						<r class="font12">¥</r><r class="font15" data-bind="text: shopPrice"></r>
					</div>
					<div class="mui-table-cell mui-text-right">
						<a data-bind="click: $parent.addCartClick,css: { 'cky-sold-out-btn': goodsStock == 0 }" class="cky-add-cart-btn"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:tab"/>
<include file="search"/>
<script src="__JS__/swiper.jquery.min.js"></script>
<script type="text/javascript" src="__KO__"></script>
<script type="text/javascript" src="__JS__/{:autoVer('shopcart.js')}"></script>
<script type="text/javascript" src="__JS__/{:autoVer('drop-menus.js')}"></script>
<script>
	$(function() { 
		// 轮播广告
		var mySwiper = new Swiper ('.swiper-container', {
	      	// Optional parameters
	      	direction: 'horizontal',
	      	pagination: '.swiper-pagination',
	      	autoplay: 3000,
	      	loop: true
	   	});
	   	
	   	var cartButton = $("#cartButton"); 
	   	
	   	// 商品
	   	var goods = [];
		var vm = {
			goods: ko.observableArray(goods),
			addCartClick: onaddcartclick
		};
		ko.applyBindings(vm, document.getElementById("body"));
		
		var pageNo = 1;
		var catId = 0;
		var keywords = "";
		function page() {
			var _pageNo = pageNo;
			$.getJSON("{:U('Deliver/ptg')}", {
				pageNo: pageNo,
				shopId: {$shopId},
				catId: catId,
				keywords: keywords,
			}, function(list) {
				if(_pageNo < 2) {
					goods.length = 0;
					vm.goods.removeAll();
				}
				
				util.endScroll("#body");
				if(list && list.length > 0) {
					pageNo++;
					goods = goods.concat(list);
					vm.goods(goods);
				} else {
					$(".mall-mod-hot").nodata("没有发现相关商品");
				}
			});
		}
		util.onScrollEnd(page, "#body");
		page();
		
		// 购物车
		function onaddcartclick(obj, evt) {
			if(obj.goodsStock > 0) {
				$(evt.delegateTarget).flyTo(cartButton);
				cky.addToShopCart(obj);
			}
		}
		
		// 分类
		
		$.getJSON("{:U('Fast/cats')}", { shopId: "{$shopId}" }, function(list) {
			if(list) {
				$("#catsButton").dropMenu({
					idProperty: "catId",
					nameProperty: "catName",
					menus: list,
					callback: function(evt) {
						catId = evt.catId;
						catName = catId == 0 ? "" : evt.catName;
						force = true;
						pageNo = 1;
						page();
						updateLabels();
					}
				});
			}
		});
		
		var catName = "";
		var keywords = "";
		var labelList = $("#labelList");
		var categoryLi = $("li:first", labelList);
		var keywordsLi = $("li:last", labelList);
		var searchInput = $("#searchInput");
		function updateLabels() {
			categoryLi.text(catName);
			keywordsLi.text(keywords);
			categoryLi.css("display", catName ? "": "none");
			keywordsLi.css("display", keywords ? "": "none");
			labelList.css("display", catName || keywords ? "": "none");
			
			if(catName) {
				searchInput.css("padding-left", categoryLi.outerWidth() + 40);
			} else {
				searchInput.css("padding-left", 34);
			}
		}
		
		searchInput.focus(function() {
			$("#body").addClass("searching");
			$(".mall-search-bar").addClass("searching");
			$("header").addClass("searching");
			
			searchInput.val(keywords);
			keywords = "";
			updateLabels();
		}).blur(function() {
			$("#body").removeClass("searching");
			$(".mall-search-bar").removeClass("searching");
			$("header").removeClass("searching");
			keywords = $.trim(searchInput.val());
			updateLabels();
			
			pageNo = 1;
			page();
		});
		
		keywordsLi.click(function() {
//			searchInput.val(keywords);
//			keywords = "";
//			updateLabels();
			searchInput.focus();
		});
		
		categoryLi.click(function() {
			layer.open({
			    content: '是否取消分类？',
			    btn: ['是的', '不，我想想'],
			    shadeClose: false,
			    yes: function(){
			        layer.closeAll()
			        catId = 0;
			        catName = "";
			        updateLabels();
			        pageNo = 1;
			        page();
			    }, no: function(){
			        keywords = searchInput.val();
					updateLabels();
			    }
			});
		});
		
		$("#searchButton").click(function() {
			keywords = $.trim(searchInput.val());
			updateLabels();
			pageNo = 1;
			page();
		});
	});
</script>
<script>  
	var currentCity = $("#cityLabel").text();
	var currentLongitude = 0;
	var currentLatitude = 0;
	
	var shareData = {
	    title: '粗卡',
	    desc: '粗卡-商城',
	    link: window.location.href,
	    imgUrl: ''
	};
	
	currentCity=cky.storage.getItem("currentCity");
	if(currentCity)
	{
		currentLongitude =cky.storage.getItem("currentLongitude");
		currentLatitude =cky.storage.getItem("currentLatitude");
		$("#cityLabel").text(currentCity);
	}
	else
	{
		wxext = function(){
			getlocation=null;
		};
		var signPackage=new Object(); 
		signPackage.appId='{$signPackage.appId}';
		signPackage.timestamp={$signPackage.timestamp};
		signPackage.nonceStr='{$signPackage.nonceStr}';
		signPackage.signature='{$signPackage.signature}';
		signPackage.Location=1;//调用
		//signPackage.ak="{$CONF['bmapAK']}";
		 
//		wxext.getlocation= function(lng, lat, city, areaId) {
//			currentLongitude = lng;
//			currentLatitude = lat;	
//			if(city) {
//				$("#cityLabel").text(city.replace(/市$/, ""));
//				currentCity = city.replace(/市$/, "");
//				
//				cky.storage.setItem("currentCity", currentCity, 15 * 60);//15分钟
//				cky.storage.setItem("currentLongitude", currentLongitude, 15 * 60);
//				cky.storage.setItem("currentLatitude", currentLatitude, 15 * 60);
//			}
//		}; 

	}// end storage
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
<script src="__JS__/{:autoVer('wxjsapi.js')}?10"></script>

