<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		速达农村配送
	</h1>
</header>

<link rel="stylesheet" href="__CSS__/swiper.min.css" />
<script src="__JS__/swiper.jquery.min.js"></script>
<div class="mui-content mui-content-bottom">
	<!-- Slider main container -->
	<div class="swiper-container">
	    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
	        <!-- Slides -->
	        <foreach name="ads" item="item">
        	<div class="swiper-slide"><a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFileThumb}');"></a></div>
	        </foreach>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	</div>
	<div class="mui-content-padded">
		<div class="cky-grid cky-grid4">
			<a class="cky-grid-cell font8 cky-animate-scale" href="{:U('Deliver/detail',array('shopid'=>'44'))}"><img src="__IMG__/deliver/hxz.png"/>河西镇</a>
			<a class="cky-grid-cell font8 cky-animate-scale" id="z1"><img  id="gltjct" src="__IMG__/deliver/jjz2.png"/>九街镇</a>
			<a class="cky-grid-cell font8 cky-animate-scale" id="z2"><img src="__IMG__/deliver/ngz2.png"/>纳古镇</a>
			<a class="cky-grid-cell font8 cky-animate-scale" id="z3"><img src="__IMG__/deliver/ygz2.png"/>杨广镇</a>
		</div>
	</div>
	<div class="cky-grid cky-grid2 cky-special">
			<a class="cky-grid-cell cky-hotpot-ticket">
				<div class="cky-media" id="m1">
					<p style="color: #1558A0;">情人节专场</p>
					<h5>数量有限 售完即止</h5>
				</div>
			</a>
			<a class="cky-grid-cell cky-points-edemption">
				<div class="cky-media" id="m2">
					<p style="color: #4BA837;">幸运抽奖</p>
					<h5>好运气 快来玩</h5>
				</div>
			</a>
			<a class="cky-grid-cell cky-scratch-off">
				<div class="cky-media" id="m3">
					<p style="color: #CA4D82;">鲜奶配送</p>
					<h5>机会不容错过</h5>
				</div>
			</a>
			<a class="cky-grid-cell cky-delivery-free">
				<div class="cky-media" id="m4">
					<p style="color: #e0a942;">12点专场 </p>
					<h5>卡券派送 商家大让利</h5>
				</div>
			</a>
		</div>
</div>

<include file="Public:tab"/>
<script>  
	 
	var currentLongitude = 0;
	var currentLatitude = 0;
	
	var shareData = {
	    title: '粗卡',
	    desc: '粗卡云管理',
	    link: window.location.href,
	    imgUrl: ''
	}; 
		 
	try
	{	
		var signPackage=new Object(); 
		signPackage.appId='{$signPackage.appId}';
		signPackage.timestamp={$signPackage.timestamp};
		signPackage.nonceStr='{$signPackage.nonceStr}';
		signPackage.signature='{$signPackage.signature}';
	}catch(e){
		
	}
</script>

<script type="text/javascript" src="__KO__"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
<script src="__JS__/{:autoVer('wxjsapi.js')}?11"></script>
<script>
	$(function() { 
		var mySwiper = new Swiper ('.swiper-container', { 
	      direction: 'horizontal',
	      pagination: '.swiper-pagination',
	      autoplay: 3000,
	      loop: true
	 	});	   
	   
		$("#z1").click(function(){cky.toast('敬请期待...');});		 
		$("#z2").click(function(){cky.toast('敬请期待...');});
		$("#z3").click(function(){cky.toast('敬请期待...');});
		
		$("#m1").click(function(){cky.toast('敬请期待...');});
		$("#m2").click(function(){cky.toast('敬请期待...');});
		$("#m3").click(function(){cky.toast('敬请期待...');});
		$("#m4").click(function(){cky.toast('敬请期待...');});
		
	});
</script>
