<header class="mui-bar mui-bar-nav">
	<button class="mui-btn mui-btn-link mui-pull-left">海通 ▼</button>
	<h1 id="title" class="mui-title">{$title}</h1>
	<button class="mui-btn mui-btn-link mui-pull-right">我的</button>
</header>

<link rel="stylesheet" href="__CSS__/swiper.min.css" />
<script src="__JS__/swiper.jquery.min.js"></script>
<div class="mui-content mui-content-bottom mui-content-padded">
	<!-- Slider main container -->
	<div class="swiper-container">
	    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
	        <!-- Slides -->
	        <foreach name="ads" item="item">
        	<div class="swiper-slide"><a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFile}');"></a></div>
	        </foreach>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	</div>

	<div class="cky-grid cky-grid4">
		<a class="cky-grid-cell cky-animate-scale"><img src="__IMG__/seller.png"/>商家</a>
		<a class="cky-grid-cell cky-animate-scale"><img src="__IMG__/restaurant.png"/>推荐餐厅</a>
		<a class="cky-grid-cell cky-animate-scale"><img src="__IMG__/activities.png"/>活动</a>
		<a class="cky-grid-cell cky-animate-scale" href="{:U('Fast/index')}"><img src="__IMG__/takeaway.png"/>外卖</a>
		<a class="cky-grid-cell cky-animate-scale"><img src="__IMG__/monkey.png"/>小猴快跑</a>
		<a class="cky-grid-cell cky-animate-scale"><img src="__IMG__/life.png"/>生活服务</a>
		<a class="cky-grid-cell cky-animate-scale"><img src="__IMG__/mall.png"/>商城</a>
		<a class="cky-grid-cell cky-animate-scale"><img src="__IMG__/other.png"/>其他</a>
	</div>
	
	<div class="cky-grid cky-grid2 cky-special">
		<a class="cky-grid-cell cky-hotpot-ticket">
			<div class="cky-media">
				<p>9.9 火锅券</p>
				<h5>新用户专享</h5>
			</div>
		</a>
		<a class="cky-grid-cell cky-points-edemption">
			<div class="cky-media">
				<p>积分抽奖</p>
				<h5>好运气 快来玩</h5>
			</div>
		</a>
		<a class="cky-grid-cell cky-scratch-off">
			<div class="cky-media">
				<p>一分钱 刮大奖</p>
				<h5>机会不容错过</h5>
			</div>
		</a>
		<a class="cky-grid-cell cky-delivery-free">
			<div class="cky-media">
				<p>卡券大派送</p>
				<h5>商家大让利</h5>
			</div>
		</a>
	</div>
	<br />
	<span>猜你喜欢</span>
	<div class="cky-table-view">
		<a class="cky-table-view-cell">
				<div class="cky-table-cell-thumb cky-free-reserve" style="background-image: url(__IMG__/dabbf221.jpg);">
					
				</div>
				<div class="cky-media">
					<span>华莱士</span>
					<h5 class="cky-right">推荐</h5>
					<div class="cky-center cky-media-content cky-ellipsis2 font16">
						测试费阿凡达测试费阿凡达多上测试两行会省略的打发打发的事发生发送
					</div>
					<span class="cky-money">￥19</span><span class="cky-money-old">￥90</span>
					<h5 class="cky-right">快去吧</h5>
			    </div>
		</a>
		<a class="cky-table-view-cell">
				<div class="cky-table-cell-thumb cky-free-reserve" style="background-image: url(__IMG__/fasdfa.jpg);">
					
				</div>
				<div class="cky-media">
					<span>华莱士</span>
					<h5 class="cky-right">推荐</h5>
					<div class="cky-center cky-media-content cky-ellipsis2 font16">
						测试费阿凡达测试费阿凡
					</div>
					<span class="cky-money">￥19</span><span class="cky-money-old">￥90</span>
					<h5 class="cky-right">快去吧</h5>
			    </div>
		</a>
		<a class="cky-table-view-cell">
				<div class="cky-table-cell-thumb" style="background-image: url(__IMG__/fafasdfsd.jpg);">
				</div>
				<div class="cky-media">
					<span>华莱士</span>
					<h5 class="cky-right">推荐</h5>
					<div class="cky-center cky-media-content cky-ellipsis2 font16">
						测试费阿凡达测试
					</div>
					<span class="cky-money">￥19</span><span class="cky-money-old">￥90</span>
					<h5 class="cky-right">快去吧</h5>
			    </div>
		</a>
	</div>
</div>

<include file="Public:tab"/>

<script>
	$(function() {
		var mySwiper = new Swiper ('.swiper-container', {
	      // Optional parameters
	      direction: 'horizontal',
	      pagination: '.swiper-pagination',
	      autoplay: 3000,
	      loop: true
	   });
	});
</script>
