<header class="mui-bar mui-bar-nav">
	<button class="mui-btn mui-btn-link mui-pull-left">通海 ▼</button>
	<h1 id="title" class="mui-title">{$title}</h1>
	<button class="mui-btn mui-btn-link mui-pull-right">我的</button>
</header>

<link rel="stylesheet" href="__CSS__/swiper.min.css" />
<script src="__JS__/swiper.jquery.min.js"></script>
<div class="mui-content mui-content-bottom mui-content-padded">
	<!-- Slider main container -->
	<div class="swiper-container">
	    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
	        <!-- Slides -->
	        <foreach name="ads" item="item">
        	<div class="swiper-slide"><a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFile}');"></a></div>
	        </foreach>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	</div>

	<div class="cky-grid cky-grid4">
		<a class="cky-grid-cell font8 cky-animate-scale" href="{:U('Shops/index')}"><img src="__IMG__/seller.png"/>商家</a>
		<a class="cky-grid-cell font8 cky-animate-scale"><img  id="gltjct" src="__IMG__/restaurant.png"/>推荐餐厅</a>
		<a class="cky-grid-cell font8 cky-animate-scale" id="glhd"><img src="__IMG__/activities.png"/>活动</a>
		<a class="cky-grid-cell font8 cky-animate-scale" href="{:U('Fast/index')}"><img src="__IMG__/takeaway.png"/>外卖</a>
		<a class="cky-grid-cell font8 cky-animate-scale" id="glxhkp"><img src="__IMG__/monkey.png"/>小猴快跑</a>
		<a class="cky-grid-cell font8 cky-animate-scale" id="glshfw"><img src="__IMG__/life.png"/>生活服务</a>
		<a class="cky-grid-cell font8 cky-animate-scale" id="glsc"><img src="__IMG__/mall.png"/>商城</a>
		<a class="cky-grid-cell font8 cky-animate-scale" id="glother"><img src="__IMG__/other.png"/>其他</a>
		
	</div>
	
	<div class="cky-grid cky-grid2 cky-special">
		<a class="cky-grid-cell cky-hotpot-ticket">
			<div class="cky-media" id="m1">
				<p>9.9 火锅券</p>
				<h5>新用户专享</h5>
			</div>
		</a>
		<a class="cky-grid-cell cky-points-edemption">
			<div class="cky-media" id="m2">
				<p>积分抽奖</p>
				<h5>好运气 快来玩</h5>
			</div>
		</a>
		<a class="cky-grid-cell cky-scratch-off">
			<div class="cky-media" id="m3">
				<p>一分钱 刮大奖</p>
				<h5>机会不容错过</h5>
			</div>
		</a>
		<a class="cky-grid-cell cky-delivery-free">
			<div class="cky-media" id="m4">
				<p>卡券大派送</p>
				<h5>商家大让利</h5>
			</div>
		</a>
	</div>
	<br />
	<span>猜你喜欢</span>
	<div id="guessList" class="cky-table-view" style="display: none;">
		<!-- ko foreach: $data -->
		<a class="cky-table-view-cell" data-bind="attr: { href: '{:U('goods/detail')}?id=' + goodsId }">
			<div class="cky-table-cell-thumb cky-free-reserve" data-bind="style: { backgroundImage: 'url(/' + goodsThums + ')' }">
				
			</div>
			<div class="cky-media">
				<span class="cky-media-name" data-bind="text: goodsName"></span>
				<h5 class="cky-right">推荐</h5>
				<div class="cky-center cky-media-content cky-ellipsis2 font16" data-bind="text: goodsSpec">
					
				</div>
				<span class="cky-money" data-bind="text: '￥' + shopPrice"></span><span class="cky-money-old"  data-bind="text: '￥' + marketPrice"></span>
				<h5 class="cky-right">快去吧</h5>
		    </div>
		</a>
		<!-- /ko -->
	</div>
</div>

<include file="Public:tab"/>
<script type="text/javascript" src="__KO__"></script>

<script>
	$(function() {
		var mySwiper = new Swiper ('.swiper-container', {
	      // Optional parameters
	      direction: 'horizontal',
	      pagination: '.swiper-pagination',
	      autoplay: 3000,
	      loop: true
	   });
	   
	   // 猜你喜欢的
	   var guessList = $("#guessList");
	   $.getJSON("{:U('guess')}", null, function(list) {
	   		ko.applyBindings(list, guessList[0]);
	   		guessList.show();
	   });
	   
	   //未开发功能提醒
		$('#gltjct').click(function(){cky.toast('敬请期待...');});
		$("#glhd").click(function(){cky.toast('敬请期待...');});
		$("#glxhkp").click(function(){cky.toast('敬请期待...');});
		$("#glshfw").click(function(){cky.toast('敬请期待...');});
		$("#glsc").click(function(){cky.toast('敬请期待...');});
		$("#glother").click(function(){cky.toast('敬请期待...');});
		
		$("#m1").click(function(){cky.toast('敬请期待...');});
		$("#m2").click(function(){cky.toast('敬请期待...');});
		$("#m3").click(function(){cky.toast('敬请期待...');});
		$("#m4").click(function(){cky.toast('敬请期待...');});
		
	});
</script>
