<html lang="en">
	<head>
		
		<title>资讯详情</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no"><meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link href="__CSS__/news/ionic.min.css" rel="stylesheet" type="text/css"/>
		<link href="__CSS__/news/index.css" rel="stylesheet" type="text/css"/>
		<link href="__CSS__/news/style.css" rel="stylesheet" type="text/css"/>
		<link href="__CSS__/news/news.css?_version=20160107" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="http://imgs.ooss.com/images/icons/css/r.css">
		<style type="text/css">
			.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}
			.background_custom, .button.background_custom, .bar.background_custom{ background: #E1E1E1;}
			.background_custom.title,.light, a.light{ color: #000000;}
			.ng-animate-shim{visibility:hidden;}
			.ng-anchor{position:absolute;}
		</style>
	</head>
	<body ng-app="home.ic" class="grade-a platform-browser platform-ios platform-ios8 platform-ios8_0 platform-ready">
					
		
			<ion-nav-view class="view-container" nav-view-transition="ios" nav-view-direction="none" nav-swipe="">
			<ion-view class="newCates pane" id="news_detail_detail" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
    		<ion-header-bar class="background_custom bar bar-header disable-user-behavior">
		        <a class="button  button-clear" href="#/news">
		            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		        </a>
	        	<h1 class="title light" style="left: 46px; right: 46px;">详情</h1>
		
		        <a class="button  button-clear share" >
		            <i class="hltc-share light"></i>
		        </a>
	    
	    	</ion-header-bar>
    <ion-content class="scrollUserSelect scroll-content ionic-scroll overflow-scroll  has-header has-footer" lazy-scroll="" scrollbar-y="true" overflow-scroll="true" 
    	delegate-handle="newsDetail" style="bottom:55px;"><div class="scroll">
        <ion-item class="item">
           <h1 style="letter-spacing: 2px;" ng-bind="news.title" class="ng-binding">{$data.articleTitle}</h1>
           	<p class="cates_title">浏览量：<span class="ng-binding">{$data.clicknum}</span>
                <span class="padding-left ng-binding" ng-bind="news.created | date:'yyyy-MM-dd HH:mm'">{$data.createTime} </span>
                <span ng-bind="news.replysNum+' 评论'" class="floatR padding-right ng-binding">{$data.appraisenum} 评论</span>
            </p>
            <!-- ngIf: data.videourl!='' -->
            <div ng-bind-html="news.content | content" class="news_content selectable ng-binding" data-tap-disabled="true&quot;">
				{$data.articleContent}
			</div>
        </ion-item>
         
        <if condition="$artiLength neq '0'">
	        <div class="list">
	            <div class="item detail_post_title"><h2>相关资讯</h2></div>
	            <div class="detail_post_content1">
	                <foreach name="Articles" item="item">                	
	                	<a class="item" href="{:U('detail',"",'')}?id={$item['articleId'] }"
	                		<span ng-bind="category.title" class="ng-binding">{$item['articleTitle'] }</span>
	                	</a>
	                </foreach>
	            </div>
	        </div>
        </if>
    </div>
    </ion-content>
    <ion-footer-bar class="padding new_posts_bottom_reply bar bar-footer background_eee" style="height: 55px;" ng-class="{true:'background_eee'}[data.loaded]">
        <!-- ngIf: news.replysNum>0 -->
        <!-- ngIf: news.replysNum==0 --><div class="row" ng-if="news.replysNum==0">
            <div class="col">
                <a class="border_custom row posts_bottom_reply_input background_fff" ng-click="goToReply(data.categoryId,news.id,0,0,0)">
                    <div class="col color_626262"><img src="http://imgs.ooss.com/images/icons/index/edit.png" alt=""><span class="font_14">写评论</span></div>
                </a>
            </div>
        </div><!-- end ngIf: news.replysNum==0 -->
    </ion-footer-bar>
</ion-view></ion-nav-view>


	</body>
</html>