<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>资讯</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="__CSS__/mui.min.css">
		<link rel="stylesheet" href="__CSS__/swiper.min.css" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			.mui-bar~.mui-content .mui-fullscreen {
				top: 44px;
				height: auto;
			}
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
			}
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			.mui-pull-top-tips .mui-pull-loading {margin: 0;}
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			.mui-slider-indicator.mui-segmented-control {
				background-color: #efeff4;
			}
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.mui-media-body{word-wrap: break-word; widows: 85%;
			 white-space:initial; 
			}
			.swiper-pagination{
				 text-align: right; 
			}
			.mui-slider-title{
				  font-weight: bold;  opacity: 0.7;
			}
		</style>
		
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">资讯</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<a class="mui-control-item mui-active" href="#itemmobile0">
							推荐
						</a>
						 <foreach name="cates" item="item">
	        				<a class="mui-control-item" href="#itemmobile{$item.catId}">
								{$item.catName}
							</a> 
				        </foreach> 
					</div>
				</div>
				<div class="mui-slider-group">
					<div id="itemmobile0" class="mui-slider-item mui-control-content mui-active">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
									<!--ad-->
									<div class="swiper-container swiper0"> 
									    <!-- Additional required wrapper -->
									    <div class="swiper-wrapper">
									        <!-- Slides -->
									        <foreach name="ads0" item="item">
									        	<div class="swiper-slide">
									        		<a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFileThumb}');"></a>
									        		<p class="mui-slider-title">{$item.adName}</p>
									        	</div>
									        </foreach>
									    </div>
									    <!-- If we need pagination -->
									    <div class="swiper-pagination"></div>
									</div>	
								 	<!--end ad-->
									<ul class="mui-table-view">
										<foreach name="artirecommend" item="item">
	        								<li class="mui-table-view-cell mui-media" id="articleId{$item.articleId}">
												<a href="{:U('detail',"",'')}?id={$item['articleId'] }">
													 
													<img class="mui-media-object mui-pull-right" src="__WEBROOT__/{$item.articleImgThumb}">
													<div class="mui-media-body">
														{$item.articleTitle}														 
														<p>{$item.createTime}</p>
													</div>
												</a>
											</li>
				        				</foreach>
									</ul>
							</div>
							
						</div>
					</div>
					<!--start articles1-->
					<div id="itemmobile1" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<!--ad-->
								<div class="swiper-container swiper1"> 
								    <!-- Additional required wrapper -->
								    <div class="swiper-wrapper">
								        <!-- Slides -->
								        <foreach name="ads1" item="item">
								        	<div class="swiper-slide">
								        		<a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFileThumb}');">
								        			<p class="mui-slider-title">{$item.adName}</p>		
								        		</a>
								        	</div>
								        </foreach>
								    </div>
								    <!-- If we need pagination -->
								    <div class="swiper-pagination"></div>
								</div>
							 	<!--end ad-->
								<ul class="mui-table-view">
									<foreach name="artires" item="item">
										<if condition="$item['catId'] eq 1">
	        								<li class="mui-table-view-cell mui-media">
												<a href="{:U('detail',"",'')}?id={$item['articleId'] }">
													 
													<img class="mui-media-object mui-pull-right" src="__WEBROOT__/{$item.articleImgThumb}">
													<div class="mui-media-body">
														{$item.articleTitle}														 
														<p>{$item.createTime}</p>
													</div>
												</a>
											</li>
										</if>		
				        			</foreach>
								</ul>
							</div>
						</div>
					</div>
					<!--end articles1-->
					<!--start articles2-->
					<div id="itemmobile2" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<!--ad-->
								<div class="swiper-container swiper2"> 
								    <!-- Additional required wrapper -->
								    <div class="swiper-wrapper">
								        <!-- Slides -->
								        <foreach name="ads2" item="item">
								        	<div class="swiper-slide">
								        		<a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFileThumb}');">
								        			<p class="mui-slider-title">{$item.adName}</p>		
								        		</a>
								        	</div>
								        </foreach>
								    </div>
								    <!-- If we need pagination -->
								    <div class="swiper-pagination"></div>
								</div>
							 	<!--end ad-->
								<ul class="mui-table-view">
									<foreach name="artires" item="item">
										<if condition="$item['catId'] eq 2">
	        								<li class="mui-table-view-cell mui-media">
												<a href="{:U('detail',"",'')}?id={$item['articleId'] }">												 
													<img class="mui-media-object mui-pull-right" src="__WEBROOT__/{$item.articleImgThumb}">
													<div class="mui-media-body">
														{$item.articleTitle}														 
														<p>{$item.createTime}</p>
													</div>
												</a>
											</li>
										</if>		
				        			</foreach>								 
								</ul>
							</div>
						</div>
					</div>
					<!--end articles2-->
					<!--start articles3-->
					<div id="itemmobile3" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<!--ad-->
								<div class="swiper-container swiper3"> 
								    <!-- Additional required wrapper -->
								    <div class="swiper-wrapper">
								        <!-- Slides -->
								        <foreach name="ads3" item="item">
							        		<div class="swiper-slide">
								        		<a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFileThumb}');">
								        			<p class="mui-slider-title">{$item.adName}</p>		
								        		</a>
								        	</div>
								        </foreach>
								    </div>
								    <!-- If we need pagination -->
								    <div class="swiper-pagination"></div>
								</div>
							 	<!--end ad-->
								<ul class="mui-table-view">
									<foreach name="artires" item="item">
										<if condition="$item['catId'] eq 3">
	        								<li class="mui-table-view-cell mui-media">
												<a href="{:U('detail',"",'')}?id={$item['articleId'] }">												 
													<img class="mui-media-object mui-pull-right" src="__WEBROOT__/{$item.articleImgThumb}">
													<div class="mui-media-body">
														{$item.articleTitle}														 
														<p>{$item.createTime}</p>
													</div>
												</a>
											</li>
										</if>		
				        			</foreach>							 
								</ul>
							</div>
						</div>
					</div>
					<!--end articles3-->
					<!--start articles4-->
					<div id="itemmobile4" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<!--ad-->
								<div class="swiper-container swiper4"> 
								    <!-- Additional required wrapper -->
								    <div class="swiper-wrapper">
								        <!-- Slides -->
								        <foreach name="ads4" item="item">
							        		<div class="swiper-slide">
								        		<a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFileThumb}');">
								        			<p class="mui-slider-title">{$item.adName}</p>		
								        		</a>
								        	</div>
								        </foreach>
								    </div>
								    <!-- If we need pagination -->
								    <div class="swiper-pagination"></div>
								</div>
							 	<!--end ad-->
								<ul class="mui-table-view">
									<foreach name="artires" item="item">
										<if condition="$item['catId'] eq 4">
	        								<li class="mui-table-view-cell mui-media">
												<a<a href="{:U('detail',"",'')}?id={$item['articleId'] }">
													<img class="mui-media-object mui-pull-right" src="__WEBROOT__/{$item.articleImgThumb}">
													<div class="mui-media-body">
														{$item.articleTitle}														 
														<p>{$item.createTime}</p>
													</div>
												</a>
											</li>
										</if>		
				        			</foreach>										 
								</ul>
							</div>
						</div>
					</div>
					<!--end articles4-->
					<!--start articles5-->
					<div id="itemmobile5" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<!--ad-->
								<div class="swiper-container swiper5"> 
								    <!-- Additional required wrapper -->
								    <div class="swiper-wrapper">
								        <!-- Slides -->
								        <foreach name="ads5" item="item">
							        		<div class="swiper-slide">
								        		<a href="{$item.adURL}" class="swiper-img" style="background-image: url('/{$item.adFileThumb}');">
								        			<p class="mui-slider-title">{$item.adName}</p>		
								        		</a>
								        	</div>
								        </foreach>
								    </div>
								    <!-- If we need pagination -->
								    <div class="swiper-pagination"></div>
								</div>
							 	<!--end ad-->
								<ul class="mui-table-view">
									<foreach name="artires" item="item">
										<if condition="$item['catId'] eq 5">
	        								<li class="mui-table-view-cell mui-media" id="articleId{$item.articleId}">
												<a href="{:U('detail',"",'')}?id={$item['articleId'] }">													 
													<img class="mui-media-object mui-pull-right" src="__WEBROOT__/{$item.articleImgThumb}">
													<div class="mui-media-body">
														{$item.articleTitle}														 
														<p>{$item.createTime}</p>
													</div>
												</a>
											</li>
										</if>		
				        			</foreach>
								</ul>
							</div>
						</div>
					</div>
					<!--end articles5-->
				</div>
			</div>
		</div>
		<script src="__JS__/mui.min.js"></script>
		<script src="__JS__/mui.lazyload.js"></script>
		<script src="__JS__/mui.lazyload.img.js"></script>
		<script src="__JS__/mui.pullToRefresh.js"></script>
		<script src="__JS__/mui.pullToRefresh.material.js"></script>
		<script src="__JS__/swiper.jquery.min.js"></script>
		<script>
			mui.init();
			(function($) {
				// 轮播广告
				var mySwiper0 = new Swiper ('.swiper0', {
			      	// Optional parameters
			      	direction: 'horizontal',
			      	pagination: '.swiper-pagination',
			      	autoplay: 3000,
			      	loop: true
			   	});
			   	
				var mySwiper1 = new Swiper ('.swiper1', {
			      	// Optional parameters
			      	direction: 'horizontal',
			      	pagination: '.swiper-pagination',
			      	autoplay: 3000,
			      	loop: true
			   	});
			   	var mySwiper2 = new Swiper ('.swiper2', {
			      	direction: 'horizontal',
			      	pagination: '.swiper-pagination',
			      	autoplay: 3000,
			      	loop: true
			   	});
			   	
			    var mySwiper3 = new Swiper ('.swiper3', {
			      	direction: 'horizontal',
			      	pagination: '.swiper-pagination',
			      	autoplay: 3000,
			      	loop: true
			   	});
			   	
			   	var mySwiper4 = new Swiper ('.swiper4', {
			      	direction: 'horizontal',
			      	pagination: '.swiper-pagination',
			      	autoplay: 3000,
			      	loop: true
			   	});
			   	
			   	var mySwiper5 = new Swiper ('.swiper5', {
			      	direction: 'horizontal',
			      	pagination: '.swiper-pagination',
			      	autoplay: 3000,
			      	loop: true
			   	});
			   	
 	   	
		 	   	
				//阻尼系数
				var deceleration = mui.os.ios?0.003:0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration:deceleration
				});
				
				


				$.ready(function() {
					//循环初始化所有下拉刷新，上拉加载。
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						$(pullRefreshEl).pullToRefresh({
//							down: {
//								callback: function() {
//									var self = this;
//									setTimeout(function() {
//										var ul = self.element.querySelector('.mui-table-view');
//										ul.insertBefore(createFragment(ul, index, 10, true), ul.firstChild);
//										self.endPullDownToRefresh();
//									}, 1000);
//								}
//							},
							up: {
								callback: function() {
									var self = this;
									setTimeout(function() {
										var ul = self.element.querySelector('.mui-table-view');
										var murl="{:U('queryCatsArticles')}";
										
										//最后一个 goodsId
										var lis=ul.querySelectorAll('li');
										var length = lis.length;
										var lastli=lis[lis.length-1];
//										var newli=lastli.innerHTML;
										articleId=lastli.id.replace("articleId","");
										
										$.getJSON(murl, {pageSize:10,catsid: index,articleId: articleId }, function(list) {
											if(list)
											{
												ul.appendChild(createFragment(ul, null, list));	
												$(document).imageLazyload({
													placeholder: '__IMG__/400x200.png'
												});
											}
											self.endPullUpToRefresh();
		 			    				});
									}, 1000);
								}
							}
						});
					});
					var createFragment = function(ul, lastli, list, reverse) {
						var fragment = document.createDocumentFragment();
						var count = list.length;
						var li;
						for (var i = 0; i < count; i++) {
							var obj=list[i];
							var html="<a href='/index.php/M/Articles/detail?id="+obj.articleId+"'>";
								html+="		<img class='mui-media-object mui-pull-right' src='__WEBROOT__/"+obj.articleImgThumb+"'>";
								html+="		<div class='mui-media-body'>";
								html+="			"+obj.articleTitle;
								html+="			<p>"+obj.createTime+"</p>";
								html+="		</div>";
								html+="</a>";
												 
											
							li = document.createElement('li');
							li.className = 'mui-table-view-cell mui-media';
							li.id = 'articleId'+obj.articleId;
							li.innerHTML =html;
							fragment.appendChild(li);
						}
						return fragment;
					};// end createFragment
				});
			
				$(document).imageLazyload({
					placeholder: '__IMG__/400x200.png'
				});
			
			})(mui);
		</script>
	</body>

</html>