<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
      <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script> 
   </head>
   <body class="rtc-page">
       <form name="myform" method="post" id="myform">
        <input type='hidden' id='id' value='{$object.bankId}'/>
        <table class="table table-hover table-striped table-bordered rtc-form">
            
           <!--<tr class="noprint">
             <td style='font-weight:bold;'>订单信息</td>
           </tr>
           <tr class="noprint">
             <td>
             <table width='700'>
                <tr>
                  <td width='120' style='text-align:right'>支付方式：</td>
                  <td>
                  <if condition='$object["payType"] eq 1'>在线支付<else/>货到付款</if>
                  </td>
                </tr>
                <tr>
                  <td style='text-align:right'>配送方式：</td>
                  <td>
                  <if condition='$object["isSelf"] eq 1'>
                                                                  自提
                  <else/>
                  	<if condition='$object["deliverType"] eq 1'>商家配送<else/>平台配送</if>
                  </if>                                                
                  </td>
                </tr>
                <tr>
                  <td style='text-align:right'>送货时间：</td>
                  <td>{$object['requireTime']}</td>
                </tr>
                <tr>
                  <td style='text-align:right'>买家留言：</td>
                  <td>{$object['orderRemarks']}</td>
                </tr>
                </table>
             </td>
           </tr>
            
           <if condition='$object["isInvoice"] eq 1'>
           <tr>
             <td style='font-weight:bold;'>发票信息</td>
           </tr>
           <tr>
             <td>
             <table width='700'>
                <tr>
                  <td width='120' style='text-align:right'>发票抬头：</td>
                  <td>
                  {$object['invoiceClient']}
                  </td>
                </tr>
                </table>
             </td>
           </tr>
           </if>-->
           <tr class="cprint">
             <td style='font-weight:bold;'>收货人信息</td>
           </tr>
           <tr  class="cprint">
             <td>
                <table width='700'>
                <tr>
                  <td width='120' style='text-align:right'>收货人：</td>
                  <td>{$object['userName']}</td>
                </tr>
                <tr>
                  <td style='text-align:right'>地址：</td>
                  <td>{$object['userAddress']}</td>
                </tr>
                <tr>
                  <td style='text-align:right'>联系方式：</td>
                  <td>
                  <notmpty name='object['userPhone']'>
                  {$object['userPhone']}
                  </notmpty>
                  <notmpty name='object['userTel']'>
                  {$object['userTel']}
                  </notmpty>
                  </td>
                </tr>
                </table>
             </td>
           </tr>
           <tr  class="cprint">
              <td style='font-weight:bold;'>商品信息</td>
           </tr>
           <tr  class="cprint">
              <td>
                <table>
                <tr>
                  <td width='450'  >商品</td>
                  <td width='350'>价格</td>
                  <td width='130'>数量</td>
                  <td width='130'>总金额</td>
                </tr>
                <volist name="object['goodslist']" id="goods">
                <tr>
                  
                  <td width='400'>{$goods["goodsName"]}<if condition="$goods['goodsAttrName'] neq ''">【{$goods['goodsAttrName']}】</if></td>
                  <td width='350'>￥{$goods["goodsPrice"]}</td>
                  <td width='130'>{$goods["goodsNums"]}</td>
                  <td width='130'>￥{$goods["goodsPrice"]*$goods["goodsNums"]}</td>
                </tr>
                </volist>
                </table>
              </td>
           </tr>
           <tr  class="cprint">
              <td style='text-align:right;padding-right:10px;'>商品总金额：￥{$object['totalMoney']}<br/>+ 运费：￥{$object['deliverMoney']}<br/><span style='font-weight:bold;font-size:20px'>订单金额：</span><span style='font-weight:bold;font-size:20px;color:red;'>￥{$object['totalMoney']+$object['deliverMoney']}</span></td>
           </tr>
           
        </table>
        <script type="text/javascript">
        	$(function() {
        		window.print();	
        	});
        </script>
       </form>
   </body>
</html>