<style>
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 55px;
		line-height: 55px;
		background-color: #efeff4;  
		padding: 0px 15px;
	}
	
	#validsList {
		padding-bottom: 55px;
	}
	
	#ok {
		vertical-align: middle;
	}
</style>
<header class="mui-bar mui-bar-nav mui-nav-white">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">{$title}</h1>
	<button class="mui-btn mui-btn-link mui-pull-right">使用说明</button>
</header>

<div class="mui-content">
	<div id="tab" class="cky-tab">
		<div class="cky-tab-item cky-active" tab-type="0">可用优惠券({:count($valids)})</div>
		<div class="cky-tab-item" tab-type="1">不可用优惠券({:count($invalids)})</div>
	</div>
	<div id="validsList">
		<ul class="mui-table-view mui-table-view-radio">
			<foreach name="valids" item="item">
			<li class="mui-table-view-cell mui-tab" id="{$item.ticketID}" typeName="{$item.typeName}" ticketAmount="{$item.ticketAmount}">
				<a class="mui-navigate-right">
					<if condition="$item.typeName eq 'ptq'">
						<if condition="$item.maxiConsumption gt 0">
						{$item.maxiConsumption}以内只需{$item.ticketAmount}
						<elseif condition="$item.onlyNewUser eq 1"/>
						新人专享{$item.ticketAmount}
						<else/>
						只需{$item.ticketAmount}
						</if>
					<elseif condition="$item.typeName eq 'zkq'"/>
						<if condition="$item.maxiConsumption gt 0">
						{$item.maxiConsumption}以内{$item.ticketAmount}折
						
						<elseif condition="$item.miniConsumption gt 0">
						满{$item.miniConsumption}享{$item.ticketAmount}折
						<elseif condition="$item.onlyNewUser eq 1"/>
						新人专享全场{$item.ticketAmount}折
						<else/>
						{$item.ticketAmount}折
						</if>
					<elseif condition="$item.typeName eq 'djq'"/>
						<if condition="$item.miniConsumption gt 0">
						满{$item.miniConsumption}减{$item.ticketAmount}
						<elseif condition="$item.onlyNewUser eq 1"/>
						新人专享减{$item.ticketAmount}
						<else/>
						减{$item.ticketAmount}
						</if>
					</if>
					<p>使用范围：<if condition="$item.shopId gt 0">{$item.shopName}<else/>全部商家</if></p>
					<p>有效期至：{$item.efficacyEDate}</p>
				</a>
			</li>
			</foreach>
		</ul>
		<footer>
			<button id="ok" class="cky-btn cky-btn-block cky-btn-red" disabled="disabled">确定</button>
		</footer>
	</div>
	<div id="invalidsList" style="display: none;">
		<ul class="mui-table-view">
			<foreach name="invalids" item="item">
			<li class="mui-table-view-cell mui-tab">
				<a>
					<if condition="$item.typeName eq 'ptq'">
						<if condition="$item.maxiConsumption gt 0">
						{$item.maxiConsumption}以内只需{$item.ticketAmount}
						<elseif condition="$item.onlyNewUser eq 1"/>
						新人专享{$item.ticketAmount}
						<else/>
						只需{$item.ticketAmount}
						</if>
					<elseif condition="$item.typeName eq 'zkq'"/>
						<if condition="$item.maxiConsumption gt 0">
						{$item.maxiConsumption}以内{$item.ticketAmount}折
						
						<elseif condition="$item.miniConsumption gt 0">
						满{$item.miniConsumption}享{$item.ticketAmount}折
						<elseif condition="$item.onlyNewUser eq 1"/>
						新人专享全场{$item.ticketAmount}折
						<else/>
						{$item.ticketAmount}折
						</if>
					<elseif condition="$item.typeName eq 'djq'"/>
						<if condition="$item.miniConsumption gt 0">
						满{$item.miniConsumption}减{$item.ticketAmount}
						<elseif condition="$item.onlyNewUser eq 1"/>
						新人专享减{$item.ticketAmount}
						<else/>
						减{$item.ticketAmount}
						</if>
					</if>
					<p>使用范围：<if condition="$item.shopId gt 0">{$item.shopName}<else/>全部商家</if></p>
					<p>有效期至：{$item.efficacyEDate}</p>
					<p class="font-black">
						<if condition="$item.typeName neq 'djq'">
							此券需要到店使用
						<elseif condition="strtotime($item['efficacysDate']) gt strtotime(date('Y-m-d'))"/>
							{$item.efficacysDate}才能开始使用该券
						<elseif condition="$item.valid eq 0"/>
							该券已过期
							差{$item['miniConsumption'] - (float)I('amount', 0)}元可用该券
						<elseif condition="(float)I('amount', 0) lt $item['miniConsumption']"/>
							差{$item['miniConsumption'] - (float)I('amount', 0)}元可用该券
						<else/>
							不符合使用条件
						</if>
					</p>
				</a>
			</li>
			</foreach>
		</ul>
	</div>
</div>
<script type="text/javascript" src="__JS__/mui.min.js"></script>
<script type="text/javascript">
	
	$(function(){
		var tab = $("#tab");
		var validsList = $("#validsList");
		var invalidsList = $("#invalidsList");
		// tab页切换
		$(".cky-tab-item", tab).click(function() {
			var $this = $(this);
			if(!$this.hasClass("cky-active")) {
				$(".cky-active", tab).removeClass("cky-active");
				$this.addClass("cky-active");
				type = Number($this.attr("tab-type"));
				validsList.toggle();
				invalidsList.toggle();
			}
		});
		var ok = $("#ok");
		
		// 保存优惠券
		var shopId = util.i("shopId");
		var subkey = util.i("submit");
		var cacheKey = null;
		var cart = null;
		if(shopId) {
			cacheKey = "fast-cart" + shopId;
		} else if(subkey) {
			cacheKey = subkey;
		}
		cart = cky.storage.getItem(cacheKey);
		if(cart && cart.coupon) {
			var li = $("#" + cart.coupon.ticketId).addClass("mui-selected");
			if(li.length > 0) {
				ok.removeAttr("disabled");
			}
		}
		
		// 单选
		$("li", validsList).click(function(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			ok.removeAttr("disabled");
		});
		
		ok.click(function() {
			var li = $(".mui-selected", validsList);
			if(cart && li.length > 0) {
				var $this = $(this);
				cart.coupon = {
					ticketId: li.attr("id"),
					typeName: li.attr("typeName"),
					ticketAmount: Number(li.attr("ticketAmount"))
				};
				cky.storage.setItem(cacheKey, cart, 24 * 60 * 60);
				window.history.go(-1);
			}
		});
	});
</script>