<link rel="stylesheet" href="__CSS__/{:autoVer('order.css')}" />
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
</header>
<div class="mui-content">
	<h5 class="cky-text-center">订单号: {$data.orderNo}</h5>
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<i class="mui-icon mui-icon-location"></i>
			<div>
				收货地址：{$data.userAddress}
			</div>
		</li>
	</ul>
</div>

<footer class="cky-footer">
	<if condition="$data.orderStatus eq 0">
		<a id="cancel">取消订单</a>
		<a id="pay" href="{:U('pay')}?orderId={:I('id')}">去付款</a>
	<else/>
		<a id="goshop" href="{:U('Shops/rdirect')}?id={$data.shopId}">还订这家</a>
	</if>
</footer>