<link rel="stylesheet" href="__CSS__/order.css" />
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
</header>
<div class="mui-content mui-content-bottom">
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:U('Address/addresslist')}?shopId={:I('shopId')}">
				<!-- ko if:consignee -->
				<span data-bind="text: consignee.name + '  ' + consignee.phone"></span>
				<h5 data-bind="text: consignee.address"></h5>
				<!-- /ko -->
				
				<!-- ko if:!consignee -->
				<p class="add-consignee"><i class="iconfont icon-tianjia"></i>  请选择收货地址</p>
				<!-- /ko -->
			</a>
		</li>
	</ul>
	<hr class="cky-address-hr"/>
	<ul class="mui-table-view cky-mtop-10">
		<li class="mui-table-view-cell">
			<a>
				<span>送达时间</span>
				<div class="cky-update">
					<a id="fastDay" class="cky-select">今天</a>&nbsp;<a id="fastTime" class="cky-select">18:20</a>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="{:U('remarks')}?shopId={:I('shopId')}" class="mui-navigate-right">
				<span>备注</span>
				<p id="inputRemarks" class="cky-update cky-update-nav font14 font-gray" data-bind="text: remarks"></p>
			</a>
		</li>
	</ul>
	<ul id="goodsList" class="mui-table-view cky-mtop-10">
		<li class="mui-table-view-cell">
			<a>
				<span class="cky-bold font17" data-bind="text: shopName"></span>
				<p class="cky-update">商家配送</p>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a>
				<!-- ko foreach: goods -->
				<div class="cky-order-item cky-relative">
					<span data-bind="text: goodsName"></span>
					<div class="cky-update">
						<span data-bind="text: 'x ' + count"></span>
						<span data-bind="text: shopPrice + '元'"></span>
					</div>
				</div>
				<!-- /ko -->
				
				
				<div id="fast" class="cky-order-item cky-relative">
					<span data-bind="">配送费</span>
					<div class="cky-update">
						<span data-bind="text: fastMoney + '元'"></span>
					</div>
				</div>
				
				<div class="cky-order-money cky-relative">
					<span>订单金额</span>
					<span data-bind="text: fastMoney + total + '元'"></span>
				</div>
			</a>
		</li>
	</ul>
	<footer class="cky-footer">
		<p class="font-red font17">共<span data-bind="text: total + '元'">0</span></p>
		<button id="submit" class="cky-update mui-btn mui-btn-primary" style="height:100%">提交订单</button>
	</footer>
</div>

<script type="text/javascript" src="__KO__"></script>
<script type="text/javascript">
	
	window.onpageshow = function(event) { // 页面显示的时候  事件（包含回退）
	    var shopId = util.i("shopId");
		var cart = cky.storage.getItem("fast-cart" + shopId);
		if(cart) {
			var fastMoney = !(cart.fastMoney == 0 || cart.total >= cart.freeMoney) ? cart.fastMoney : 0;
			var vm = { 
				goods: [],
				total: cart.total,
				fastMoney: fastMoney,
				shopName: cart.shopName,
				remarks: cart.remarks,
				consignee: cart.consignee
			}
			for(var goodsId in cart.goods) {
				vm.goods.push(cart.goods[goodsId]);
			}
			ko.applyBindings(vm);
			
			$(function(){
				// 送达时间
				$("#fastDay").select([{key: 0,text: "今天"}]);
				var fastTimeSelect = $("#fastTime").select(getServicesTime());
				
				function getServicesTime() {
					var serviceTime = getServiceTime();
					var list = [];
					if(serviceTime) {
						var startTime = serviceTime[0];
						var endTime = serviceTime[1];
						
						for(var time = startTime; time < endTime; time += 15) {
							list.push({ key: time, text: util.formatMuites(time) });
						}
					} else {
						list.push({ key: -1, text: '卖家确认'});
					}
					return list;
				}
				
				function getServiceTime() {
					// 统一换算成分钟计算
					var startTime = (cart.startTime || 8.0) * 60; // 小时, 默认8点
					var endTime = (cart.endTime || 22.5) * 60; // 小时，默认22:30
					var now = new Date();
					var costTime = cart.costTime || 30; // 分钟, 默认半个小时
					var nowTime = now.getHours() * 60 + now.getMinutes();
					startTime = Math.min(Math.max(startTime, nowTime), endTime); // 取营业时间范围内的;
					startTime += costTime;
					startTime = Math.ceil(startTime / 5) * 5; // 按5取整数计算
					
					if(startTime <= endTime) {
						return [startTime,endTime];
					}
					return null; // 超出服务时间不允许, 不提供服务
				}
			
				
				$("#submit").click(function() {
					if(!cart.consignee) {
						cky.alert("请选择收货地址");
						return;
					}
					
					var ll = cky.loadding();
					var goodsJSONString = JSON.stringify(vm.goods.map(function(g) { return { goodsId: g.goodsId, shopId: shopId, count: g.count }  }));
					$.post("{:U('submitOrder')}", {
						goods: goodsJSONString,
						isself: 0,
						needreceipt: 1,
						orderunique: new Date().getTime(),
						consigneeId: cart.consignee.id,
						payway: 1
					}, function(result) {
						layer.close(ll);
						var status = result.status;
						if(status == 0) {
							var data = result.data;
							if(data && data.orderIds && data.orderIds.length > 0) {
								cky.storage.removeItem("fast-cart" + shopId);
								window.location.href = "{:U('pay')}?orderId=" + data.orderIds[0];
							} else {
								cky.alert("提交订单失败，请稍后再试");
							}
						} else if(status < 0) {
							var msg = result.data || "提交订单失败，请稍后再试";
							cky.alert(msg);
						}
						
					});
				});
			});
		}
	};
</script>
