<link rel="stylesheet" href="__CSS__/order.css" />
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
</header>

<div class="mui-content">
	
	<div id="orderLoading" class="mui-loading">
		<div class="mui-spinner">
		</div>
	</div>
	
	<div id="orderList" class="mui-hidden">
		<!-- ko foreach: $data -->
		<ul  class="mui-table-view cky-mtop-10" data-bind="attr: { oid: orderId }">
			<li class="mui-table-view-cell">
				<span>订单金额</span>
				<span data-bind="text: totalMoney"></span>
			</li>
			<li class="mui-table-view-cell">
				<span>订单状态</span>
				<span data-bind="text: orderStatus"></span>
			</li>
		</ul>
		<!-- /ko -->
	</div>
</div>
<script type="text/javascript" src="__KO__"></script>
<script>
	var isEOF = false;
	var force = true;
	var pageNo = 1;
	var orders = [];
	var vm = ko.observableArray(orders);
	ko.applyBindings(vm, document.getElementById("orderList"));
	
	function queryByPage() {
		if(force) {
			vm.removeAll();
			orders.length = 0;
			pageNo = 1;
			isEOF = false;
			force = false;
		}
		var _pageNo = pageNo;
		if(!isEOF) {
			$.getJSON("{:U('page')}", {
				pageNo: _pageNo
			}, function(list) {
				if(_pageNo == 1) {
					orders.length = 0;
					$("#orderLoading").hide();
					$("#orderList").removeClass("mui-hidden");
				}
				pageNo = ++_pageNo;
				if(list && list.length > 0) {
					$.each(list, function() {
						orders.push(this);
					});
				}
				vm(orders);
				
				if(list && list.length < 20) {
					isEOF = true;
				}
			});
		}
	}
	queryByPage();
	
	util.onScrollEnd(queryByPage);
</script>