<link rel="stylesheet" href="__CSS__/order.css" />
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
</header>

<div class="mui-content">
	
	<div id="orderLoading" class="mui-loading">
		<div class="mui-spinner">
		</div>
	</div>
	
	<div id="orderList" class="mui-hidden">
		<!-- ko foreach: $data -->
		<a class="cky-table-view cky-mtop-10" data-bind="attr: { oid: orderId, id: 'order_' + orderId, href: '{:U('detail')}?id=' + orderId }">
			<div class="cky-table-view-cell order-title">
				<span class="font14" data-bind="text: shopName"></span>
				<!-- ko if: orderStatus < 0 || orderStatus == 6 -->
				<button class="remove-btn cky-update cky-update-center mui-btn mui-btn-link"><i class="mui-icon mui-icon-trash"></i></button>
				<!-- /ko-->
			</div>
			<div class="cky-table-view-cell">
				<div class="cky-table-cell-thumb cky-table-cell-thumb40" data-bind="style:{ backgroundImage: 'url(/' + shopImg + ')' }">
				</div>
				<div class="cky-media">
					<span class="cky-media-title font14" data-bind="text: '买了    ' + goods"></span>
					<h5 class="font12" data-bind="text: createTime"></h5>
			    </div>
			</div>
			<div class="cky-table-view-cell">
				<div class="cky-col-view">
					<div class="cky-col-view-cell">
						<p class="order-status font-red font14" data-bind="text: cky.formatOrderStatus(orderStatus)"></p>
						<!-- ko if: orderStatus == -2 -->
						<h5 data-bind="">超时未付款</h5>
						<!-- /ko -->
					</div>
					<div class="cky-col-view-cell cky-text-right">
						<p class="font14 font-black" data-bind="text: '订单金额 ' + totalMoney + '元'"></p>
						<!-- ko if: (orderStatus == 0 && needPay > 0 && payType == 1) -->
						<button class="mui-btn btn-pay">去付款</button>
						<!-- /ko -->
						<!-- ko ifnot: (orderStatus == 0 && needPay > 0 && payType == 1) -->
						<button class="mui-btn btn-continue">还订这家</button>
						<!-- /ko -->
					</div>
				</div>
			</div>
		</a>
		<!-- /ko -->
	</div>
</div>
<script type="text/javascript" src="__KO__"></script>
<script>
	var isEOF = false;
	var force = true;
	var pageNo = 1;
	var orders = [];
	var vm = ko.observableArray(orders);
	ko.applyBindings(vm, document.getElementById("orderList"));
	
	
	util.onScrollEnd(queryByPage);
	
	window.onpageshow = function(event) {
		queryByPage();
	}
	
	function queryByPage() {
		if(force) {
			vm.removeAll();
			orders.length = 0;
			pageNo = 1;
			isEOF = false;
			force = false;
		}
		var _pageNo = pageNo;
		if(!isEOF) {
			$.getJSON("{:U('page')}", {
				pageNo: _pageNo
			}, function(list) {
				if(_pageNo == 1) {
					orders.length = 0;
					$("#orderLoading").hide();
					$("#orderList").removeClass("mui-hidden");
				}
				pageNo = ++_pageNo;
				if(list && list.length > 0) {
					$.each(list, function() {
						orders.push(this);
					});
				}
				vm(orders);
				
				if(list && list.length < 20) {
					isEOF = true;
				}
			});
		}
	}
	
	// 删除
	$("#orderList").on("click", "button.remove-btn", function (evt) {
		evt.stopPropagation();
		evt.preventDefault();
		var $this = $(this);
		var parent = $this.closest("a.cky-table-view");
		var orderId = parent.attr("oid");
		layer.open({
		    content: '是否删除该订单？',
		    btn: ['确定', '不，再等等'],
		    shadeClose: false,
		    yes: function(){
				var ll = cky.loadding();
				$.post("{:U('remove')}", { id: orderId }, function(ret) {
					cky.closeAll();
					if(ret.status == 0) {
						parent.fadeOut(200, null, function() {
							parent.remove();
							cky.toast("订单已删除");
						});
					} else {
						cky.toast("删除订单失败");
					}
				});
		    }, no: function(){
		        
		    }
		});
	});
	
	// 去付款
	$("#orderList").on("click", "button.btn-pay", function (evt) {
		evt.stopPropagation();
		evt.preventDefault();
		var $this = $(this);
		var parent = $this.closest("a.cky-table-view");
		var orderId = parent.attr("oid");
		window.location.href = "{:U('pay')}?orderId=" + orderId;
		
	});
	
	// 继续订这家
	$("#orderList").on("click", "button.btn-continue", function (evt) {
		evt.stopPropagation();
		evt.preventDefault();
		var $this = $(this);
		var parent = $this.closest("a.cky-table-view");
		var orderId = parent.attr("oid");
		window.location.href = "{:U('Fast/detail')}?id=" + orderId;
	});
</script>