<link rel="stylesheet" href="__CSS__/{:autoVer('order.css')}" />
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
</header>
<div class="mui-content mui-content-bottom">
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:U('Address/addresslist')}?submit={:I('submit')}">
				<!-- ko if:consignee() -->
				<span data-bind="text: consignee().name + '  ' + consignee().phone"></span>
				<h5 data-bind="text: consignee().address"></h5>
				<!-- /ko -->
				
				<!-- ko if:!consignee() -->
				<p class="add-consignee"><i class="iconfont icon-tianjia"></i>  请选择收货地址</p>
				<!-- /ko -->
			</a>
		</li>
	</ul>
	<hr class="cky-address-hr"/>
	<ul class="mui-table-view cky-mtop-10">
		<li class="mui-table-view-cell">
			<a href="{:U('remarks')}?submit={:I('submit')}" class="mui-navigate-right">
				<span>备注</span>
				<p id="inputRemarks" class="cky-update cky-update-nav font14 font-gray" data-bind="text: remarks"></p>
			</a>
		</li>
	</ul>
	<div>
		<!-- ko foreach: shops -->
		<ul id="goodsList" class="mui-table-view cky-mtop-10">
			<li class="mui-table-view-cell">
				<a>
					<span class="cky-bold font17" data-bind="text: shopName"></span>
					<!--<p class="cky-update">商家配送</p>-->
				</a>
			</li>
			<li class="mui-table-view-cell">
				<a>
					<!-- ko foreach: goods -->
					<div class="cky-order-item cky-relative">
						<span class="cky-order-title" data-bind="text: goodsName"></span>
						<div class="cky-update">
							<span data-bind="text: 'x ' + count"></span>
							<span data-bind="text: shopPrice + '元'"></span>
						</div>
					</div>
						<!-- ko if: freeTitle -->
						<div class="cky-order-item cky-relative font12">
							<r class="cky-order-title" data-bind="text: freeTitle"></r>
							<r class="cky-update">
								<r data-bind="text: freeMoney + '元'"></r>
							</r>
						</div>
						<!-- /ko -->
					<!-- /ko -->
					
					
					<div id="fast" class="cky-order-item cky-relative">
						<span data-bind="">快递费</span>
						<div class="cky-update">
							<span data-bind="text: fastMoney + '元'"></span>
						</div>
					</div>
				</a>
			</li>
		</ul>
		<!-- /ko -->
	</div>
	
	<div class="cky-order-money cky-relative">
		<span>订单金额</span>
		<span data-bind="text: total + '元'"></span>
	</div>
	
	<ul class="mui-table-view cky-mtop-10">
		<li class="mui-table-view-cell">
			<a id="couponButton" class="mui-navigate-right">
				<span class="font17">使用优惠券<span id="validCouponCount" class="cky-valid-count">0张可用</span></span>
				<!-- ko if: couponAmount > 0 -->
				<p class="cky-update cky-update-nav" data-bind="text: '已抵用' + couponAmount + '元'"></p>
				<!-- /ko -->
			</a>
		</li>
	</ul>
	
	<br />
	
	<footer class="cky-footer">
		<p class="font-red font17">实付款：<span data-bind="text: realPayment + '元'">0</span></p>
		<button id="submit" class="cky-update mui-btn mui-btn-primary" style="height:100%">提交订单</button>
	</footer>
</div>

<script type="text/javascript" src="__KO__"></script>
<script type="text/javascript">
	var couponsCount = 0; // 可用优惠券数量
	
	cky.pageShow(function(event) { // 页面显示的时候  事件（包含回退）
	    var subKey = util.i("submit"); // 购物车来的
	    var from = util.i("from", "cart"); // 来源： cart-购物车   direct-直接购买
	    var CACHE_KEY = "cky-shop-cart";
		var selectedCart = cky.storage.getItem(subKey);
		var cart = cky.storage.getItem(CACHE_KEY);
		if(selectedCart) {
			var vm = {
				goods: [],
				shops:[],
				total: 0,
				realPayment: 0,
				couponAmount: 0,
				ticketId: 0,
				remarks: selectedCart.remarks,
				consignee: ko.observable(selectedCart.consignee)
			}
			
			// 获取默认地址
			if(!selectedCart.consignee) {
				$.getJSON("{:U('Address/getdefault')}", null, function(result) {
					if(result) {
						selectedCart.consignee = {
							id: result.addressId,
							name: result.userName,
							phone: result.userPhone || result.userTel,
							address: result.address
						};
						cky.storage.setItem(subKey, selectedCart);
						vm.consignee(selectedCart.consignee);
					}
				});
			}
			
			var _t = []; // 计算优惠券的参数：采用shopId1, amount1, shopId2, amount2,... 存储
			if(from == "cart") { // 从购物车来
				for(var shopId in selectedCart.shops) {
					var _total = 0;
					var shop = $.extend({}, cart.shops[shopId]);
					shop.goods = [];
					shop.fastMoney = 0;
					for(var goodsId in selectedCart.shops[shopId]) {
						var _goods = cart.shops[shopId].goods[goodsId];
						
						shop.goods.push(_goods);
						_total += _goods.count * _goods.shopPrice - _goods.freeMoney;
						vm.goods.push(_goods);
					}
					vm.total += _total;
					if(shop.deliveryMoney > 0 && _total < shop.deliveryFreeMoney) {
						vm.total += shop.deliveryMoney;
						shop.fastMoney = shop.deliveryMoney;
					}
					vm.shops.push(shop);
					
					_t.push(shopId);
					_t.push(_total + shop.fastMoney);
				}
			} else if(from == "direct"){ // 直接购买
				for(var shopId in selectedCart.shops) {
					var _total = 0;
					var shop = $.extend({}, selectedCart.shops[shopId]);;
					shop.goods = [];
					shop.fastMoney = 0;
					for(var goodsId in selectedCart.shops[shopId].goods) {
						var _goods = selectedCart.shops[shopId].goods[goodsId];
						shop.goods.push(_goods);
						_total += _goods.count * _goods.shopPrice - _goods.freeMoney;
						vm.goods.push(_goods);
					}
					vm.total += _total;
					if(shop.deliveryMoney > 0 && _total < shop.deliveryFreeMoney) {
						vm.total += shop.deliveryMoney;
						shop.fastMoney = shop.deliveryMoney;
					}
					vm.shops.push(shop);
					
					_t.push(shopId);
					_t.push(_total + shop.fastMoney);
				}
			}
			
			vm.realPayment = vm.total;
			
			if(selectedCart.coupon) {
				vm.ticketId = selectedCart.coupon.ticketId;
				switch(selectedCart.coupon.typeName) {
					case "djq": // 代金券
					
						var realPayment = vm.realPayment;
						vm.realPayment = Math.max(0, realPayment - selectedCart.coupon.ticketAmount);
						vm.couponAmount = Math.min(selectedCart.coupon.ticketAmount, realPayment - vm.realPayment);
						break;
					case "zkq": // 折扣券
						vm.couponAmount = (vm.realPayment - vm.realPayment * (selectedCart.coupon.ticketAmount / 10.0)).toFixed(2);
						vm.realPayment = (vm.realPayment * (selectedCart.coupon.ticketAmount / 10.0)).toFixed(2);
						break;
					case "ptq": // 普通券
						vm.couponAmount = vm.realPayment - selectedCart.coupon.ticketAmount;
						vm.realPayment = selectedCart.coupon.ticketAmount;
						break;
				}
			}
			
			ko.applyBindings(vm);
			
			$(function(){
				if(couponsCount == 0) {
					// 获取代金券可用数量
					$.get("{:U('Orders/countcoupon')}", {
						_t: _t.join(",")
					}, function(result) {
						if(result > 0) {
							couponsCount = result;
							$("#validCouponCount").text(result + "张可用");
						}
					});
				}
				$("#couponButton").attr("href", "{:U('Orders/coupon')}?submit={:I('submit')}&_t=" + _t.join(","));
				
				
				$("#submit").click(function() {
					if(!vm.consignee) {
						cky.alert("请选择收货地址");
						return;
					}
					
					var ll = cky.loadding();
					var goodsJSONString = JSON.stringify(vm.goods.map(function(g) { return { goodsId: g.goodsId, shopId: shopId, count: g.count }  }));
					$.post("{:U('submitOrder')}", {
						goods: goodsJSONString,
						isself: 0,
						needreceipt: 1,
						orderunique: new Date().getTime(),
						consigneeId: vm.consignee().id,
						payway: 1,
						ticketId: vm.ticketId // 优惠券Id
					}, function(result) {
						layer.close(ll);
						var status = result.status;
						if(status == 1) {
							var data = result;
							if(data && data.orderIds && data.orderIds.length > 0) {
								// 删除临时数据和购物车
								cky.storage.removeItem(subKey);
								if(from == "cart") {
									for(var shopId in selectedCart.shops) {
										for(var goodsId in selectedCart.shops[shopId]) {
											delete cart.shops[shopId].goods[goodsId];
										}
										if(cky.isEmpty(cart.shops[shopId].goods)) {
											delete cart.shops[shopId];
										}
									}
									if(cky.isEmpty(cart.shops)) {
										cky.storage.removeItem(CACHE_KEY);
									} else {
										cky.storage.setItem(CACHE_KEY, cart);
									}
								}
								
								if(data.orderIds.length == 1 && data.orderInfos[0].orderStatus == 0) {
									window.location.replace("{:U('pay')}?orderId=" + data.orderIds[0]);
								} else {
									window.location.replace("{:U('Orders/lst')}");
								}
							} else {
								cky.alert("提交订单失败，请稍后再试");
							}
						} else if(status < 0) {
							var msg = result.data || "提交订单失败，请稍后再试";
							cky.alert(msg);
						}
						
					});
				});
			});
		} else { // end if(selectedCart) {
			if(from == "direct") { // 直接购买
				// 空的
				cky.autoDirect(
					"{:U('Shops/detail')}?id={:I('shopId')}",
					"订单已提交，再去这家店去逛逛 >>"
				);
			} else if(from == "cart") {
				// 空的
				cky.autoDirect(
					"{:U('Shops/index')}",
					"订单已提交，随便看看吧 >>"
				);
			}
		}
	});
</script>
