<link rel="stylesheet" href="__CSS__/{:autoVer('order.css')}" />
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
	<present name="data.shopTel">
	<a class="cky-back mui-btn mui-btn-link mui-pull-right"  href="tel:{$data.shopTel}">
		<i class="mui-icon mui-icon-phone"></i>
	</a>
	</present>
</header>
<div class="mui-content">
	<h4 class="order-type cky-mtop-10">{:formatOrderStatus($data['orderStatus'])}</h4>
	<h5 class="order-type">
		<if condition="$data.orderStatus eq 0">
		订单将在3分钟内关闭，请竟快付款
		</if>
	</h5>
	<div class="status-block">
		<div class="status-block-img
			<switch name="data.orderStatus">
			<case value="0">status-block-img-time</case>
			<case value="-1">status-block-img-close</case>
			<case value="-2">status-block-img-close</case>
		    <default />status-block-img-done
		</switch>"></div>
	</div>
	<h5 class="cky-text-center">订单号: {$data.orderNo}</h5>
	
	<ul class="mui-table-view cky-mtop-10">
		<li class="mui-table-view-cell">
			<a>
				<foreach name="goods" item="item">
				<div class="cky-order-item cky-relative">
					<span>{$item.goodsName}</span>
					<div class="cky-update">
						<span>x {$item.ogoodsNums}</span>
						<span>{$item.ogoodsPrice} 元</span>
					</div>
				</div>
				</foreach>
				
				<if condition="$data.orderType eq 1">
					<div id="fast" class="cky-order-item cky-relative">
						<span data-bind="">配送费</span>
						<div class="cky-update">
							<span>{$data.deliverMoney} 元</span>
						</div>
					</div>
				</if>
				<div class="cky-order-money cky-relative">
					<span>订单金额</span>
					<span>{$data.needPay} 元</span>
				</div>
			</a>
		</li>
	</ul>
</div>

<footer class="cky-footer">
	<if condition="$data.orderStatus eq 0">
		<a id="cancel">取消订单</a>
		<a id="pay" href="{:U('pay')}?orderId={:I('id')}">去付款</a>
	<elseif condition="$data.orderType eq 1"/>
		<a id="goshop" href="{:U('Shops/fast')}?id={$data.shopId}">还订这家</a>
	<else/>
		<a id="goshop" href="{:U('Miaosha/index')}">继续一元购</a>
	</if>
</footer>
<script>
	$(function() {
		var statusImg = $(".status-block-img");
		<if condition="$data.orderStatus eq 0">
		// 等待付款
		var time = {:strtotime($data['createTime']) + 3 * 60 - time()}; // 3分钟
		timeout(time);
		
		function timeout(time) {
			statusImg.text(util.formatMuites(time));
			time--;
			if(time > -1) {
				window.setTimeout(function() {
					timeout(time);
				}, 1000);
			} else {
				// 倒计时结束
				var ll = cky.loadding();
				$.post("{:U('close')}", { id: {:I('id')}, type: -2 }, function(ret) {
					cky.close(ll);
					if(ret.status == 0) {
						switchCloseStatus(-2); // 切换到关闭
					} else {
						cky.alert("订单超时");
					}
				});
			}
		}
		
		$("#cancel").click(function() {
			layer.open({
			    content: '是否确定取消该笔订单？',
			    btn: ['确定', '不，再等等'],
			    shadeClose: false,
			    yes: function(){
					var ll = cky.loadding();
					$.post("{:U('cancel')}", { orderId: {:I('id')}, type: -1 }, function(result) {
						cky.close(ll);
						if(result.status > 0) {
							cky.toast("订单已取消");
							switchCloseStatus(-1);
						} else {
							cky.toast("订单取消失败");
						}
					});
			    }, no: function(){
			        
			    }
			});
		});
		
		/**
		 * 刷新订单状态
		 */
		function switchCloseStatus(status) {
			$("footer").html("<a id=\"goshop\" href=\"{:U('Fast/detail')}?id={$data.shopId}\">还订这家</a>");
			statusImg.attr("class", "status-block-img status-block-img-close");
			$("h4.order-type").text(status == -2 ? "订单已关闭" : "订单已取消");
			$("h5.order-type").empty();
			
			statusImg.empty();
		}
		
		</if>
	});
</script>