<div class="mui-content mui-content-bottom">
		<ul class="mui-table-view"> 
			<li class="mui-table-view-cell">
					<div class=" mui-navigate-right" id="address">
						<span>添加收货地址</span>
						<div  class="cellinfo-right" ></div>
					</div>
			</li>			 
		</ul>
		<p>&nbsp;收货地址</p>
		
		<ul id="addressList" class="mui-table-view mui-hidden">
			
			<!-- ko foreach: $data -->
			
			<li class="mui-table-view-cell" data-bind="attr:{a_id: addressId, a_name: userName, a_phone: userPhone ,a_address: address}">
				<div class="mui-media-body">
					<span class="meno b" data-bind="text: userName + '      '+ userPhone "></span>
					<p class='mui-ellipsis ctime' data-bind="text: areaId1Name+areaId2Name+areaId3Name+address"></p>
				</div>
				<span  class="cellinfo-right cvalue add-color b">
					<!-- ko if: isDefault == 1 -->
						<span class="mui-icon mui-icon-checkmarkempty"></span>									
					<!-- /ko -->
				</span>
			</li>
			<li  class="mui-table-view-cell mui-media"  data-bind="attr:{a_id: addressId}">
				<div class="mui-media-body">
					<span></span>
					 <span class="mui-icon mui-icon-compose"   data-bind="attr:{a_id: addressId}"  onclick="edit(this)"></span>
					 &nbsp;&nbsp;&nbsp;
					 <span class="mui-icon mui-icon-trash"   data-bind="attr:{a_id: addressId}" onclick="deleteItem(this)"></span>
				</div>
				<span  class="cellinfo-right font12">
					<if condition="($item.isDefault eq 0)">
						<span   data-bind="attr:{a_id: addressId}" onclick="setDefualt(this)"><span class="mui-icon mui-icon-checkmarkempty" ></span>设置为默认</span>									
					</if>
				</span>
			</li>			
			<!-- /ko -->
		<!--<foreach name="data" item="item">-->
		<!--</foreach>-->
	</ul>
		
</div>
<include file="Public:tab"/>
<link rel="stylesheet" href="__CSS__/{:autoVer('person-comm.css')}" />
<script type="text/javascript" src="__KO__"></script>
<script type="text/javascript">
	var force = true;
	var pageNo = 1;
	var isEOF = false;
	var addrees = [];
	var vm =null;
	$(function() {
		vm = ko.observableArray(addrees);
		ko.applyBindings(vm, document.getElementById("addressList"));
		
		//进入时加载
		queryByPage();
		//地址
		$("#address").click(function(){
			window.location.href="{:U('Address/addressedit', '', '')}";
		});
		//alert("");
		var shopId = util.i("shopId");
		var subkey = util.i("submit");
		var cacheKey = null;
		var cart = null;
		if(shopId) {
			cacheKey = "fast-cart" + shopId;
		} else if(subkey) {
			cacheKey = subkey;
		}
		cart = cky.storage.getItem(cacheKey);
		if(cart) {
			
			// 选择地址
			$("#addressList").on("click", "li", function(evt) {
				evt.stopPropagation();
				evt.preventDefault();
				
				var $this = $(this);
				
				var vid=$this.attr("a_name");
				if(vid== undefined){return;}
					
				
				
				cart.consignee = {
					id: $this.attr("a_id"),
					name: $this.attr("a_name"),
					phone: $this.attr("a_phone"),
					address: $this.attr("a_address")
				};
				cky.storage.setItem(cacheKey, cart, 24 * 60 * 60);
				window.history.go(-1);
			});
		}
	});
	
	function edit(obj)
	{
		var id=$(obj).attr("a_id");
		window.location.href="{:U('Address/addressedit', '', '')}/addressId/"+id;
	}
	function deleteItem(obj){
		var id=$(obj).attr("a_id");
//		layer.open({
//		    content: '您确定要删除此地址吗？',
//		    btn: ['确认', '取消'],
//		    shadeClose: false,
//		    yes: function(){
//		        $.post("{:U('Address/delete','','')}", {addressId: id}, delsuccess, "json");
//		    }
//		    , no: function(){
//		    }
//		});
		if(confirm("您确定要删除此地址吗？"))
		{
			 $.post("{:U('Address/delete','','')}", {addressId: id}, delsuccess, "json");
		}
		
		return;
		function delsuccess(data) {
			window.location.href="{:U('Address/addresslist', '', '')}";
//			force = true;
//			queryByPage();
		}
	}
	function setDefualt(obj){
		var id=$(obj).attr("a_id");
		$.post("{:U('Address/setdefalut','','')}", {addressId: id}, setsuccess, "json");
		return;
		function setsuccess(data) {			 
			window.location.href="{:U('Address/addresslist', '', '')}";
//			force = true;
//			queryByPage();
		}
	}
	
	function queryByPage() {
		var _pageNo = pageNo;
				
		if(force) {
			addrees.length = 0;
			pageNo = 1;				
			force = false;
		}
		
		if(!isEOF) {
			$.getJSON("{:U('Address/loadList')}", {
				pageNo: _pageNo					
			}, function(list) {
				util.endScroll();
				if(_pageNo == 1) {
					addrees.length = 0;
					vm.removeAll();
					$("#addressList").removeClass("mui-hidden");
				}
				pageNo = ++_pageNo;
				if(list && list.length > 0) {
					$.each(list, function() {
						addrees.push(this);
					});
				}
				vm(addrees);
				if(list && list.length < 12) {
					isEOF = true;
				}
			});
		} else {
			util.endScroll();
		}
	}

	
</script>

 