<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="__ROOT__/Apps/Admin/View/css/daterangepicker/daterangepicker-bs3.css">
      <link href="__ROOT__/Apps/Admin/View/css/upload.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
      <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
      <script src="__PUBLIC__/plugins/kindeditor/kindeditor.js"></script>
      <script src="__PUBLIC__/plugins/kindeditor/lang/zh_CN.js"></script>
      <script src="__ROOT__/Apps/Admin/View/js/daterangepicker.js"></script>
      <!--<script src="__ROOT__/Apps/Admin/View/js/DatePicker/WdatePicker.js"></script>-->
      <script type="text/javascript" src="__ROOT__/Apps/Admin/View/js/upload.js"></script>
   </head>
   <script>
   //文件上传
   var ThinkPHP = window.Think = {
	        "ROOT"   : "__ROOT__"
	}
   var filetypes = ["gif","jpg","png","jpeg"];
   $(function () {
	   KindEditor.ready(function(K) {
			editor1 = K.create('textarea[name="content"]', {
				height:'350px',
				allowFileManager : false,
				allowImageUpload : true,
				items:[
				        'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
				        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
				        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
				        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
				        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
				        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|','image','table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
				        'anchor', 'link', 'unlink', '|', 'about'
				],
				afterBlur: function(){ this.sync(); }
			});
		});
		
	   $.formValidator.initConfig({
		   theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
				   edit();
			       return false;
			},onError:function(msg){
		}});
		$('#efficacyDateRange').daterangepicker({format:'YYYY-MM-DD',separator:' 至 '});	
		
	   $("#title").formValidator({onFocus:"请输入卡券名称"}).inputValidator({min:1,max:100,onError:"请输入50字以卡券名称"});
	   $("#totalCount").formValidator({onFocus:"请输入发行数量"}).inputValidator({min:1,max:100,onError:"请输入发行数量"});
	   $("#miniConsumption").formValidator({onFocus:"请输入最低消费"}).inputValidator({min:1,onError: "请输入最低消费"});
	   //$("#endDate").formValidator({onFocus:"请输入结束日期"}).inputValidator({min:1,max:80,onError:"请输入结束日期"});
	   
//	   if('ptq' !='{$object.typeName}')
//	   {
//	   		$("#spantype").hide();
//	   }
//	   else
//	   {
//	   		$("#spantype").show();
//	   }
	   $("#typeName").change(function(){
	   	typestatus();
	   });
	   typestatus();
   });
   function edit(){
	   var params = {};
	   params.ticketID = $('#ticketID').val();
	   params.title = $('#title').val();
	   params.typeName = $('#typeName').val();
	   //params.isShow = $("input[name='isShow']:checked").val();
	   params.imagePath = $('#adFile').val();
	   
	   params.content = $('#content').val();   
	   var date = $('#efficacyDateRange').val().split(' 至 ');
	   params.efficacySDate = date[0];
	   params.efficacyEDate = date[1]; 
	   
	   //params.endDate = $('#endDate').val();
	   params.miniConsumption = $('#miniConsumption').val();
	   if(params.miniConsumption=="")
	   {
		   	Plugins.Tips({title:'信息提示',icon:'error',content:'请输入最低消费!',timeout:1000});
		   	return;
	   }
	   params.limitDayUse = $('#limitDayUse').val();
	   params.limitDayGet = $('#limitDayGet').val();
	   params.limitGetnum = $('#limitGetnum').val();
	   params.totalCount= $('#totalCount').val();
	   params.ticketAmount= $('#ticketAmount').val();
	   if(params.ticketAmount=="")
	   {
	   		params.ticketAmount=0;
	   }
	   	
	   params.onlyNewUser=0;
	   if($('#onlyNewUser').prop("checked"))
	   {
	   		params.onlyNewUser=1;	
	   }
	   
	   if(params.title==''){
		   Plugins.Tips({title:'信息提示',icon:'error',content:'请输入卡券名称!',timeout:1000});
		   return;
	   }
	   //alert(params.efficacyEData);
	   Plugins.waitTips({title:'信息提示',content:'正在提交数据，请稍后...'});
	   $.post("{:U('Admin/Ticket/edit')}",params,function(data,textStatus){	   	
			var json = RTC.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({ content:'操作成功',timeout:1000,callback:function(){
				   location.href="{:U('Admin/Ticket/index')}";
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
		});
   }
   function typestatus()
   {
   		$("#spantype").show();
   		$("#spanticketAmount").html("%");
		if($("#typeName").val()=='ptq')
		{
			$("#spantype").hide();
			$("#ticketAmount").val("");
		}
		else if($("#typeName").val()=='djq')
		{
			$("#spanticketAmount").html("元");
		}
   }
   </script>
   <style>
   		.mui-hidden{ display: none;}
   		.limit td{  padding: 2px;}
   </style>
   <body class="rtc-page">
   		<iframe name="upload" style="display:none"></iframe>
		<form id="uploadform_Filedata" autocomplete="off" style="position:absolute;top:100px;left:120px;z-index:10;" 
			enctype="multipart/form-data" method="POST" target="upload" action="{:U('Home/Shops/uploadPic')}" >
				<div style="position:relative;">
				<input id="adFile" name="adFile" class="form-control rtc-ipt" type="text" value="{$object.imagePath}" readonly 
					style="margin-right:4px;float:left;margin-left:8px;width:250px;"/>
				<div class="div1">
					<div class="div2">浏览</div>
					<input type="file" class="inputstyle" id="Filedata" name="Filedata" onchange="updfile('Filedata');" >
				</div>
				<div style="clear:both;"></div>
				<div >&nbsp;图片大小:200 x 200 (px)(格式为 gif, jpg, jpeg, png)</div>
				<input type="hidden" name="dir" value="ticket">
				<input type="hidden" name="width" value="400">
				<input type="hidden" name="folder" value="Filedata">
				<input type="hidden" name="sfilename" value="Filedata">
				<input type="hidden" name="fname" value="adFile">
				<input type="hidden" id="s_Filedata" name="s_Filedata" value="">
				
				</div>
		</form>
		
       <form name="myform" method="post" id="myform" autocomplete="off">
        <input type='hidden' id='ticketID' value='{$object.ticketID}'/>
        <table class="table table-hover table-striped table-bordered rtc-form">
           <tr>
             <th width='120' align='right'>卡券名称<font color='red'>*</font>：</th>
             <td><input type='text' id='title' class="form-control rtc-ipt" value='{$object.title}' maxLength='25'/></td>
           </tr>
           <tr> 
             <th align='right'>类型名称<font color='red'>*</font>：</th>
             <td>
	             <select id='typeName'>
	                <option value='ptq' <if condition="$object['typeName'] == 'ptq' ">selected</if>>普通券</option>
	                <option value='djq' <if condition="$object['typeName'] == 'djq' ">selected</if>>代金券</option>
	                <option value='zkq' <if condition="$object['typeName'] == 'zkq' ">selected</if>>折扣券</option>
	             </select>
	             <span id="spantype" style="display: none;">
             		<input type='text' id='ticketAmount' class="form-control" style='width:100px' value='{$object.ticketAmount}'/>
             		<span id="spanticketAmount">元%</span>
             	</span>
             </td>
           </tr> 
           <tr>
             <th align='right'>预发数量<font color='red'>*</font>：</th>
             <td>
             	<input type='text' id='totalCount' class="form-control rtc-ipt" value='{$object.totalCount}' style='width:150px' maxLength='8'/>
             </td>
           </tr>
           
           <tr style="height:50px;">
             <th align='right'>形象图片<font color='red'>*</font>：</th>
             <td></td>
           </tr>
           <tr>
             <th align='right'>预览图：</th>
             <td height='40'>
             	<div id="preview_Filedata">
               <img id='preview' src='__ROOT__/{$object.activityImg}' height='152' <if condition="$object['activityImg'] =='' ">style='display:none'</if>/>
               </div>
             </td>
           </tr>
           <!--<tr class="mui-hidden">
             <th align='right'>有效期[一段时间内]<font color='red'>*</font>：</th>
             <td>
             <input type="radio"  value="0" name="effiDateType"/>	永久有效
             </td>
           </tr>-->
           <tr>
             <th align='right'>有效期<font color='red'>*</font>：</th>
             <td>
             	<input type="radio"  value="1" checked="checked" class="mui-hidden" name="effiDateType"/>
             	<input type='text' id='efficacyDateRange' class="form-control" readonly='true' style='width:300px' value='{$object.efficacySDate} 至 {$object.efficacyEDate}'/>
             </td>
           </tr>
           <!--<tr class="mui-hidden">
             <th align='right'>有效期<font color='red'>*</font>：</th>
             <td>
             	<input type="radio" value="2" class="mui-hidden"  name="effiDateType"/> 从下发第
             	<input type='text' id='efficacySDay' class="form-control"  style='width:80px' value='{$object.efficacySDay}'/>
             	日起
             	<input type='text' id='efficacyEDay' class="form-control"  style='width:80px' value='{$object.efficacyEDay}'/>
             	天有效
             </td>
           </tr>-->
           <!--<tr>
             <th align='right'>结束日期<font color='red'>*</font>：</th>
             <td>
             	<input type='text' id='endDate' class="form-control"  onfocus="WdatePicker();"  style='width:300px' value='{$object.endDate}'/>
             </td>
           </tr>-->
           <!--<tr>
             <th align='right'>是否显示<font color='red'>*</font>：</th>
             <td>
             <label>
             <input type='radio' id='isShow1' name='isShow' value='1' <if condition="$object['isShow'] ==1 ">checked</if> />显示&nbsp;&nbsp;
             </label>
             <label>
             <input type='radio' id='isShow0' name='isShow' value='0' <if condition="$object['isShow'] ==0 ">checked</if> />隐藏
             </label>
             </td>
           </tr>-->
           
           <tr>
             <th align='right'>最低消费<font color='red'>*</font>：</th>
             <td>
             	<input type='text' id='miniConsumption' class="form-control rtc-ipt" value='{$object.miniConsumption}'
             		 style='width:300px' maxLength='5'/>元 [消费达到此额度才能使用] [0表示不限制]
             </td>
           </tr>
           <tr>
             <th align='right'>新人专享<font color='red'>*</font>：</th>
             <td>
             	<input type='checkbox' id='onlyNewUser' <if condition="$object['onlyNewUser']==1 "> checked="checked" </if> />             	
             </td>
           </tr>
           
           <tr>
             <th align='right'>限制条件<font color='red'>*</font>：</th>
             <td class="limit">
             	<table>
             		<tr>
             			<td>单人单日限用</td>
             			<td><input type='text' id='limitDayUse' class="form-control rtc-ipt" value='{$object.limitDayUse}' style='width:150px' maxLength='5'/></td>
             			<td>张 [0表示不限制]</td>
             		</tr>
             		<tr>
             			<td>单人单日限用</td>
             			<td><input type='text' id='limitDayGet' class="form-control rtc-ipt" value='{$object.limitDayGet}' style='width:150px' maxLength='5'/></td>
             			<td> 张 [0表示不限制]</td>
             		</tr>
             		<tr>
             			<td>单人限领</td>
             			<td><input type='text' id='limitGetnum' class="form-control rtc-ipt" value='{$object.limitGetnum}' style='width:150px' maxLength='5'/></td>
             			<td>张 [0表示不限制]</td>
             		</tr>
             	</table> 
             </td>
           </tr>
           <tr>
             <th align='right'>卡券内容<font color='red'>*</font>：</th>
             <td>
             <textarea id='content' name='content' style='width:50%;height:200px;'>{$object.content}</textarea>
             </td>
           </tr>
           <tr>
             <td colspan='2' style='padding-left:250px;'>
                 <button type="submit" class="btn btn-success">保&nbsp;存</button>
                 <button type="button" class="btn btn-primary" onclick='javascript:location.href="{:U('Admin/Ticket/index')}"'>返&nbsp;回</button>
             </td>
           </tr>
        </table>
       </form>
   </body>
</html>