<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['mallTitle']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
   <script>   
   function toggleIsShow(t,v){
	   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
	   $.post("{:U('Admin/Ticket/editiIsShow')}",{id:v,isShow:t},function(data,textStatus){
			var json = RTC.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
				    location.reload();
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
	   });
   }
   function tickSync()
   {
		Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
	    $.post("{:U('M/Onecardtick/tickSync')}",{v: 1},function(data,textStatus){
	    	//alert(data);
			var json = RTC.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({content:'同步成功',timeout:1000,callback:function(){
				    location.reload();
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
	   });
   }
   function del(id){
	   Plugins.confirm({title:'信息提示',content:'您确定要删除该卡券吗?',okText:'确定',cancelText:'取消',okFun:function(){
		   Plugins.closeWindow();
		   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
		   $.post("{:U('Admin/Ticket/del')}",{id:id},function(data,textStatus){
					var json = RTC.toJson(data);
					if(json.status=='1'){
						Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
						location.reload();
						}});
					}else{
						Plugins.closeWindow();
						Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
					}
				});
	   }});
   }
   
   $(function(){
   		$("#tickSync").click(function(){
   			tickSync();
   		});
   });
   
   </script>
   <body class='rtc-page'>
       <form method='post' action='{:U("Admin/Ticket/index")}'>
       <div class='rtc-tbar' style='height:25px;'>
                    卡券标题：<input type='text' id='activityTitle' name='activityTitle' class='form-control rtc-ipt-15' value='{$activityTitle}'/> 
       <button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button>
       
       <button type="button" id="tickSync" class="btn  btn-success glyphicon"
       		style='float:right; margin-right: 5px;margin-left: 5px;'>同步一卡易卡券</button>
       <!--<a class="btn btn-success glyphicon glyphicon-plus" href="{:U('Admin/Ticket/toEdit')}" style='float:right'>新增</a>-->
       
       </div>
       </form>
       <div class="rtc-body"> 
        <table class="table table-hover table-striped table-bordered rtc-list">
           <thead>
             <tr>
               <th width='40'>序号</th>
               <th>标题</th>
               <th width='100'>分类</th>
               
               <th width='120'>金额(元)/折扣(折)</th>
               <th width='150'>一卡易卡券</th>
               <th width='80'>最低消费</th>
               
               <th width='190'>有效期</th>
               <!--<th width='100'>结束时间</th>-->
               <th width='150'>活动商家</th>
               <th width='80'>预发数量</th>
               <th width='80'>已发数量</th>
               <th width='80'>已用数量</th>
               
                
               <th width='150'>创建时间</th>
               <th width='150'>积分</th>
               <th width='150'>操作</th>
             </tr>
           </thead>
           <tbody>
            <volist name="Page['root']" id="vo" key='i'>
             <tr>
               <td>{$i}</td>
               <td>{$vo['title']}</td>
               <td>
	               	<if condition="$vo['typeName']=='ptq' ">普通券</if>
	               	<if condition="$vo['typeName']=='djq' ">代金券</if>
	               	<if condition="$vo['typeName']=='zkq' ">折扣券</if>
               </td>
               
               <td>{$vo['ticketAmount']}</td>
               <td>
	               <if condition="$vo['IsOneCardyTick']==1">一卡易<else/>-</if>               
               </td>
               <td>{$vo['miniConsumption']}</td>
               
               <td>{$vo['efficacySDate']}至{$vo['efficacyEDate']}</td>
              <!-- <td>{$vo['endDate']}</td>-->
               <td>{$vo['shopName']}</td>
               
               <td>{$vo['totalCount']}</td>
               <td>{$vo['sendCount']}</td>
               <td>{$vo['usedCount']}</td>
               
               <td>{$vo['createTime']}</td>
                <td>{$vo['needPoint']}</td>
               <td>
	               	
	               		<a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('Admin/Ticket/toEdit',array('id'=>$vo['ticketID']))}">修改</a>&nbsp;               
	               	
	               	<!--<if condition="$vo['IsOneCardyTick']==0">-->
	               	<!--</if> 	-->
               		<a class="btn btn-default glyphicon glyphicon-trash" href="javascript:del('{$vo['ticketID']}')"">刪除</a>
               </td>
             </tr>
             </volist>
             <tr>
                <td colspan='12' align='center'>{$Page['pager']}</td>
             </tr>
           </tbody>
        </table>
       </div>
   </body>
</html>