<link rel="stylesheet" href="__CSS__/shop-detail.css?2" />
<script type="text/javascript" src="__JS__/mui.min.js"></script>
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="mui-action-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
	<button class="mui-btn mui-btn-link mui-pull-right">
		<i class="iconfont icon-sousuo font24"></i>
	</button>
</header>
<div class="mui-content">
	<div class="cky-head-img" style="background-image: url(/{$data.shopImg});">
		<h4>秀山历史文化公园(4A)</h4>
		<h5><i class="iconfont icon-tupian"></i>5</h5>
	</div>
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<h5>
			<span>
				<i class="iconfont icon-full-star"></i>
				<i class="iconfont icon-full-star"></i>
				<i class="iconfont icon-empty-star"></i>
				<i class="iconfont icon-empty-star"></i>
				<i class="iconfont icon-empty-star"></i>
			</span>
			暂无评分
			</h5>
			<p class="shop-detail-sub">
				不仅山川修理，更有历代墨客骚人之吟咏。
				<span class="shop-detail-button">
					<a class="iconfont icon-love"></a>
					<a class="iconfont icon-share"></a>
				</span>
			</p>
		</li>
		<li class="mui-table-view-cell">
			<div class="cky-detail-table font15">
				<div class="cky-detail-col1">
					<i class="iconfont icon-rili font-gray"></i>
					每天{:timeToString($data['serviceStartTime'])}~{:timeToString($data['serviceEndTime'])}
				</div>
				<div class="cky-detail-col2">
					电话：{$data.shopTel}
					<i class="iconfont icon-phone font-blue"></i>
				</div>
			</div>
		</li>
		
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:U('map','')}?shopId={$data.shopId}&shopName={$data.shopName}&mapLevel={$data.mapLevel}&longitude={$data.longitude}&latitude={$data.latitude}">
				<i class="iconfont icon-weizhi font-gray"></i>
				{$data.shopAddress}
			</a>
		</li>
	</ul>
	
	<div id="slider" class="mui-slider">
		<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item mui-active" href="#item1mobile">
					简介
				</a>
			<a class="mui-control-item" href="#item2mobile">
					活动
				</a>
			<a class="mui-control-item" href="#item3mobile">
					产品
				</a>
		</div>
		<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
		<div class="mui-slider-group">
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<p class="mui-content-padded">{$data.shopDesc}</p>
			</div>
			<div id="item2mobile" class="mui-slider-item mui-control-content">
				暂无活动
			</div>
			<div id="item3mobile" class="mui-slider-item mui-control-content">
				<!-- 相关产品 -->
				<div class="mui-content-padded">
					<ul id="goodsList" class="cky-table-view mui-hidden">
						<!-- ko foreach: $data -->
						<li class="cky-table-view-cell">
							<a data-bind="attr: { href: '{:U('Goods/detail')}?id=' + goodsId }">
								<div class="cky-table-cell-thumb" data-bind="style: { backgroundImage: 'url(/'+ goodsThums +')' }">
								</div>
								<div class="cky-media">
									<span class="font20" data-bind="text: goodsName"></span>
									<div class="cky-center cky-media-content cky-ellipsis2 font16">
										
									</div>
									<span class="font15 font-orange">现价￥<span data-bind="text: shopPrice"></span></span>
									<h5 class="cky-right"><button class="cky-detail-buy-button">购买</button></h5>
							    </div>
						    </a>
						</li>
						<!-- /ko -->
					</ul>
					<div id="goodsLoading" class="mui-loading">
						<div class="mui-spinner">
						</div>
					</div>
				</div>
				<!-- 相关产品end -->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__KO__"></script>
<script type="text/javascript">
	$(function() {
		var isEOF = false;
		var pageNo = 1;
		var goods = [];
		var vm = ko.observableArray(goods);
		ko.applyBindings(vm, document.getElementById("goodsList"));
		function queryByPage() {
			if(!isEOF) {
				var api = "{:U('goods/page', '', '')}";
				$.getJSON(api, { shopId: "{:I('id')}",pageNo: pageNo }, function(list) {
					if(pageNo == 1) {
						$("#goodsLoading").hide();
						$("#goodsList").removeClass("mui-hidden");
					}
					pageNo++;
					if(list && list.length > 0) {
						$.each(list, function() {
							goods.push(this);
						});
						vm(goods);
					}
					
					if(list && list.length < 12) {
						isEOF = true;
					}
				});
			}
		}
		
		queryByPage();
		util.onScrollEnd(queryByPage);
	});
</script>