<link rel="stylesheet" href="__CSS__/shop-detail.css" />
<script type="text/javascript" src="__JS__/mui.min.js"></script>
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="mui-action-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		小世界
	</h1>
	<button class="mui-btn mui-btn-link mui-pull-right">
		<i class="iconfont icon-sousuo font24"></i>
	</button>
</header>
<div class="mui-content">
	<div class="cky-head-img" style="background-image: url(__IMG__/0JJ2G77427KR.jpg);">
		<h4>秀山历史文化公园(4A)</h4>
		<h5><i class="iconfont icon-tupian"></i>5</h5>
	</div>
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<h5>
			<span>
				<i class="iconfont icon-full-star"></i>
				<i class="iconfont icon-full-star"></i>
				<i class="iconfont icon-empty-star"></i>
				<i class="iconfont icon-empty-star"></i>
				<i class="iconfont icon-empty-star"></i>
			</span>
			暂无评分
			</h5>
			<p class="shop-detail-sub">
				不仅山川修理，更有历代墨客骚人之吟咏。
				<span class="shop-detail-button">
					<a class="iconfont icon-love"></a>
					<a class="iconfont icon-share"></a>
				</span>
			</p>
		</li>
		<li class="mui-table-view-cell">
			<div class="cky-detail-table">
				<div class="cky-detail-col2">
					<i class="iconfont icon-rili font-gray"></i>
					每天07:00~18:30
				</div>
				<div class="cky-detail-col2">
					电话：12345678888
					<i class="iconfont icon-phone font-blue"></i>
				</div>
			</div>
		</li>
		
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right">
				<i class="iconfont icon-weizhi font-gray"></i>
				云南省玉溪市通海县秀山镇文献里49号
			</a>
		</li>
	</ul>
	
	<div id="slider" class="mui-slider">
		<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item mui-active" href="#item1mobile">
					简介
				</a>
			<a class="mui-control-item" href="#item2mobile">
					活动
				</a>
			<a class="mui-control-item" href="#item3mobile">
					产品
				</a>
		</div>
		<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
		<div class="mui-slider-group">
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<p class="mui-content-padded">该景点美欧可以预售的门票</p>
			</div>
			<div id="item2mobile" class="mui-slider-item mui-control-content">
				暂无活动
			</div>
			<div id="item3mobile" class="mui-slider-item mui-control-content">
				<!-- 相关产品 -->
				<div class="mui-content-padded">
					<ul class="cky-table-view">
						<li class="cky-table-view-cell">
							<a href="{:U('Shop/goods', '', '')}">
								<div class="cky-table-cell-thumb cky-free-reserve" style="background-image: url(__ROOT__/Apps/M/View/default/images/dabbf221.jpg);">
								</div>
								<div class="cky-media">
									<span class="font20">香肠饭</span>
									<div class="cky-center cky-media-content cky-ellipsis2 font16">
										
									</div>
									<span class="font15 font-orange">现价￥19</span>
									<h5 class="cky-right"><button class="cky-detail-buy-button">购买</button></h5>
							    </div>
						    </a>
						</li>
					</ul>
				</div>
				<!-- 相关产品end -->
			</div>
		</div>
	</div>
</div>