<link rel="stylesheet" href="__CSS__/{:autoVer('shop-detail.css')}" />
<script type="text/javascript" src="__JS__/mui.min.js"></script>
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="mui-action-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
	<a class="mui-btn mui-btn-link cky-cart-btn" href="{:U('Cart/index')}">
		<i class="iconfont icon-gouwuche font24"></i>
	</a>
	<button class="mui-btn mui-btn-link mui-pull-right">
		<i class="iconfont icon-sousuo font24"></i>
	</button>
</header>
<div class="mui-content">
	<div class="cky-head-img" style="background-image: url(/{$data.shopImg});">
		<h4>{$data.shopProfile}</h4>
		<h5><i class="iconfont icon-tupian"></i>5</h5>
	</div>
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<h5>
			<span>
				{:getScore($data['score'])}
			</span>
			<if condition="$data.score gt 0">{$data.score}<else/>暂无评分</if>
			</h5>
			<p class="shop-detail-sub">
				{$data.shopWishes|default=$title}
				<span class="shop-detail-button">
					<a class="cky-fav iconfont icon-love" fav-target-id="{$data.shopId}" fav-target-type="0" fav-type="2"></a>
					<a id="shopshare" class="iconfont icon-share"></a>
				</span>
			</p>
		</li>
		<li class="mui-table-view-cell">
			<div class="cky-detail-table font15">
				<div class="cky-detail-col1">
					<i class="iconfont icon-rili font-gray"></i>
					每天{:timeToString($data['serviceStartTime'])}~{:timeToString($data['serviceEndTime'])}
				</div>
				<a class="cky-detail-col2 font-gray" href="tel:{$data.shopTel}">
					电话：{$data.shopTel}
					<i class="iconfont icon-phone font-blue"></i>
				</a>
			</div>
		</li>
		
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:U('map','')}?shopId={$data.shopId}&shopName={$data.shopName}&mapLevel={$data.mapLevel}&longitude={$data.longitude}&latitude={$data.latitude}">
				<i class="iconfont icon-weizhi font-gray"></i>
				{$data.shopAddress}
			</a>
		</li>
	</ul>
	
	<div id="slider" class="mui-slider">
		<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item mui-active" href="#item1mobile">
					简介
				</a>
			<a class="mui-control-item" href="#item2mobile">
					活动
				</a>
			<a class="mui-control-item" href="#item3mobile">
					产品
				</a>
		</div>
		<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
		<div class="mui-slider-group">
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<p class="mui-content-padded">{$data.shopDesc}</p>
			</div>
			<div id="item2mobile" class="mui-slider-item mui-control-content">
				<ul class="mui-table-view">
				<!-- ko foreach: $data -->
				<a class="cky-activity-cell" data-bind="attr: { href: '{:U('Activity/detail')}?id=' + activityId }">
					<img data-bind="attr: { alt: activityTitle, src: '/' + activityImg }"/>
				</a>
				<!-- /ko -->
				</ul>
			</div>
			<div id="item3mobile" class="mui-slider-item mui-control-content">
				
				<!-- 相关产品 -->
				<div class="mui-content-padded">
					<ul id="goodsList" class="cky-table-view" style="display: none;">
						<!-- ko foreach: $data -->
						<li class="cky-table-view-cell">
							<a data-bind="attr: { href: '{:U('Goods/detail')}?id=' + goodsId }">
								<div class="cky-table-cell-thumb" data-bind="style: { backgroundImage: 'url(/'+ goodsThums +')' }">
								</div>
								<div class="cky-media">
									<span class="font20" data-bind="text: goodsName"></span>
									<div class="cky-center cky-media-content cky-ellipsis2 font16">
										
									</div>
									<span class="font15 font-orange">现价￥<span data-bind="text: shopPrice"></span></span>
									<h5 class="cky-right"><button class="cky-detail-buy-button">购买</button></h5>
							    </div>
						    </a>
						</li>
						<!-- /ko -->
					</ul>
					<div id="goodsLoading" class="mui-loading">
						<div class="mui-spinner">
						</div>
					</div>
				</div>
				<!-- 相关产品end -->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__KO__"></script>
<script type="text/javascript">
	$(function() {
		var isEOF = false;
		var force = true;
		var pageNo = 1;
		var goods = [];
		var vm = ko.observableArray(goods);
		ko.applyBindings(vm, document.getElementById("goodsList"));
		function queryByPage() {
			if(force) {
				pageNo = 1;
				isEOF = false;
				force = false;
			}
			var _pageNo = pageNo;
			
			if(!isEOF) {
				var api = "{:U('Goods/ptg', '', '')}";
				$.getJSON(api, { shopId: "{:I('id')}",pageNo: _pageNo, catId: 0 }, function(list) {
					util.endScroll();
					if(_pageNo == 1) {
						vm.removeAll();
						goods.length = 0;
						$("#goodsLoading").hide();
						$("#goodsList").show();
					}
					pageNo = ++_pageNo;
					if(list && list.length > 0) {
						$.each(list, function() {
							goods.push(this);
						});
						vm(goods);
					}
					
					if(list && list.length < 12) {
						isEOF = true;
					}
				});
			} else {
				util.endScroll();
			}
		}
		
		queryByPage();
		util.onScrollEnd(queryByPage);
		
		// 加载活动
		$.getJSON("{:U('Activity/shopActivities')}", { shopId: "{:I('id')}" }, function(list) {
			if(list && list.length) {
				ko.applyBindings(list, document.getElementById("item2mobile"));
			} else {
				$("#item2mobile").empty();
			}
		});
		
		$("#shopshare").click(function(){
			cky.toast("请点击右上角分享菜单分享。");
		});
		
	});
	
 
	var shareData = {
	    title: '粗卡-{$title}',
	    desc:  '{$shopDesc}',
	    link: window.location.href,
	    imgUrl: 'http://cukayun.cn/{$data.shopImg}'
	}; 
 
	var signPackage=new Object(); 
	signPackage.appId='{$signPackage.appId}';
	signPackage.timestamp={$signPackage.timestamp};
	signPackage.nonceStr='{$signPackage.nonceStr}';
	signPackage.signature='{$signPackage.signature}';
	
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
<script src="__JS__/{:autoVer('wxjsapi.js')}"></script>