<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="mui-btn mui-btn-link mui-pull-left">
		海通 <i class="iconfont icon-xiala font17 font-gray"></i>
	</button>
	<h1 id="title" class="mui-title">
		<div class="cky-segmented">
			<a class="cky-segmented-item cky-active">全部商家</a>
			<a class="cky-segmented-item">商家活动</a>
		</div>
	</h1>
	<button class="mui-btn mui-btn-link mui-pull-right">
		<i class="iconfont icon-sousuo font24"></i>
	</button>
</header>
<div class="mui-content mui-content-padded mui-content-bottom mui-content-top">
	<nav class="mui-bar	cky-bar cky-top-bar">
		<a class="cky-bar-item">行业 <i class="iconfont icon-xiala font17 font-gray"></i></a>
		<a class="cky-bar-item">全程 <i class="iconfont icon-xiala font17 font-gray"></i></a>
		<a class="cky-bar-item">离我最近 <i class="iconfont icon-xiala font17 font-gray"></i></a>
	</nav>
	<ul id="shopsList" class="cky-table-view">
		<!-- ko foreach: $data -->
		<li class="cky-table-view-cell">
			<a href="{:U('detail', '', '')}/{$item.shopId}">
				<div class="cky-table-cell-thumb cky-table-cell-thumb80" style="background-image: url(/{$item.shopImg});">
					
				</div>
				<div class="cky-media">
					<span class="cky-media-title font20">{$item.shopName}</span>
					<h5 class="cky-right font-red">9.5折</h5>
					<div class="cky-clearfix"></div>
					<div class="cky-media-sub font15 font-gray2">
						<span>{$item.shopKeywords}</span>
						<span class="cky-right font15 font-gray2">1.2KM</span>
					</div>
					<div class="cky-clearfix"></div>
					<span class=" font15 font-gray">电话: {$item.shopTel}</span>
					<h5 class="cky-right"><i class="iconfont icon-phone font20 font-blue"></i></h5>
			    </div>
			</a>
		</li>
		<!-- /ko -->
		
	</ul>
</div>

<include file="Public:tab"/>
<script type="text/javascript" src="__JS__/geo.location.js?5"></script>
<script type="text/javascript" src="__KO__"></script>

<script type="text/javascript">
	$(function() {
		geolocation.getCurrentPosition(function(evt) {
			if(evt) {
				if(evt.addressComponent) {
					alert("城市: " + evt.addressComponent.city);
				}
				
				queryByPage();
			}
		});
		
		function queryByPage() {
			var api = "{:U('shops/')}"
			$.getJSON()
		}
	});
</script>