<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
	<button class="mui-btn mui-btn-link mui-pull-right">
		<i class="iconfont icon-favor font24"></i>
	</button>
</header>
<style>
	html, body, .mui-content, #map {
		height:100%;
	}
</style>
<div class="mui-content">
	<div id="map"></div>
</div>
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak={$CONF['bmapAK']}"></script>-->
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=37f0869604ca86505487639427d52bf6"></script>
<script type="text/javascript" src="__JS__/geo.location.js?12"></script>
<script type="text/javascript">
//	var map = new BMap.Map("map");    // 创建Map实例	
//	var center = new BMap.Point(util.i("longitude"), util.i("latitude"));
//	map.centerAndZoom(center, util.i("mapLevel"));
//	var centerMarker = new BMap.Marker(center);  // 创建标注
//	map.addOverlay(centerMarker);              // 将标注添加到地图中
	var mapLevel = Number(util.i("mapLevel"));
	var map = new AMap.Map('map', {
		view: new AMap.View2D({
			zoom:mapLevel
		})
   	});
	var center = new AMap.LngLat(util.i("longitude"), util.i("latitude"));
	map.setZoomAndCenter(mapLevel, center);
   	var marker = new AMap.Marker({
		position: center, //基点位置
		icon:"http://webapi.amap.com/images/marker_sprite.png"
   	});
   	marker.setMap(map);
	$(function() {
		geolocation.getCurrentPosition("{$CONF['bmapAK']}", function(evt) {
			if(evt) {
				
			}
		});
	});
</script>
