<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="mui-action-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
</header>
<div class="mui-content">
	<br />
	<div class="cky-grid cky-grid4">
		<foreach name="cats" item="item">
			<if condition="$item.catId eq 4">
				<a class="cky-grid-cell font8 cky-animate-scale" href="{:U('Shops/detail')}?id={$data.shopId}"><img src="__IMG__/seller.png"/>商家</a>
			<elseif condition="$item.catId eq 1">
				<a class="cky-grid-cell font8 cky-animate-scale" href="{:U('Fast/detail')}?id={$data.shopId}"><img src="__IMG__/takeaway.png"/>外卖</a>
			</if>
		</foreach>
	<div class="cky-grid cky-grid4">
</div>
