<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="format-detection" content="telephone=no">
	<title>{$title}</title>
	<link href="__CSS__/mui.min.css" rel="stylesheet" type="text/css" />
	<link href="__CSS__/mobile.css" rel="stylesheet" type="text/css" />
	

	<script src="__JQ__"></script>
	<script src="__JS__/android_toast.min.js"></script>
	<script src="__JS__/layerm/layer.js"></script>
	<script src="__JS__/{:autoVer('util.js')}"></script>
	<script src="__JS__/{:autoVer('common.js')}"></script>
    <title>{$title}</title>
    <script type="text/javascript">
        //调用微信JS api 支付 
        var wxCheckBox;
		var aliCheckBox;
    	$(document).ready(function() {
    		aliCheckBox=$("#aliCheckBox");
    		wxCheckBox=$("#wxCheckBox");
    		$("#zhifuButton").click(function(){				 			
				if(wxCheckBox.prop("checked")) {
					wxdPay();
				}
				else if(aliCheckBox.prop("checked")) {
					aliPay();
				}
				else
				{
					util.msg("请选择支付方式");
				}
			});
			//微信
			wxCheckBox.click(function() {
				if(wxCheckBox.prop("checked")) {
					aliCheckBox.prop("checked",false);
				}
			});
			//支付宝
			aliCheckBox.click(function() {
				if(aliCheckBox.prop("checked")) {
					wxCheckBox.prop("checked",false);					
				}
			});
		
			$("#wxCheckBox").prop("checked",true);
    	});
    	function wxdPay()
        {
        	$("#paytype").val("wx");
        	document.getElementById('payForm').submit();
        }
        function aliPay()
        {
        	$("#paytype").val("ali");
        	document.getElementById('payForm').submit();	
        }
    </script>
</head>
	<body>
		<div class="mui-content" style="padding-top: 0;">
			<p class="yyg-pay-total">充值金额：¥ <r> {$money}</r></p>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<label id="wxButton" for="wxCheckBox" class="mui-input-row mui-checkbox  mui-disabled">
						<div>
							<img class="circle-img" alt="" src="__IMG__/pay/wxpay.png">
							微信支付
						</div>
						<input id="wxCheckBox" type="checkbox">
					</label>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<label id="aliButton" for="aliCheckBox" class="mui-input-row mui-checkbox  mui-disabled">
						<div>
							<img class="circle-img" alt="" src="__IMG__/pay/alipay.png">
							支付宝
						</div>
						<input id="aliCheckBox" type="checkbox">
					</label>
				</li>
			</ul>
			<div style="display: none;">
				<form method="post" action="{:U('Pay/thirdpay', '', '')}" id="payForm">
						<input type="text" id="amount" name="amount" value="{$money}">	
						<input type="text" id="orderType" name="orderType" value="{$orderType}">
						<input type="text" id="accountmoney" name="accountmoney" value="0">
						<input type="text" id="accountscore" name="accountscore" value="0">
						<!--<input type="text" id="accountbgid" name="accountbgid" value="0">-->
						<input type="text" id="orderno" name="orderno" value="{$orderno}">
							
						<input type="text" id="goodsName" name="goodsName" value="粗卡会员卡充值">
						<input type="text" id="remark" name="remark" value=""/>
						<input type="text" id="paytype" name="paytype" value="wx"/>
				</form>
			</div>
			<footer class="yyg-footer">
				<div id="zhifuButton" class="yyg-btn yyg-btn-primary">立即支付</div>
			</footer>
		</div>
	
	</body>
</html>