<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="format-detection" content="telephone=no">
	<title>{$title}</title>
	<link href="__CSS__/mui.min.css" rel="stylesheet" type="text/css" />
	<link href="__CSS__/mobile.css" rel="stylesheet" type="text/css" />
	

	<script src="__JQ__"></script>
	<script src="__JS__/android_toast.min.js"></script>
	<script src="__JS__/layerm/layer.js"></script>
	<script src="__JS__/util.js?4.01"></script>
	<script src="__JS__/common.js"></script>
    <title>{$title}</title>
    <script type="text/javascript">
        //调用微信JS api 支付
        function jsApiCall()
        {

            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$jsApiParameters},
		        function(res){
		            WeixinJSBridge.log(res.err_msg);
		            //alert(res.err_code+res.err_desc+res.err_msg);
		            if(res.err_msg == "get_brand_wcpay_request:ok"){  
		               window.location.href = "{:U('Pay/success', '','')}"; 
		           }else if(res.err_msg == "get_brand_wcpay_request:cancel"){  
		               //window.location.href = "{:U('Pay/error', '','')}";  
		           }else{  
		              window.location.href = "{:U('Pay/error', '','')}";
		           }  
		        }
        	);
        }

        function callpay()
        {
        	if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
        
    	$(document).ready(function() {
    		$("#zhifuButton").click(function(){
				var wxCheckBox=$("#wxCheckBox");				
				if(wxCheckBox.prop("checked")) {
					callpay();
				}
				else
				{
					util.msg("请选择支付方式");
				}
			});
			$("#wxCheckBox").prop("checked",true);
    	});
    </script>
</head>
	<body>
		<div class="mui-content" style="padding-top: 0;">
			<p class="yyg-pay-total">充值金额：¥ <r> {$money} </r></p>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<label id="wxButton" for="wxCheckBox" class="mui-input-row mui-checkbox  mui-disabled">
						<div>
							<img class="circle-img" alt="" src="__IMG__/pay/wxpay.png">
							微信支付
						</div>
						<input id="wxCheckBox" type="checkbox">
					</label>
				</li>
			</ul>
			
			<footer class="yyg-footer">
				<div id="zhifuButton" class="yyg-btn yyg-btn-primary">立即支付</div>
			</footer>
		</div>
	
	</body>
</html>