<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no">
		<title>{$title}</title>
		<link href="__CSS__/mui.min.css" rel="stylesheet" type="text/css" />
		<link href="__CSS__/mobile.css" rel="stylesheet" type="text/css" />
		

		<script src="__JQ__"></script>
		<script src="__JS__/android_toast.min.js"></script>
		<script src="__JS__/layerm/layer.js"></script>
		<script src="__JS__/util.js?4.01"></script>
		<script src="__JS__/common.js"></script>
	</head>

	<body>
		<div class="mui-content" style="padding-top: 0;">
			<p class="yyg-pay-total">总支付金额：¥ <r> {$money} </r></p> 
			
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<label id="yueButton" for="yueCheckBox" class="mui-input-row mui-checkbox  mui-disabled">
						<div>
							<img class="circle-img" alt="" src="__IMG__/pay/payck.png">
							余额<span class="yyg-gray">(可用余额：¥{$account.EnableValue})</span>
						</div>
						<input id="yueCheckBox" type="checkbox">
					</label>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<label id="yueButton" for="jfCheckBox" class="mui-input-row mui-checkbox  mui-disabled">
						<div>
							<img class="circle-img" alt="" src="__IMG__/pay/payck.png">
							积分<span class="font12">1元={$scorerate}积分</span> <span class="yyg-gray">(可用:{$EnablePoint})</span>
						</div>
						<input id="jfCheckBox" type="checkbox">
					</label>
				</li>
			</ul>
			
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<label id="wxButton" for="wxCheckBox" class="mui-input-row mui-checkbox  mui-disabled">
						<div>
							<img class="circle-img" alt="" src="__IMG__/pay/wxpay.png">
							微信
						</div>
						<input id="wxCheckBox" type="checkbox">
					</label>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<label id="aliButton" for="aliCheckBox" class="mui-input-row mui-checkbox  mui-disabled">
						<div>
							<img class="circle-img" alt="" src="__IMG__/pay/alipay.png">
							支付宝
						</div>
						<input id="aliCheckBox" type="checkbox">
					</label>
				</li>
			</ul>
			<div class="cky-order-money cky-right">				
				<span id="payval" class="font12"></span>
			</div>
			 
			 
			 
			<div style="display: none;">
				<form method="post" action="{:U('Pay/thirdpay', '', '')}" id="payForm">
						<input type="text" id="amount" name="amount" value="0">
						<input type="text" id="orderType" name="orderType" value="{$orderType}">
						<input type="text" id="accountmoney" name="accountmoney" value="0">
						<input type="text" id="accountscore" name="accountscore" value="0">
						<!--<input type="text" id="accountbgid" name="accountbgid" value="0">-->
						<input type="text" id="orderno" name="orderno" value="{$orderno}">
							
						<input type="text" id="goodsName" name="goodsName" value="订单支付">
						<input type="text" id="remark" name="remark" value=""/>
						<input type="text" id="paytype" name="paytype" value="wx"/>
				</form>
			</div>
			<footer class="yyg-footer">
				<div id="zhifuButton" class="yyg-btn yyg-btn-primary">立即支付</div>
			</footer>
		</div>
		<!--描述：第三方支付-->
		<!--<div style="display: none;">-->
		
	</body>
</html>
<style>
	.yyg-pay-total{text-align: left;}
	.circle-img{ height: 24px;  width: 24px;}
</style>
<script type="text/javascript">
	var yueCheckBox;
	var wxCheckBox;
	var jfCheckBox;
	var aliCheckBox;
	var scorerate={$scorerate};
	var money =0;
	var total =0;
	var jf = 0;
	function setpayval()
	{
		var content="";
		var remaind=total;
		
		var amount=0;
		var accountmoney=0;
		var accountscore=0;

		if(jfCheckBox.prop("checked")){
			var maxjf= parseInt(total/2);
			var jfdq=jf/scorerate;
			if(maxjf> jfdq){accountscore=jfdq;}//不足的情况
			if(maxjf<= jfdq){accountscore=maxjf;}//全额
			remaind-=accountscore;
			content+="积分抵扣："+accountscore+'；';
		}
		
		if(yueCheckBox.prop("checked")){
			if(money> remaind){accountmoney=remaind;}//不足的情况
			if(money<= remaind){accountmoney=money;}//全额
			remaind-=accountmoney;
			content+="余额：¥"+accountmoney+'元；';
		}
		
		if(wxCheckBox.prop("checked")){ 
			if(total> remaind){amount=remaind;}//不足的情况
			if(total<= remaind){amount=total;}//全额
			remaind-=amount;
			content+="微信：¥"+amount+'元；';
		}
		if(aliCheckBox.prop("checked")){
			if(total> remaind){amount=remaind;}//不足的情况
			if(total<= remaind){amount=total;}//全额
			remaind-=amount;
			content+="支付宝支付：¥"+amount+'；';
		} 
		$("#amount").val(amount);
		$("#accountmoney").val(accountmoney);
		$("#accountscore").val(accountscore);
		  
		$("#payval").html(content+' &nbsp;');
	}
	$(document).ready(function() {
		money = parseFloat({$account.EnableValue});//可用金额
		total = parseFloat({$money});	//支付金额
		jf = parseInt({$EnablePoint});	//支付金额
		//选择支付项
		yueCheckBox=$("#yueCheckBox");
		wxCheckBox=$("#wxCheckBox");
		jfCheckBox=$("#jfCheckBox");
		aliCheckBox=$("#aliCheckBox");
		
		//支付信息  
		if(money==0)
		{
			yueCheckBox.prop("disabled", true);
		}
		if(jf <scorerate)
		{
			jfCheckBox.prop("disabled", true);			
		}
		
		if(money>0)//可用金额  小于 支付金额
		{
			wxCheckBox.prop("checked",true);	
		}
		setpayval();
		//积分
		jfCheckBox.click(function() {
//			if(jfCheckBox.prop("checked")) {
//				 yueCheckBox.prop("checked",false);
//			}
			setpayval();
		});
		//余额
		yueCheckBox.click(function() {
			if(yueCheckBox.prop("checked")) {
				if(money>total) //可用金额 >支付金额
				{
					wxCheckBox.prop("checked",false);
					aliCheckBox.prop("checked",false);
				}
			}
			setpayval();
		});
		//微信
		wxCheckBox.click(function() {
			if(wxCheckBox.prop("checked")) {
				aliCheckBox.prop("checked",false);
				if(money>total) //可用金额 >支付金额
				{
					yueCheckBox.prop("checked",false);
				}	
			}
			setpayval();
		});
		//支付宝
		aliCheckBox.click(function() {
			if(aliCheckBox.prop("checked")) {
				wxCheckBox.prop("checked",false);
				if(money>total) //可用金额 >支付金额
				{
					yueCheckBox.prop("checked",false);
				}	
			}
			setpayval();
		});
		
		var zhifuButton = $("#zhifuButton").click(function(){
			// 无需第三方付款
			var tamount=	parseFloat($("#amount").val());
			var taccountmoney=	parseFloat($("#accountmoney").val());
			var taccountscore=parseFloat($("#accountscore").val());
			var sumpay=tamount+taccountmoney+taccountscore;
			var ttotal=parseFloat(total);
			if(sumpay <ttotal)
			{
				util.msg("支付金额不足。");
				return false;
			}
		 	if(sumpay != ttotal)
			{
				util.msg("错误的支付金额。");
				return false;
			}
			zhifuButton.prop("disabled", true);
			if(wxCheckBox.prop("checked")) {
				wxdPay();
			}
			else if(aliCheckBox.prop("checked")) {
				aliPay();
			}
			else if(yueCheckBox.prop("checked")) {
				cky.loadding();
				localPay();
			} 
			else
			{
				util.msg("请选择支付方式");
			}
		});
		/*
		//调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$jsApiParameters},
		        function(res){
		            WeixinJSBridge.log(res.err_msg);
		            //alert(res.err_code+res.err_desc+res.err_msg);
		            if(res.err_msg == "get_brand_wcpay_request:ok"){  
		               window.location.href = "{:U('Pay/success', '','')}"; 
		           }else if(res.err_msg == "get_brand_wcpay_request:cancel"){  
		               //window.location.href = "{:U('Pay/error', '','')}";  
		           }else{  
		              window.location.href = "{:U('Pay/error', '','')}";
		           }  
		        }
        	);
        }   

        function wxdPay()
        {
        	if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
        */
        function wxdPay()
        {
        	$("#paytype").val("wx");
        	document.getElementById('payForm').submit();
        }
        function aliPay()
        {
        	$("#paytype").val("ali");
        	document.getElementById('payForm').submit();	
        }
        
		function localPay() {
			$.post("{:U('Pay/payvalue','','')}", {
				orderno: 		"{$orderno}",
				accountmoney:	parseFloat($("#accountmoney").val()),
				accountscore:	parseFloat($("#accountscore").val())
			}, function(data) {
				if (data.status) {
					 window.location.href ="{:U('success','','')}";
				} else {
					 util.msg("支付失败,错误代码：" + result.msg);
				}
				zhifuButton.prop("disabled", false);
			});
		}
		
			
		
	});
</script>