<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no">
		<title>{$title}</title>
		<link href="__CSS__/mui.min.css" rel="stylesheet" type="text/css" />
		<link href="__CSS__/mobile.css" rel="stylesheet" type="text/css" />
		

		<script src="__JQ__"></script>
		<script src="__JS__/android_toast.min.js"></script>
		<script src="__JS__/layerm/layer.js"></script>
		<script src="__JS__/util.js?4.01"></script>
		<script src="__JS__/common.js"></script>
	</head>

	<body>
		<div class="mui-content" style="padding-top: 0;">
			<p class="yyg-pay-total">支付金额：¥ <r> {$money}</r></p>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<label id="wxButton" for="wxCheckBox" class="mui-input-row mui-checkbox  mui-disabled">
						<div>
							<img class="circle-img" alt="" src="__IMG__/pay/wxpay.png">
							微信
						</div>
						<input id="wxCheckBox" type="checkbox">
					</label>
				</li>
			</ul>
		</div>
	</body>
</html>
<style>
	.yyg-pay-total{text-align: left;}
	.circle-img{ height: 24px;  width: 24px;}
</style>
<script type="text/javascript">
	var yueCheckBox;
	var wxCheckBox;
	$(document).ready(function() { 
		var wxCheckBox=$("#wxCheckBox");
		wxCheckBox.prop("checked",true);	
		//调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$jsApiParameters},
		        function(res){
		            WeixinJSBridge.log(res.err_msg);
		            if(res.err_msg == "get_brand_wcpay_request:ok"){
		            	if('{$orderType}'=='-1')
		            	{
		            		window.location.href = "{:U('/M/Group/goods', '', '')}?groupGoodsId={$groupGoodsId}&showshare=1";
		            	}
		            	else
		            	{
		            		window.location.href = "{:U('Pay/success', '','')}";	
		            	}
		           }else if(res.err_msg == "get_brand_wcpay_request:cancel"){  
		              history.go(-1);
		           }else{  
		              window.location.href = "{:U('Pay/error', '','')}";
		           }  
		        }
        	);
        }   

        function wxdPay()
        {
        	if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }        
        wxdPay();
        
	});
</script>