<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['mallTitle']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
      <style type="text/css">
		#preview{border:1px solid #cccccc; background:#CCC;color:#fff; padding:5px; display:none; position:absolute;}
	  </style>
   </head>
	<body class="rtc-page">
		<br>
		<div>
		<table class="table table-hover table-striped table-bordered rtc-list">
				<tr>
					<th width="70px">序号</th>
					<th>参与者微信id</th>
					<th>参与者注册id</th>
					<th>已砍金额</th>
					<th>总金额</th>
					<th>剩余金额</th>
					<th>帮砍次数</th>
					<th>剩余比例</th>
					<th>开始时间</th>
				</tr>
				<tbody>
					<volist name="list" id="vo" key="k">
						<tr>
						<td>{$k}</td>
						<td>{$vo.wx_id}</td>
						<td style="text-align: center;">{$vo.uid}</td>
						<td style="text-align: center;">{$vo.yikan}</td>
						<td>{$vo.money}</td>
						<td>{$vo.shengyumoney}</td>
						<td>{$vo.count}</td>
						<td>{$vo.shengyubili}</td>
						<td>{$vo.time|date="Y-m-d h:i:s",###}</td>			
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div style="text-align: center;">
			{$Page['pager']}
		</div>
   </body>
</html>