<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/plugins/lazyload/jquery.lazyload.min.js?v=1.9.1"></script>
<script type="text/javascript">
var RTC = ThinkPHP = window.Think = {
        "ROOT"   : "__ROOT__",
        "APP"    : "__APP__",
        "PUBLIC" : "__PUBLIC__",
        "DEEP"   : "{:C('URL_PATHINFO_DEPR')}",
        "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
        "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"],
        "DOMAIN" : "{:RTCDomain()}",
        "CITYID" : "{$currArea['areaId']}",
        "DEFAULT_IMG": "{:RTCDomain()}/{$CONF['goodsImg']}",
        "MALL_TITLE" : "{$CONF['mallName']}",
        "SMS_VERFY"  : "{$CONF['smsVerfy']}"
}
    var domainURL = "{:RTCDomain()}";
    var publicurl = "__PUBLIC__";
    var currCityId = "{$currArea['areaId']}";
    var currCityName = "{$currArea['areaName']}";
    var currDefaultImg = "{:RTCDomain()}/{$CONF['goodsImg']}";
    var wstMallName = "{$CONF['mallName']}";
    $(function() {
    	$('.lazyImg').lazyload({ effect: "fadeIn",failurelimit : 10,threshold: 200,placeholder:RTC.DEFAULT_IMG});
    });
</script>
<script src="__PUBLIC__/js/think.js"></script>
<div id="rtc-shortcut">
	<div class="w">
		<ul class="fl lh">
			<li class="fore1 ld"><b></b><a href="javascript:addToFavorite()"
				rel="nofollow">收藏{$CONF['mallName']}</a>
			</li>
				<s></s>
			<!--<li class="fore3 ld menu" id="app-jd" data-widget="dropdown">
				<span class="outline"></span> <span class="blank"></span> 
				<a href="#" target="_blank"><img src="__ROOT__/Apps/Home/View/default/images/icon_top_02.png"/>&nbsp;{$CONF['mallName']} 手机版</a>
			</li>-->
			<!--<li class="fore4" id="biz-service" data-widget="dropdown" style='padding:0;'>&nbsp;<s></s>&nbsp;&nbsp;&nbsp;
				所在城市
				【<span class='rtc-city'>&nbsp;{$currArea["areaName"]}&nbsp;</span>】
	
				
			</li>-->
		</ul>
	
		<ul class="fr lh" style='float:right;'>
			<li class="fore1" id="loginbar"><a href="#">
				<span style='color:blue'>{$RTC_USER['loginName']}</span></a>&nbsp; 欢迎您来到 {$CONF['mallName']}！<s></s>&nbsp;
			<span>
				<if condition="!$RTC_USER['userId']">
				<a href="{:U('Home/Shops/login')}">[登录]</a>
				</if>
				<if condition="$RTC_USER['userId'] gt 0">
				<a href="javascript:logout();">[退出]</a>
				</if>
			</span>
			</li>
		</ul>
		<span class="clr"></span>
	</div>
</div>
