<!DOCTYPE html>
<html lang="zh-cn">
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<title> {$CONF['mallTitle']}-商家登录</title>
      	<meta name="keywords" content="{$CONF['mallKeywords']}" />
      	<meta name="description" content="{$CONF['mallDesc']},商家登录" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css">
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/head.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/login.css">
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/Bolt.Global.css">
   	</head>
   	<body>
   		<include file="./Apps/Home/View/default/header_nav.html" />
   		<header id="" class="w clear zi5" style="">
	        <section class="area">
	            <nav class="fr">
	            </nav>
	            <h1 class="fl">
	                <a href="#" title="粗卡云" class="ti db logo">粗卡云</a>
	            </h1>
	        </section>
	    </header>
    	 <section id="banner" class="w clear pr zi4 ofh">
        <div class="pr zi3 bd">
            <ul>
                <li id="b1" style="background-image: url(__ROOT__/Apps/Home/View/default/images/b1.jpg);">
                <div class="w1100"> 
                <div style=" float:left; padding-top:120px;"><img src="__ROOT__/Apps/Home/View/default/images/amap.png" width="700" height="270"></div>
                <div class="loginbox" style=" float:right; margin-top:20px;">
                <div class="loginbox_ipu">
                	
                        <p>
                        	<span>用户名/手机号/邮箱</span><span id="errmsg" style="color:red;position:absolute;top:0px;left:100px;"></span>
                        	<br />
                        	<input name="UserName" type="text" class="q-text" id="loginName" autocomplete="off" placeholder="手机/用户名" /> </p>
                        <p><input name="PassWord" type="password" class="q-text" id="loginPwd" autocomplete="off" placeholder="密码" /><div class="i-pass ico"></div> </p>
                        <p><input name="verify" id="verify"  type="text" class="q-text" style=" width: 80px;" autocomplete="off" placeholder="验证码" /> 
                        <label class="img">
			                		<img style='vertical-align:middle;cursor:pointer;height:31px;' class='verifyImg' src='__ROOT__/Apps/Home/View/default/images/clickForVerify.png' 
			                			title='刷新验证码' onclick='javascript:getVerify()'/> 
								</label>  
                        </p>
                        <p>
                        	  <input class="checkbox" id="rememberPwd" name="rememberPwd" checked="checked" type="checkbox"/>
		                        <label class="mar">记住密码</label>                                          
		                        <label class="mar"><a href="{:U('Users/forgetPass')}">忘记密码?</a></label>
		                        
		                        <div class="clr"></div>
                        	
                        </p>
                        <p style=" margin-top:10px;">
                        	<input class="btcy" id="loginsubmit" value="登录" tabindex="8" onclick="javascript:login();"/> 
                        </p>
                        
                
                </div>
                
                 </div>
                <div></div>
                </div>
                </li>
            </ul>
        </div>
 
    </section>
    <section id="main" class="area clear">
        <section class="fl iabout" style=" width:300px;">
            <header>
                <h2 class="fs18 fwn ititle"><a href="#">新手指引</a></h2>
            </header>
        </section>
        <section class="fl inews">
            <header>
                <h2 class="fs18 fwn ititle"><a href="#">无法登录？请点此查看帮助</a></h2>
            </header>
            
        </section>
        <section class="fl clear iproducts">
            <header>
                <h2 class="fs18 fwn ititle"  style=" text-align:right;"><a href="#">服务电话  :{$CONF['phoneNo']}</a></h2>
            </header>
            
        </section>
    </section>
        <div class="footer">
        <p>云南丰祺商贸有限公司版权所有</p>
    </div>
   	</body>
   	<script src="__PUBLIC__/js/common.js"></script>
    <script src="__ROOT__/Apps/Home/View/default/js/common.js"></script>
   	<script src="__ROOT__/Apps/Home/View/default/js/shoplogin.js"></script>
</html> 
