<link rel="stylesheet" href="__CSS__/swiper.min.css" />
<link rel="stylesheet" href="__CSS__/{:autoVer('goods-detail.css')}" />
<link rel="stylesheet" href="__CSS__/{:autoVer('goods-picker.css')}" />
<script src="__JS__/swiper.jquery.min.js"></script>
<script type="text/javascript" src="__JS__/mui.min.js"></script>
<script type="text/javascript" src="__KO__"></script>
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="mui-action-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		商品详情
	</h1>
	<a class="mui-btn mui-btn-link cky-cart-btn" href="{:U('Cart/index')}">
		<i class="iconfont icon-gouwuche font24"></i>
	</a>
	<button class="mui-btn mui-btn-link mui-pull-right">
		<i class="iconfont icon-favor font24"></i>
	</button>
</header>
<div class="mui-content">
	<!-- Slider main container -->
	<div id="swiperList" class="swiper-container">
	    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
    		<!-- ko foreach: $data -->
			<div class="swiper-slide">
				<a class="swiper-img" data-bind="style: { backgroundImage: 'url(/'+ goodsImg +')' }"></a>
			</div>
			<!-- /ko -->
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	</div>
	
	<div class="cky-goods-bar">
		<span class="font-red">¥ {$data.shopPrice}</span>
		<button ctype="direct" class="cky-right mui-btn mui-btn-negative">立即购买</button>
		<button ctype="add" class="cky-right mui-btn mui-btn-positive">加入购物车</button>
	</div>
	<p class="font15 font-gray mui-content-padded">{$data.saleCount}人已抢购</p>
	
	<div id="slider" class="mui-slider">
		<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item mui-active" href="#item1mobile">
					详情
				</a>
			<a class="mui-control-item" href="#item2mobile">
					评价
				</a>
			<a class="mui-control-item" href="#item3mobile">
					成交记录
				</a>
		</div>
		<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
		<div class="mui-slider-group">
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<p class="mui-content-padded">{$data.goodsDesc}</p>
			</div>
			<div id="item2mobile" class="mui-slider-item mui-control-content">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{:U('GoodsAppraises/getAppraise',"","")}/goodsId/{:I('id')}">
		                    <span  style="position: absolute;  right: 15px;">{$appraise["avgtotal"]["totalusers"] }条</span>
		                	总评价：{:getScore($appraise["avgtotal"]["avgscore"])}
		                </a>
					</li>
				</ul>
				 
				 
				<volist name="appraise['root']" id="apprs" key='appr'>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:void(0);" class="top-navigate">
								<img class="mui-media-object mui-pull-left" src="{$apprs['userImagePath']}">
								<div class="mui-media-body">
									<p>{$apprs["userName"]}&nbsp;&nbsp;{:getScore($apprs["goodsScore"])}</p>
									{$apprs["content"]}
									<p class='mui-ellipsis'>{$apprs['ocreateTIme']}</p>
								</div>
							</a>
						</li>
					</ul>
				</volist>
			</div>
			<div id="item3mobile" class="mui-slider-item mui-control-content">
				<!-- 相关产品 -->
				<p class="mui-content-padded">暂无成交记录</p>
				<!--<div class="mui-content-padded">
					<ul class="cky-table-view">
						<li class="cky-table-view-cell">
							<a href="{:U('Shops/goods', '', '')}">
								<div class="cky-table-cell-thumb cky-free-reserve" style="background-image: url(__ROOT__/Apps/M/View/default/images/dabbf221.jpg);">
								</div>
								<div class="cky-media">
									<span class="font20">香肠饭</span>
									<div class="cky-center cky-media-content cky-ellipsis2 font16">
										
									</div>
									<span class="font15 font-orange">现价￥19</span>
									<h5 class="cky-right"><button class="cky-detail-buy-button">购买</button></h5>
							    </div>
						    </a>
						</li>
					</ul>
				</div>-->
				<!-- 相关产品end -->
			</div>
		</div>
	</div>
</div>

<div id="goodsPicker" class="cky-goods-picker cky-hidden" data-bind="css: activeCss">
	<div class="cky-goods-picker-body">
		<div class="cky-goods-picker-thums" style="background-image: url(/{$data.goodsThums});"></div>
		<div class="cky-goods-picker-media">
			<r class="font20">¥ {$data.shopPrice}</r>
			<h5>库存{$data.goodsStock}{$data.goodsUnit}</h5>
			<h5></h5>
		</div>
		<div class="cky-goods-picker-content">
		<hr />
		<div class="mui-content-padded">
			<div class="cky-col-view">
				<div class="cky-col-view-cell">购买数量</div>
				<div class="cky-col-view-cell cky-num-pick">
					<span class="jian"><i class="iconfont icon-jian"></i></span>
					<span class="num">1</span>
					<span class="jia"><i class="iconfont icon-jia"></i></span>
				</div>
			</div>
		</div>
		</div>
		<a id="submit" class="cky-btn cky-btn-block cky-btn-red">确定</a>
	</div>
</div>

<script type="text/javascript" src="__JS__/{:autoVer('shopcart.js')}"></script>

<script type="text/javascript">
	
	var swiperList = document.getElementById("swiperList");
	var gallerys = [{
		goodsImg: "{$data.goodsImg}",
	}];
	var gallerysVM = ko.observableArray(gallerys);
	ko.applyBindings(gallerysVM, swiperList);
	$(function() {
		$.getJSON("{:U('Goods/gallerys')}", { id: "{:I('id')}" }, function(list) {
			if(list && list.length > 0) {
				var swiperList = document.getElementById("swiperList");
				$.each(list, function() {
					gallerys.push(this);
				});
				gallerysVM(gallerys);
				var mySwiper = new Swiper ('.swiper-container', {
				    direction: 'horizontal',
				    pagination: '.swiper-pagination',
				    loop: true
		   		});
			}
		});
		
		
		var shopCart = new ShopCart("goodsPicker", {
			shopId: {$data.shopId},
			shopName: "{$data.shopName}",
			deliveryFreeMoney: {$data.deliveryFreeMoney},
			deliveryMoney: {$data.deliveryMoney},
		}, {
			goodsId: {$data.goodsId},
			goodsName: "{$data.goodsName}",
			goodsThums: "{$data.goodsThums}",
			shopPrice: {$data.shopPrice},
			goodsStock: {$data.goodsStock},
			goodsUnit: "{$data.goodsUnit}"
		});
		
		$("button[ctype]").click(function() {
			var $this = $(this);
			var ctype = $this.attr("ctype");
			shopCart.open(ctype);
		});
		
		$("#submit").click(shopCart.ok);
	});
	
	
</script>