<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="mui-action-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		购买记录
	</h1>
	<a class="mui-btn mui-btn-link cky-cart-btn" href="{:U('Cart/index')}">
		<i class="iconfont icon-gouwuche font24"></i>
	</a>
</header>
<div class="mui-content">
	<div id="recordsLoading" class="mui-loading">
		<div class="mui-spinner">
		</div>
	</div>
	<table id="recordsList" class="cky-table cky-hidden">
		<thead>
			<tr>
				<th class="cky-text-left">会员</th><th class="cky-text-left">数量</th><th class="cky-text-right">时间</th>
			</tr>
		</thead>
		<tbody>
			<!-- ko foreach: $data -->
			<tr>
				<td data-bind="text:userName"></td>
				<td class="cky-col-view-cell" data-bind="text: 'x' + count">x3</td>
				<td class="cky-text-right" data-bind="text: createTime"></td>
			</tr>
			<!-- /ko -->
		</tbody>
	</table>
</div>

<script type="text/javascript" src="__KO__"></script>

<script type="text/javascript">
	$(function() {
		
		var isEOF = false;
		var force = true;
		var pageNo = 1;
		var records = [];
		var vm = ko.observableArray(records);
		ko.applyBindings(vm, document.getElementById("recordsList"));
		
		function queryByPage() {
			if(force) {
				vm.removeAll();
				records.length = 0;
				pageNo = 1;
				isEOF = false;
				force = false;
			}
			var _pageNo = pageNo;
			if(!isEOF) {
				$.getJSON("{:U('Goods/records')}", {
					pageNo: _pageNo,
					goodsId: "{:I('goodsId')}"
				}, function(list) {
					if(_pageNo == 1) {
						records.length = 0;
						$("#recordsLoading").hide();
						$("#recordsList").removeClass("cky-hidden");
					}
					pageNo = ++_pageNo;
					if(list && list.length > 0) {
						$.each(list, function() {
							records.push(this);
						});
					}
					vm(records);
					
					if(list && list.length < 20) {
						isEOF = true;
					}
				});
			}
		}
		queryByPage();
		
		util.onScrollEnd(queryByPage);
		
	});
</script>