<include file="tab"/>
<link rel="stylesheet" href="__CSS__/{:autoVer('miaosha.css')}" />
<div class="ms-menu">
	<a class="ms-dropbtn">
		商品分类
		<i class="iconfont icon-dropdown"></i>
	</a>
	<div class="ms-radio-group mui-table">
		<input id="newestSortRadio" type="radio" name="ms-sort" value="2"/><label for="newestSortRadio" class="mui-table-cell mui-col-xs-3 mui-text-center">最新</label>
		<label class="mui-table-cell mui-col-xs-9"></label>
	</div>
</div>
<div id="goodsLoading" class="mui-loading">
	<div class="mui-spinner">
	</div>
</div>
<div id="goodsList" class="mui-table-view" data-bind="foreach: goods">
	<div class="mui-table-view-cell mui-media">
		<a data-bind="attr: { href: '{:U('Miaosha/view')}?id=' + miaoshaId + '&qishu=' + qishu }">
			<div class="mui-media-object mui-pull-left">
				<div class="jx-thumb" data-bind="style: { backgroundImage: 'url(/' + goodsThums + ')' }"></div>
				<div class="jx-qishu mui-text-center" data-bind="text: '第' + qishu + '期'"></div>
			</div>
			<div class="mui-media-body">
				<span class="cky-ellipsis" data-bind="text: goodsName"></span>
				<h5 class="font10" data-bind="text: '价值：¥' + marketPrice"></h5>
				<h5 class="font10">幸运云购码：<r data-bind="text: {:C('PRIZE_CODE')} + Number(prizeCode)"></r></h5>
				<!-- ko if: userName -->
				<div class="jx-user">获得者:<span data-bind="text: userName"></span></div>
				<h5 class="font10">获得者本期参与：<r data-bind="text: prizeCount"></r>人次</h5>
				<!-- /ko -->
				<!-- ko ifnot: userName -->
				<div class="jx-user jx-nobody">很遗憾本期没有幸运获得者</div>
				<h5 class="font10">本期剩余：<r data-bind="text: shengyurenshu"></r>人次</h5>
				<!-- /ko -->
				<h5 class="font10">揭晓时间：<span data-bind="text: endTime"></span></h5>
			</div>
		</a>
	</div>
</div>
<include file="Public:tab"/>
<script type="text/javascript" src="__JS__/{:autoVer('drop-menus.js')}"></script>
<script type="text/javascript" src="__KO__"></script>
<script>
	$(function() {
		var goods = [];
		var vm = {
			goods: ko.observableArray(goods),
		};
		ko.applyBindings(vm, document.getElementById("goodsList"));
		
		var sortType = {:I('sortType', 2)};
		var catId = 0;
		var pageNo = 1;
		function page(clear) {
			if(clear) {
				vm.goods.removeAll();
				goods.length = 0;
				pageNo = 1;
			}
			$.getJSON("{:U('Miaosha/hs')}", {
				type: 1,
				pageNo: pageNo,
				sortType: sortType,
				catId: catId,
			}, function(list) {
				util.endScroll();
				$("#goodsLoading").hide();
				if(list && list.length > 0) {
					pageNo++;
					goods = goods.concat(list);
					vm.goods(goods);
				}
			});
		}
		util.onScrollEnd(page);
		page();
		
		// 排序单选
		var sortGroup = $(".ms-radio-group");
		$("input[type=radio][name=ms-sort][value=" + sortType + "]", sortGroup).attr("checked", true);
		$('input[type=radio][name=ms-sort]', sortGroup).change(function() {
			var $this = $(this);
			sortType = this.value;
			page(true);
		});
		
		// 一元购分类
		$(".ms-dropbtn").dropMenu({
			api: "{:U('GoodsCats/query')}",
			idProperty: "catId",
			nameProperty: "catName",
			parentIdproperty: "parentId",
			parentId: 2,
			callback: function(evt) {
				catId = evt.catId;
				page(true);
			}
		});
		
	});
</script>
