<include file="tab"/>
<link rel="stylesheet" href="__CSS__/{:autoVer('miaosha.css')}" />
<div class="ms-menu">
	<a class="ms-dropbtn">
		商品分类
		<i class="iconfont icon-dropdown"></i>
	</a>
	<div class="ms-radio-group mui-table">
		<input id="popSortRadio" type="radio" name="ms-sort" value="1"/><label for="popSortRadio" class="mui-table-cell mui-text-center">人气</label>
		<input id="newestSortRadio" type="radio" name="ms-sort" value="2"/><label for="newestSortRadio" class="mui-table-cell mui-text-center">最新</label>
		<input id="laveSortRadio" type="radio" name="ms-sort" value="3"/><label for="laveSortRadio" class="mui-table-cell mui-text-center">剩余人数</label>
		<input id="priceDESCSortRadio" type="radio" name="ms-sort" value="4"/>
		<label for="priceDESCSortRadio" class="mui-table-cell mui-text-center" style="display: none;">
			价格
			<span>
				<i class="iconfont icon-asc"></i>
				<i class="iconfont icon-desc"></i>
			</span>
		</label>
		<input id="priceASCSortRadio" type="radio" name="ms-sort" value="5"/>
		<label for="priceASCSortRadio" class="mui-table-cell mui-text-center">
			价格
			<span>
				<i class="iconfont icon-asc"></i>
				<i class="iconfont icon-desc"></i>
			</span>
		</label>
	</div>
</div>
<div id="goodsLoading" class="mui-loading">
	<div class="mui-spinner">
	</div>
</div>
<div id="goodsList" class="ms-list" data-bind="foreach: goods">
	<div class="ms-list-item">
		<a data-bind="attr: { href: '{:U('Miaosha/view')}?id=' + miaoshaId }">
			<div class="ms-thumb" data-bind="style: { backgroundImage: 'url(/' + goodsThums + ')' }"></div>
			<div class="ms-title cky-ellipsis font14" data-bind="text: '(第'+qishu+'期) ' + goodsName"></div>
			<div class="ms-progressbar">
				<div class="ms-progressbar-item" data-bind="style: { width: 100 * Number(canyurenshu) / Number(zongrenshu) + '%'}"></div>
			</div>
			<div class="ms-price font-gray">
				<span class="font17">¥</span><r class="font17" data-bind="text: shopPrice"></r>
				<span class="ms-origin-price font13" data-bind="text: '¥' + marketPrice"></span>
			</div>
			<div class="ms-to-buy"><i></i>去抢购</div>
		</a>
	</div>
</div>
<include file="Public:tab"/>
<script type="text/javascript" src="__JS__/{:autoVer('drop-menus.js')}"></script>
<script type="text/javascript" src="__KO__"></script>
<script>
	$(function() {
		var goods = [];
		var vm = {
			goods: ko.observableArray(goods),
		};
		ko.applyBindings(vm, document.getElementById("goodsList"));
		
		var sortType = {:I('sortType', 1)};
		
		var pageNo = 1;
		var catId = 0;
		function page(clear) {
			if(clear) {
				vm.goods.removeAll();
				goods.length = 0;
				pageNo = 1;
			}
			$.getJSON("{:U('Miaosha/ms')}", {
				pageNo: pageNo,
				sortType: sortType,
				catId: catId
			}, function(list) {
				$("#goodsLoading").hide();
				if(list && list.length > 0) {
					pageNo++;
					goods = goods.concat(list);
					vm.goods(goods);
				}
			});
		}
		util.onScrollEnd(page);
		page();
		
		// 排序单选
		var sortGroup = $(".ms-radio-group");
		$("input[type=radio][name=ms-sort][value=" + sortType + "]", sortGroup).attr("checked", true);
		$("input[type='radio'][name='ms-sort']", sortGroup).change(function() {
			var $this = $(this);
			sortType = Number(this.value);
			if(sortType == 4 || sortType == 5) {
				$("label[for='priceASCSortRadio'],label[for='priceDESCSortRadio']", sortGroup).addClass("cky-active");
			} else {
				$("label[for='priceASCSortRadio'],label[for='priceDESCSortRadio']", sortGroup).removeClass("cky-active");
			}
			if(sortType == 5){
				$("label[for='priceASCSortRadio']", sortGroup).hide();
				$("label[for='priceDESCSortRadio']", sortGroup).show();
			} else {
				$("label[for='priceDESCSortRadio']", sortGroup).hide();
				$("label[for='priceASCSortRadio']", sortGroup).show();
			}
			page(true);
		});
		
		// 一元购分类
		$(".ms-dropbtn").dropMenu({
			api: "{:U('GoodsCats/query')}",
			idProperty: "catId",
			nameProperty: "catName",
			parentIdproperty: "parentId",
			parentId: 2,
			callback: function(evt) {
				catId = evt.catId;
				page(true);
			}
		});
		
	});
</script>
