<include file="tab"/>
<link rel="stylesheet" href="__CSS__/{:autoVer('miaosha.css')}" />
<div class="ms-menu">
	<a class="ms-dropbtn">
		商品分类
		<i class="iconfont icon-dropdown"></i>
	</a>
	<div class="ms-radio-group mui-table">
		<input id="laveSortRadio" type="radio" name="ms-sort" value="6"/><label for="laveSortRadio" class="mui-table-cell mui-text-center">即将</label>
		<input id="popSortRadio" type="radio" name="ms-sort" value="1"/><label for="popSortRadio" class="mui-table-cell mui-text-center">人气</label>
		<input id="newestSortRadio" type="radio" name="ms-sort" value="2"/><label for="newestSortRadio" class="mui-table-cell mui-text-center">最新</label>
		<input id="priceDESCSortRadio" type="radio" name="ms-sort" value="4"/><label for="priceDESCSortRadio" class="mui-table-cell mui-text-center">价格</label>
		<input id="priceASCSortRadio" type="radio" name="ms-sort" value="5"/><label for="priceASCSortRadio" class="mui-table-cell mui-text-center">价格</label>
	</div>
</div>
<div id="goodsLoading" class="mui-loading">
	<div class="mui-spinner">
	</div>
</div>
<div class="mui-table-view jx-list" data-bind="foreach: goods">
	<div class="mui-table-view-cell mui-media">
		<a>
			<div class="mui-media-object mui-pull-left">
				<div class="jx-thumb" data-bind="style: { backgroundImage: 'url(/' + goodsThums + ')' }"></div>
				<div class="jx-qishu mui-text-center" data-bind="text: '第' + qishu + '期'"></div>
			</div>
			<div class="mui-media-body">
				<span class="cky-ellipsis" data-bind="text: goodsName"></span>
				<h5 class="font10" data-bind="text: '价值：¥' + marketPrice"></h5>
				<div class="jx-countdown">
					<i class="iconfont icon-time"></i>揭晓倒计时
					<span data-bind="attr: { countdown: (Number(timestamp) + Number(jishijiexiao) * 3600) * 1000 }"></span>
				</div>
			</div>
		</a>
	</div>
</div>

<script type="text/javascript" src="__KO__"></script>
<script type="text/javascript" src="__JS__/countdown.js"></script>
<script>
	$(function() {
		var goods = [];
		var vm = {
			goods: ko.observableArray(goods),
		};
		ko.applyBindings(vm);
		
		var sortType = {:I('sortType', 1)};
		
		var pageNo = 1;
		function page(clear) {
			if(clear) {
				goods.length = 0;
				pageNo = 1;
			}
			$.getJSON("{:U('Miaosha/ms')}", {
				type: 1,
				pageNo: pageNo,
				sortType: sortType,
			}, function(list) {
				$("#goodsLoading").hide();
				if(list && list.length > 0) {
					pageNo++;
					goods = goods.concat(list);
					vm.goods(goods);
					countdown();
				}
			});
		}
		util.onScrollEnd(page);
		page();
		
		// 排序单选
		var sortGroup = $(".ms-radio-group");
		$("input[type=radio][name=ms-sort][value=" + sortType + "]", sortGroup).attr("checked", true);
		$('input[type=radio][name=ms-sort]', sortGroup).change(function() {
			var $this = $(this);
			sortType = this.value;
			page(true);
		});
		
	});
</script>
