<link rel="stylesheet" href="__CSS__/swiper.min.css" />
<link rel="stylesheet" href="__CSS__/{:autoVer('miaosha.css')}" />
<link rel="stylesheet" href="__CSS__/{:autoVer('goods-picker.css')}" />
<header class="mui-bar mui-bar-nav">
	<button class="mui-btn mui-btn-link mui-pull-left" data-bind="click: backClick">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title" data-bind="if:goods">第<span data-bind="text: goods().qishu"></span>期</h1>
	<a id="moreButton" data-bind="click: moreClick" class="mui-btn mui-btn-link mui-pull-right" ><i class="mui-icon mui-icon-bars"></i></a>
</header>


<div class="mui-content mui-content-bottom">
	<div class="swiper-container ms-swiper">
	    <div class="swiper-wrapper">
	    		<foreach name="galleries" item="item">
				<div class="swiper-slide"><a class="swiper-img" style="background-image: url(/{$item.goodsImg});"></a></div>
				</foreach>
	    </div>
	    <div class="swiper-pagination"></div>
	</div>

	<!-- ko if: goods() -->
	
	<div class="cky-bg-white ms-padding" >
		<!-- ko if: status() <= 1 -->
		<div class="mui-content-padded">
			<h4 class="ms-title mui-ellipsis-2">(第<span data-bind="text: goods().qishu"></span>期) <span data-bind="text: goods().goodsName"></span><r><span data-bind="text: goods().subTitle"></span></r></h4>
			<h5>价值：<r class="font10">¥</r> <r class="font24"><span data-bind="text: goods().marketPrice"></span></r></h5>
			<div class="ms-progressbar">
				<div class="ms-progressbar-item" data-bind="style:{ width: Number(goods().canyurenshu) * 100/ Number(goods().zongrenshu) + '%' }"></div>
			</div>
			<div class="mui-table">
				<div class="mui-table-cell mui-text-left">
					<h5 class="font10 font-red" data-bind="text: goods().canyurenshu"></h5>
					<h5 class="font10">已参与</h5>
				</div>
				<div class="mui-table-cell mui-text-center">
					<h5 class="font10" data-bind="text: goods().zongrenshu"></h5>
					<h5 class="font10">总需</h5>
				</div>
				<div class="mui-table-cell mui-text-right">
					<h5 class="font10 font-blue" data-bind="text: goods().shengyurenshu"></h5>
					<h5 class="font10">剩余</h5>
				</div>
			</div>
		</div>
		<!-- /ko -->
		
		
		<!-- ko if: status() == 2 -->
		<div class="ms-prize">
			<div class="mui-text-center ms-prize-empty">
				<div class="font-black1 font16">正在开奖：<span data-bind="attr: { countdown: goods().last }"></span></div>
				<h5>表着急，正在努力计算当中...</h5>
			</div>
		</div>
		<!-- /ko -->
		
		<!-- ko if: status() == 3 -->
		<div class="ms-prize">
			<!-- ko ifnot: goods().goumaicishu == 0 -->
			<div class="mui-table">
				<div class="mui-table-cell mui-text-center">
					<!-- ko if: goods().prizeUid > 0 -->
					<div class="ms-prize-img" data-bind="style: { backgroundImage: 'url(' + goods().userImg + ')' }"></div>
					<!-- /ko -->
					<!-- ko ifnot: goods().prizeUid > 0 -->
					<div class="ms-prize-img" style="background-image: url(__IMG__/nobody.png);"></div>
					<!-- /ko -->
				</div>
				<div class="mui-table-cell">
					<!-- ko if: goods().prizeUid > 0 -->
					<a data-bind="text: goods().username"></a>
					<h5>中奖人本次购买：<r data-bind="text: goods().prizeCount"></r>人次</h5>
					<!-- /ko -->
					<!-- ko ifnot: goods().prizeUid > 0 -->
					<h5><r>本期没有幸运获得者</r></h5>
					<h5>本期销量：<span data-bind="text: goods().canyurenshu"></span> &frasl; <span data-bind="text: goods().zongrenshu"></span></h5>
					<!-- /ko -->
					
					<h5>幸运云购码：<r data-bind="text: {:C('PRIZE_CODE')} + Number(goods().prizeCode)"></r></h5>
					<h5>揭晓时间：<span data-bind="text: goods().endTime"></span></h5>
				</div>
			</div>
			<!-- ko if: goods().prizeUid > 0 -->
			<a data-bind="click: clickPrizeCodes" class="ms-prize-footer mui-text-center font16 font-gray">
				获得者本期所有购物码 &gt;
			</a>
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko if: goods().goumaicishu == 0 -->
			<div class="mui-text-center ms-prize-empty">
				<i class="iconfont icon-yihan font-black1"></i>
				<div class="font-black1 font16">很遗憾，本期没有人参与</div>
			</div>
			<!-- /ko -->
		</div>
		<!-- /ko -->
	
		<!-- ko if: status() > 1 -->
		<div class="mui-table ms-goods-detail">
			<div class="mui-table-cell">
				<div class="ms-prize-img" data-bind="style: { backgroundImage: 'url(/' + goods().goodsThums + ')' }"></div>
			</div>
			<div class="mui-table-cell">
				<p class="mui-ellipsis-2 font15">
					(第<span data-bind="text: goods().qishu"></span>期) <span data-bind="text: goods().goodsName"></span>
					<r><span data-bind="text: goods().subTitle"></span></r>
				</p>
				<h5 class="font12">价值：¥<span data-bind="text: goods().marketPrice"></span></h5>
			</div>
		</div>
		<!-- /ko -->
	</div>
	
	<!-- ko if: status() < 2 && goods() && goods().jishijiexiao > 0 -->
	<ul class="mui-table-view cky-mtop-10">
		<li class="mui-table-view-cell">
			<a class="font20">
				剩余时间：<span data-bind="attr: { countdown: goods().end }"></span>
			</a>
		</li>
	</ul>
	<!-- /ko -->
	
	<ul class="mui-table-view cky-mtop-10">
		<!-- ko if: status() == 3 && goods().prizeNo > 0 -->
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" data-bind="attr: { href: '{:U('Miaosha/pr','','')}?id=' + goods().miaoshaId + '&qishu=' + goods().qishu }">计算结果</a>
		</li>
		<!-- /ko -->
		<li class="mui-table-view-cell">
			<a id="memberRecord" class="mui-navigate-right" data-bind="click: recordClick">
				参与纪录<span class="font13 font-gray">(<span data-bind="text: goods().goumaicishu"></span>)</span>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="{:U('Miaosha/detail')}?id={:I('id')}">
				图文详情<span class="font13 font-gray">(建议WIFI下使用)</span>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right">
				商品晒单
			</a>
		</li>
	</ul>
	
	<!-- /ko -->
</div>
<!-- ko if: status() <= 1 -->
<footer class="cky-footer cky-button-footer">
	<div class="mui-table">
		<div class="mui-table-cell"><a ctype="direct" data-bind="click: addCartClick" class="mui-btn mui-btn-block mui-btn-danger">立即一元秒杀</a></div>
		<div class="mui-table-cell"><a ctype="add" data-bind="click: addCartClick" class="mui-btn mui-btn-block mui-btn-primary">加入购物车</a></div>
	</div>
</footer>
<!-- /ko -->

<div id="goodsPicker" class="cky-goods-picker cky-hidden" data-bind="if: goods() && status() <= 1">
	<div class="cky-goods-picker-body">
		<div class="cky-goods-picker-thums" data-bind="style:{ backgroundImage: 'url(/' + goods().goodsThums + ')' }"></div>
		<div class="cky-goods-picker-media">
			<r class="font20">¥ <span data-bind="text: goods().shopPrice"></span></r>
			<h5>剩余<span data-bind="text: goods().shengyurenshu"></span>次</h5>
			<h5></h5>
		</div>
		<div class="cky-goods-picker-content">
		<hr />
		<div class="mui-content-padded">
			<div class="cky-col-view">
				<div class="cky-col-view-cell">购买数量</div>
				<div class="cky-col-view-cell cky-num-pick">
					<span class="jian"><i class="iconfont icon-jian"></i></span>
					<span class="num">1</span>
					<span class="jia"><i class="iconfont icon-jia"></i></span>
				</div>
			</div>
		</div>
		</div>
		<a id="submit" data-bind="click: okClick" class="cky-btn cky-btn-block cky-btn-red">确定</a>
	</div>
</div>

<div id="qishuBlock" class="mui-content ms-qishu">
	<div class="ms-code-table">
		<div class="ms-code-table-cell">
			<a qishu="0" data-bind="css: {  'ms-qishu-ing': goods() && goods().currentStatus < 3 }">
				第<span data-bind="text: goods() && goods().current"></span>期
			</a>
		</div>
		<!-- ko foreach: qishus -->
		<div class="ms-code-table-cell">
			<a data-bind="attr: { qishu: $data }">第 <span data-bind="text: $data"></span> 期</a>
		</div>
		<!-- /ko -->
	</div>
</div>
<div class="cky-loading"></div>

<script src="__KO__"></script>
<script src="__JS__/swiper.jquery.min.js"></script>
<script type="text/javascript" src="__JS__/{:autoVer('shopcart.js')}"></script>
<script type="text/javascript" src="__JS__/countdown.js"></script>

<script>
	$(function() {
		var shopCart = null;
		var miaoshaId = "{:I('id')}";
		var qishu = Number("{:I('qishu')}");
		var nextTimeHandler = 0;
		qishu = qishu > 0 ? qishu : 0;
		
		//获取缓存中的期数，以备返回页面时跳转到正确的期数
		var seed = "{$seed}";
		var SEED_KEY = "MIAOSHA_VIEW_QISHU";
		var seedData = cky.storage.getItem(SEED_KEY);
		if(seedData && seedData[0] == seed) {
			qishu = seedData[1];	
		}
			
		var mySwiper = new Swiper ('.swiper-container', {
	      	// Optional parameters
	      	direction: 'horizontal',
	      	pagination: '.swiper-pagination',
	      	autoplay: 3000,
	      	loop: true
	   	});
		
		var vm = {
			status: ko.observable(1), // 是否正在进行
			goods: ko.observable(null),
			qishus: ko.observableArray([]),
			clickPrizeCodes: onprizecodes,
			moreClick: onmoreclick,
			addCartClick: onaddcart,
			okClick: onokclick,
			recordClick: onrecordclick,
			backClick: onbackclick,
		};
		ko.applyBindings(vm);
		
		// 本期云购码
		function onprizecodes() {
			window.location.href = "{:U('Miaosha/mc')}?id={:I('id')}&qishu=" + qishu + "&uid=" + vm.goods().prizeUid + "&code=" + vm.goods().prizeCode;
		};
		
		cky.pageShow(function(event) { // 页面显示的时候  事件（包含回退）
			if(vm.status() < 3) {
				query();	
			}
		});
	   	
	   	function query() {
	   		$.getJSON("{:U('Miaosha/m')}", {
				id: miaoshaId,
				qishu: qishu == Number("{$data.qishu}") ? 0 : qishu
			}, function(goods) {
				if(!goods) {
					cky.closeLoading();
					return;
				}
				
				qishu = Number(goods.qishu);
				cky.storage.setItem(SEED_KEY, [seed, qishu]); // 保存到缓存中，以备返回页面时跳转到正确的期数
				
				window.clearTimeout(nextTimeHandler);
				var status = Number(goods.miaoshaStatus);
				goods.prizeNo = Number(goods.prizeNo);
				goods.current = Number(goods.current);
				goods.currentStatus = Number(goods.currentStatus);
				
				if(status == 2) {
					window.setTimeout(query, Math.max(goods.last - goods.now, 3000) + 3000);
				} else if(status < 2 && Number(goods.jishijiexiao) > 0) {
					window.setTimeout(query, Math.max(goods.end - goods.now, 3000) + 3000);
				}
				
				countdown(Number(goods.now));
				vm.goods(goods);
				vm.status(status);
				
				if(status < 2) {
					initshopCart(goods);
					$(".swiper-container").show();
				} else {
					$(".swiper-container").hide();
				}
				
				if(goods.current > vm.qishus().length) {
					var qishus = [];
					vm.qishus.removeAll();
					for(var i = goods.current - 1; i > 0; i--) {
						qishus.push(i);
					}
					vm.qishus(qishus);
				}
				
				// 期数
				$("#qishuBlock a.cky-active").removeClass("cky-active");
				$("#qishuBlock a[qishu=" + qishu + "]").addClass("cky-active");
				cky.closeLoading();
			});
	   	}
	   	
	   	function initshopCart(goods) {
	   		// 购物车
		   	shopCart = new ShopCart("goodsPicker", {
				shopId: goods.shopId,
				shopName: "一元购物",
				deliveryFreeMoney: 0,
				deliveryMoney: 0,
			}, {
				goodsId: goods.goodsId,
				goodsName: goods.goodsName,
				goodsThums: goods.goodsThums,
				shopPrice: goods.shopPrice,
				goodsStock: goods.shengyurenshu,
				goodsUnit: "次"
			});
		}
	   	
	   	function onrecordclick() {
	   		window.location.href = "{:U('Miaosha/mm')}?id={:I('id')}&qishu=" + qishu  + "&code=" + vm.goods().prizeCode;
	   	}
	   	
	   	var qishuBlock = $("#qishuBlock");
	   	$("#qishuBlock").on("click", "a", function() {
	   		var $this = $(this);
	   		if(!$this.hasClass("cky-active")) {
		   		qishu = Number($this.attr("qishu"));
		   		$("#qishuBlock a.cky-active").removeClass("cky-active");
		   		$this.addClass("cky-active");
		   		onmoreclick();
		   		query();
	   		}
	   	});
	   	
	   	function onaddcart(obj, evt) {
	   		var $this = $(evt.delegateTarget);
			var ctype = $this.attr("ctype");
			shopCart.open(ctype);
	   	}
	   	
	   	function onokclick(obj, evt) {
	   		shopCart.ok();
	   	}
	   	
	   	var qishuHandler = 0;
	   	function onmoreclick() {
	   		if(qishuHandler > 0) {
	   			window.clearTimeout(qishuHandler);
	   			qishuHandler = 0;
	   		}
	   		if(qishuBlock.hasClass("cky-active")) {
	   			qishuBlock.removeClass("cky-active");
	   			qishuHandler = window.setTimeout(function() {
	   				qishuBlock.hide();
	   				qishuHandler = 0;
	   			}, 200);
	   		} else {
	   			qishuBlock.show();
	   			qishuHandler = window.setTimeout(function(){
	   				qishuBlock.addClass("cky-active");
	   				qishuHandler = 0;
	   			}, 0)
	   		}
		}
	   	
	   	function onbackclick() {
	   		if(qishuBlock.hasClass("cky-active")) {
	   			onmoreclick();
	   		} else {
	   			window.history.back(-1);
	   		}
	   	}
	});
</script>