<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{$CONF['mallTitle']}后台管理中心</title>
		<link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="__ROOT__/Apps/Admin/View/css/daterangepicker/daterangepicker-bs3.css">
		<!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/js/common.js"></script>
		<script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
      <script src="__ROOT__/Apps/Admin/View/js/daterangepicker.js"></script>
	</head>
	<script type="text/javascript">
		function getAreaList(objId,parentId,t,id){
		   var params = {};
		   params.parentId = parentId;
		   $('#'+objId).empty();
		   if(t<1){
			   $('#areaId3').empty();
			   $('#areaId3').html('<option value="">请选择</option>');
		   }
		   var html = [];
		   $.post("{:U('Admin/Areas/queryByList')}",params,function(data,textStatus){
			    html.push('<option value="">请选择</option>');
				var json = RTC.toJson(data);
				if(json.status=='1' && json.list.length>0){
					var opts = null;
					for(var i=0;i<json.list.length;i++){
						opts = json.list[i];
						html.push('<option value="'+opts.areaId+'" '+((id==opts.areaId)?'selected':'')+'>'+opts.areaName+'</option>');
					}
				}
				$('#'+objId).html(html.join(''));
		   });
	   }
		$(function() {
			$('#dateRange').daterangepicker({format:'YYYY-MM-DD',separator:'至'});	
			 <notempty name='areaId1'>
			   getAreaList("areaId2",'{$areaId1}',0,'{$areaId2}');
			</notempty>
		});
	</script>

	<body class='rtc-page'>
		<form method='post' action="{:U('Admin/Shops/bill')}">
			<div class='rtc-tbar'>
				地区：
				<select id='areaId1' name='areaId1' onchange='javascript:getAreaList("areaId2",this.value,0)'>
               		<option value=''>请选择</option>
               		<volist name="areaList" id="vo">
               			<option value='{$vo['areaId']}' <if condition="$areaId1 == $vo['areaId'] ">selected</if>>{$vo['areaName']}</option>
               		</volist>
         		</select>
         		<select id='areaId2' name='areaId2'>
           			<option value=''>请选择</option>
         		</select>
				账单日期：<input type='text' id="dateRange" readonly='true' style='width:200px' name='dateRange' class='form-control rtc-ipt-10' value='{$dateRange}'/> 
				商家名称：<input type='text' name='shopName' class='form-control rtc-ipt-10' value='{$shopName}'/> 
       			商家编号：<input type='text' name='shopSn' class='form-control rtc-ipt-10' value='{$shopSn}'/> 
				<button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button>
			</div>
		</form>
		<div class='rtc-body'>
			<table class="table table-hover table-striped table-bordered rtc-list">
				<thead>
					<tr>
						<th width='30'>序号</th>
						<th>商家名称</th>
						<th>商家编号</th>
						<th>订单数</th>
						<th>总金额</th>
						<th width='80'>实付款</th>
						<th width='80'>在线支付</th>
						<th width='80'>余额支付</th>
						<th width='80'>积分抵扣</th>
						<th width='80'>详情</th>
					</tr>
 
				</thead>
				<tbody>
					<volist name="Page['root']" id="vo" key='i'>
						<tr>
							<td>{$i}</td>
							<td>{$vo['shopName']}</td>
							<td>{$vo['shopSn']}</td>
							<td>{$vo['ordersCount']}</td>
							<td>{$vo['totalMoney']}</td>
							<td>{$vo['realPay']}</td>
							
							<td>{$vo['netpayamount']}</td>
							<td>{$vo['accountmoney']}</td>
							<td>{$vo['accountscoremoney']}</td>
							<td>
								<a class="btn btn-default glyphicon glyphicon-pencil"  
               					href="{:U('Admin/Orders/index',array('shopName'=>$vo['shopName']),'')}/dateRange/{$dateRange}/orderStatus/5">查看</a>&nbsp;               					
							</td>
						</tr>
					</volist>
					<tr>
						<td colspan='11' align='center'>{$Page['pager']}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>