<link rel="stylesheet" href="__CSS__/fast.css" />
<header class="cky-header">
	<div class="cky-header-bg" style="background-image: url(__IMG__/fast-shop-bg.jpg);"></div>
	<div class="cky-header-nav">
		<button class="cky-back mui-btn mui-btn-link mui-pull-left"><i class="mui-icon mui-icon-left-nav"></i></button>
		<button class="mui-btn mui-btn-link mui-pull-right"><i class="iconfont icon-love"></i></button>
		<div class="cky-clearfix"></div>
	</div>
	<div class="cky-shop-header">
		<div class="cky-shop-header-thumb" style="background-image: url(/{$data.shopImg});"></div>
		<div class="cky-shop-header-media">
			<p class="font17">古道传奇</p>
			<p class="font13">起送费 ¥20 | 配送费 ¥4 | 37分钟</p>
			<p class="font13 cky-fast-header-sub">
				<i class="iconfont icon-laba cky-left"></i>
				<span class="cky-left">创“中国式”小吃——在思考与辛劳中经历收获的喜悦</span>
				<i class=" cky-left iconfont icon-dayu"></i>
				<div class="cky-clearfix"></div>
			</p>
		</div>
	</div>
</header>
<div id="slider" class="mui-slider cky-margin-header">
	<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		<a class="mui-control-item mui-active" href="#item1mobile">点菜</a>
		<a class="mui-control-item" href="#item2mobile">评价</a>
		<a class="mui-control-item" href="#item3mobile">商家详情</a>
	</div>
	<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
	<div class="mui-slider-group">
		<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
			<ul id="goodsCatsList" class="cky-fast-cat">
				<!-- ko foreach: $data -->
				<li class="cky-fast-cat-cell" data-bind="text: catName, attr: { idx: $index }"></li>
				<!-- /ko -->
			</ul>
			<div class="cky-fast-goods">
				<div id="goodsLoading" class="mui-loading">
					<div class="mui-spinner">
					</div>
				</div>
				<ul id="goodsList" class="cky-table-view cky-hidden">
					<!-- ko foreach: $data -->
					<li class="cky-table-view-cell cky-fast-goods-cell">
						<a data-bind="attr:{ href: '{:U('Goods/detail')}?id=' + goodsId }">
							<div class="cky-table-cell-thumb cky-table-cell-thumb60" data-bind="style:{ backgroundImage: 'url(/' + goodsThums + ')' }">
								
							</div>
							<div class="cky-media">
								<span class="cky-media-title font17" data-bind="text: goodsName"></span>
								<div class="cky-media-sub font13 font-gray2">
									<span data-bind="text: '已售' + saleCount + '单'"></span>
								</div>
								<span class="font-red font17" data-bind="text: '¥' + shopPrice"></span>
								<span class="font13 font-gray" data-bind="text: '/' + goodsUnit"></span>
						    </div>
						</a>
					</li>
					<li class="cky-table-view-cell cky-fast-goods-sub-cell" data-bind="attr:{ href: '{:U('Goods/detail')}?id=' + goodsId }">
						<div>
							<p>招牌指数<span class="cky-zhishu cky-zhishu3"></span></p>
							<p class="font13" data-bind="text: goodsSpec"></p>
						</div>
					</li>
					<!-- /ko -->
				</ul>
			</div>
		</div>
		<div id="item2mobile" class="mui-slider-item mui-control-content">
			<div class="mui-content-padded"></div>
		</div>
		<div id="item3mobile" class="mui-slider-item mui-control-content">
			<!-- 相关产品 -->
			<div class="mui-content-padded">
				
			</div>
			<!-- 相关产品end -->
		</div>
	</div>
</div>

<script type="text/javascript" src="__JS__/mui.min.js"></script>
<script type="text/javascript" src="__KO__"></script>
<script type="text/javascript">

	// 点菜
	$(function() {
		var cats = [];
		// 加载分类
		$.getJSON("{:U('Fast/cats')}", { shopId: util.i("id") }, function(list) {
			list = list || [];
			list.unshift({  catName: "畅销排行", catId: 0 });
			ko.applyBindings(list, document.getElementById("goodsCatsList"));
			$("#goodsCatsList li:first-child").addClass("cky-active");
			cats = list;
			
			// 加载点击事件
			$("#goodsCatsList li").click(function() {
				var $this = $(this);
				if($this.hasClass("cky-active")) {
					return;
				}
				var index = Number($this.attr("idx"));
				var cat = list[index];
				$("#goodsCatsList li.cky-active").removeClass("cky-active");
				$this.addClass("cky-active");
				if(cat) {
					force = true;
					shopCatId = cat.catId;
					sortType = cat.catId == 0 ? 1 : 0;
					queryByPage();
				}
			});
		});
		
		var isEOF = false;
		var force = true;
		var pageNo = 1;
		var goods = [];
		var shopCatId = 0;
		var sortType = 1;
		var vm = ko.observableArray(goods);
		ko.applyBindings(vm, document.getElementById("goodsList"));
		function queryByPage() {
			if(force) {
//				vm.removeAll();
				goods.length = 0;
				pageNo = 1;
				isEOF = false;
				force = false;
			}
			var _pageNo = pageNo;
			if(!isEOF) {
				$.getJSON("{:U('goods/page')}", {
					shopId: {:I('id')},
					pageNo: pageNo,
					shopCatId: shopCatId,
					sortType: sortType
				}, function(list) {
					if(_pageNo == 1) {
						goods.length = 0;
						$("#goodsLoading").hide();
						$("#goodsList").removeClass("mui-hidden");
					}
					pageNo = ++_pageNo;
					if(list && list.length > 0) {
						$.each(list, function() {
							goods.push(this);
						});
					}
					vm(goods);
					
					if(list && list.length < 10) {
						isEOF = true;
					}
				});
			}
		}
		queryByPage();
		util.onScrollEnd(queryByPage);
		
	});
</script>
