<link rel="stylesheet" href="__CSS__/fast.css" />
<header class="cky-header">
	<div class="cky-header-bg" style="background-image: url(/{$data.shopImg});"></div>
	<div>
		<button class="cky-back mui-btn mui-btn-link mui-pull-left"><i class="mui-icon mui-icon-left-nav"></i></button>
		<button class="mui-btn mui-btn-link mui-pull-right"><i class="iconfont icon-love"></i></button>
		<div class="cky-clearfix"></div>
	</div>
	<div class="cky-shop-header">
		<div class="cky-shop-header-thumb" style="background-image: url(/{$data.shopImg});"></div>
		<div class="cky-shop-header-media">
			<p class="font17">古道传奇</p>
			<p class="font13">起送费 ¥20 | 配送费 ¥4 | 37分钟</p>
			<p class="font13 cky-fast-header-sub">
				<i class="iconfont icon-laba cky-left"></i>
				<span class="cky-left">创“中国式”小吃——在思考与辛劳中经历收获的喜悦</span>
				<i class=" cky-left iconfont icon-dayu"></i>
				<div class="cky-clearfix"></div>
			</p>
		</div>
	</div>
</header>