<link rel="stylesheet" href="__CSS__/{:autoVer('fast.css')}" />
<script type="text/javascript" src="__JS__/mui.min.js"></script>
<script type="text/javascript" src="__KO__"></script>
<header class="cky-header">
	<div class="cky-header-bg" style="background-image: url(__IMG__/fast-shop-bg.jpg);"></div>
	<div class="cky-header-nav">
		<div class="cky-header-nav-bg"></div>
		<p class="cky-header-nav-title">{$data.shopName}</p>
		<button class="cky-back mui-btn mui-btn-link mui-pull-left"><i class="mui-icon mui-icon-left-nav"></i></button>
		<button class="mui-btn mui-btn-link mui-pull-right"><i class="iconfont icon-love"></i></button>
		<div class="cky-clearfix"></div>
	</div>
	<div class="cky-shop-header">
		<div class="cky-shop-header-thumb" style="background-image: url(/{$data.shopImg});"></div>
		<div class="cky-shop-header-media">
			<p class="font17">{$data.shopName}</p>
			<p class="font13">起送费 ¥{$data.deliveryStartMoney} | <if condition="$data.deliveryMoney eq 0">免配送费<else/>配送费 ¥{$data.deliveryMoney}</if> | {$data.deliveryCostTime}分钟</p>
			<p class="font13 cky-fast-header-sub">
				<i class="iconfont icon-laba cky-left"></i>
				<span class="cky-left">创“中国式”小吃——在思考与辛劳中经历收获的喜悦</span>
				<i class=" cky-left iconfont icon-dayu"></i>
				<div class="cky-clearfix"></div>
			</p>
		</div>
	</div>
</header>
<div id="slider" class="mui-slider cky-margin-header">
	<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		<a class="mui-control-item mui-active" href="#item1mobile">点菜</a>
		<a class="mui-control-item" href="#item2mobile">评价</a>
		<a class="mui-control-item" href="#item3mobile">商家详情</a>
	</div>
	<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
	<div class="mui-slider-group">
		<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
			<ul id="goodsCatsList" class="cky-fast-cat">
				<!-- ko foreach: $data -->
				<li class="cky-fast-cat-cell" data-bind="attr: { idx: $index }">
					<span data-bind="text: catName"></span>
					<span class="mui-badge" style="display: none;" data-bind="attr: {id: 'badge_cat_' + catId}">0</span>
				</li>
				<!-- /ko -->
			</ul>
			<div class="cky-fast-goods">
				<div id="goodsLoading" class="mui-loading">
					<div class="mui-spinner">
					</div>
				</div>
				<ul id="goodsList" class="cky-table-view cky-hidden">
					<!-- ko foreach: $data -->
					<li class="cky-table-view-cell cky-fast-goods-cell">
						<a href="javascript:void(0);" data-bind="attr: { goodsId: goodsId }">
							<div class="cky-table-cell-thumb cky-table-cell-thumb60" data-bind="style:{ backgroundImage: 'url(/' + goodsThums + ')' }">
								
							</div>
							<div class="cky-media">
								<span class="cky-media-title font17" data-bind="text: goodsName"></span>
								<div class="cky-media-sub font13 font-gray2">
									<span data-bind="text: '已售' + saleCount + '单'"></span>
								</div>
								<div class="cky-relative">
									<span class="font-red font17" data-bind="text: '¥' + shopPrice"></span>
									<span class="font13 font-gray" data-bind="text: '/' + goodsUnit"></span>
									<div class="cky-update cky-fast-add"
										data-bind="attr: { id: 'goods_' + goodsId,goodsId: goodsId, goodsName: goodsName, goodsThums: goodsThums, shopCatId: shopCatId1, shopPrice: shopPrice, goodsUnit: goodsUnit }">
										<button class="reduce cky-hidden"><i class="font-red iconfont icon-jian"></i></button>
										<span class="count cky-hidden">1</span>
										<button class="add"><i class="font-red iconfont icon-jia"></i></button>
									</div>
								</div>
						    </div>
						</a>
					</li>
					<li class="cky-table-view-cell cky-fast-goods-sub-cell">
						<a href="javascript:void(0);" data-bind="attr: { goodsId: goodsId }">
							<p>招牌指数<span class="cky-zhishu cky-zhishu3"></span></p>
							<p class="font13" data-bind="text: goodsSpec"></p>
						</a>
					</li>
					<!-- /ko -->
				</ul>
			</div>
		</div>
		<div id="item2mobile" class="mui-slider-item mui-control-content">
			<div class="mui-content-padded">
				
			</div>
		</div>
		<div id="item3mobile" class="mui-slider-item mui-control-content">
			<!-- 相关产品 -->
			<div class="mui-content-padded">
				
			</div>
			<!-- 相关产品end -->
		</div>
	</div>
</div>

<include file="Public:fastcart"/>
<script type="text/javascript">
	var isEOF = false;
	var force = true;
	var pageNo = 1;
	var goods = [];
	var shopCatId = 0;
	var sortType = 1;
	var vm = ko.observableArray(goods);
	ko.applyBindings(vm, document.getElementById("goodsList"));
	
	// 点菜
	$(function() {
		var fastCart = null;
		var cats = [];
		// 加载分类
		$.getJSON("{:U('Fast/cats')}", { shopId: util.i("id") }, function(list) {
			list = list || [];
			list.unshift({  catName: "畅销排行", catId: 0 });
			ko.applyBindings(list, document.getElementById("goodsCatsList"));
			$("#goodsCatsList li:first-child").addClass("cky-active");
			cats = list;
			if(fastCart) {
				fastCart.refreshCats();
			}
			
			// 加载点击事件
			$("#goodsCatsList li").click(function() {
				var $this = $(this);
				if($this.hasClass("cky-active")) {
					return;
				}
				var index = Number($this.attr("idx"));
				var cat = list[index];
				$("#goodsCatsList li.cky-active").removeClass("cky-active");
				$this.addClass("cky-active");
				if(cat) {
					force = true;
					shopCatId = cat.catId;
					sortType = cat.catId == 0 ? 1 : 0;
					queryByPage();
				}
			});
		});
		function queryByPage() {
			if(force) {
//				vm.removeAll();
				goods.length = 0;
				pageNo = 1;
				isEOF = false;
				force = false;
			}
			var _pageNo = pageNo;
			if(!isEOF) {
				$.getJSON("{:U('Goods/page')}", {
					shopId: {:I('id')},
					pageNo: pageNo,
					shopCatId: shopCatId,
					sortType: sortType
				}, function(list) {
					if(_pageNo == 1) {
						vm.removeAll();
						goods.length = 0;
						$("#goodsLoading").hide();
						$("#goodsList").removeClass("mui-hidden");
					}
					pageNo = ++_pageNo;
					if(list && list.length > 0) {
						$.each(list, function() {
							goods.push(this);
						});
					}
					vm(goods);
					
					if(list && list.length < 10) { // 不需要翻页
						isEOF = true;
					}
					
					done();
				});
			}
		}
		queryByPage();
		// util.onScrollEnd(queryByPage); 不需要翻页
		
		// 商品点击事件
		$("#goodsList").on("click", "a[goodsId]", function() {
			var $this = $(this);
			var goodsId = $this.attr("goodsId");
			window.location.href = "{:U('Goods/fast')}?id=" + goodsId;
		});
		
		function done() {
			if(fastCart) {
				fastCart.refreshGoods();
				return;
			} else {
				// 购物车
				fastCart = new FastCart({$data.shopId}, "{$data.shopName}",
				{$data.deliveryStartMoney}, {$data.deliveryFreeMoney},
				{$data.deliveryMoney}, {$data.deliveryCostTime},
				{$data.serviceStartTime}, {$data.serviceEndTime});
			}
		}
		$(document.body).css("overflow", "hidden");
		$("#goodsList, #goodsCatsList").height($(window).height() - 132);
		//$("#slider").css("");
		
//		$(window).bind("scroll", function(evt) {
//			var wTop = $(window).scrollTop();
//			if(wTop >= 81) {
//				$(".cky-header-nav").addClass("cky-active");
////				$(document.body).css("overflow", "hidden");
//				$("#slider").addClass("cky-fixed");
//			}
//		});
		
	});
</script>
