<link rel="stylesheet" href="__CSS__/{:autoVer('fast.css')}" />
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		小猴快送
	</h1>
</header>
<div class="mui-content mui-content-padded mui-content-bottom mui-content-top">
	<nav class="mui-bar	cky-bar cky-top-bar">
		<a id="catsButton" class="cky-bar-item cky-drop-btn">商家分类</a>
		<a id="sortButton" class="cky-bar-item cky-drop-btn">综合排序</a>
		<a id="positionButton" class="cky-bar-item cky-drop-btn">小猴快送</a>
	</nav>
	
	<div id="shopsLoading" class="mui-loading">
		<div class="mui-spinner">
		</div>
	</div>
	<ul id="shopsList" class="cky-table-view mui-hidden">
		<!-- ko foreach: $data -->
		<li class="cky-table-view-cell">
			<a data-bind="attr:{ href: '{:U('Fast/detail')}?id=' + shopId }">
				<div class="cky-table-cell-thumb cky-table-cell-thumb60" data-bind="style:{ backgroundImage: 'url(/' + shopImg + ')' }">
					
				</div>
				<div class="cky-media">
					<span class="cky-media-title font20" data-bind="text: shopName"></span>
					<div class="cky-media-sub font13 font-gray2">
						<span class="cky-score" data-bind="html:getStar(totalScore / totalUsers)"></span>
						<span data-bind="text: '月售' + totalUsers + '单'"></span>
						<label class="cky-right cky-waimai"><i class="iconfont icon-waimai"></i><span>小猴快跑</span></label>
						<div class="cky-clearfix"></div>
					</div>
					<span class=" font13 font-gray" data-bind="text: '起送价: ¥ ' + deliveryStartMoney + ' | '"></span>
					<span class=" font13 font-gray" data-bind="text: '配送费: ¥ ' + deliveryMoney + ' | '"></span>
					<span class=" font13 font-gray" data-bind="text: deliveryCostTime + '分钟'"></span>
					
			    </div>
			</a>
		</li>
		<li class="cky-table-view-cell" data-bind="attr:{ href: '{:U('Fast/detail')}?id=' + shopId }">
			<div>
				<p><i class="cky-icon cky-icon-shou">首</i>首单立减10元（在线支付专享）</p>
				<p><i class="cky-icon cky-icon-fan">返</i>新用户下单，返3张5元红包</p>
				<div class="font13 font-gray cky-update cky-drop-btn">还有3个活动</div>
			</div>
		</li>
		<!-- /ko -->
	</ul>
</div>

<include file="Public:tab"/>
<script type="text/javascript" src="__JS__/{:autoVer('drop-menus.js')}"></script>
<script type="text/javascript" src="__KO__"></script>

<script type="text/javascript">
	function getStar(scores) {
		var s = Math.floor(scores * 2);
		var arr = [];
		for(var i = 0; i < 10; i+=2) {
			if(s > i && s < i + 2) {
				arr.push("icon-half-star");
			} else if(s > i) {
				arr.push("icon-favorfill");
			} else {
				arr.push("icon-empty-star");
			}
		}
		return "<i class=\"iconfont " + arr.join("\"></i><i class=\"iconfont ") + "\"></i>";
	}

	$(function() {
		var currentLongitude = 0;
		var currentLatitude = 0;
		
		var isEOF = false;
		var force = true;
		var pageNo = 1;
		var shops = [];
		var catId = 0;
		var sortType = 0;
		var vm = ko.observableArray(shops);
		ko.applyBindings(vm, document.getElementById("shopsList"));
		
		geolocation.getCurrentPosition("{$CONF['bmapAK']}", function(lng, lat, city, areaId) {
			currentLongitude = lng;
			currentLatitude = lat;
			force = true;
			queryByPage();
		});
		function queryByPage() {
			if(force) {
				vm.removeAll();
				shops.length = 0;
				pageNo = 1;
				isEOF = false;
				force = false;
			}
			var _pageNo = pageNo;
			if(!isEOF) {
				$.getJSON("{:U('Fast/page')}", {
					pageNo: pageNo,
					catId: catId,
					sortType: sortType,
					lng: currentLongitude,
					lat: currentLatitude
				}, function(list) {
					if(_pageNo == 1) {
						shops.length = 0;
						$("#shopsLoading").hide();
						$("#shopsList").removeClass("mui-hidden");
					}
					pageNo = ++_pageNo;
					if(list && list.length > 0) {
						$.each(list, function() {
							shops.push(this);
						});
					}
					vm(shops);
					
					if(list && list.length < 10) {
						isEOF = true;
					}
				});
			}
		}
		queryByPage();
		util.onScrollEnd(queryByPage);
		
		// 商家分类
		$("#catsButton").dropMenu({
			api: "{:U('GoodsCats/query')}",
			idProperty: "catId",
			nameProperty: "catName",
			parentIdproperty: "parentId",
			parentId: 1,
			callback: function(evt) {
				catId = evt.catId;
				force = true;
				queryByPage();
			}
		});
		
		// 综合排序
		$("#sortButton").dropMenu({
			menus: [
				{ id: 1, name: "人气", value: 1 },
				{ id: 2, name: "评价最高", value: 2 },
				{ id: 3, name: "距离最近", value: 3 }
			],
			defaultText: "综合",
			callback: function(evt) {
				sortType = evt.value;
				force = true;
				queryByPage();
			}
		});
	});
</script>