<link rel="stylesheet" href="__ROOTCSS__/navbar.css" />
<header class="mui-bar mui-bar-nav">
	  <button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav" ></span>
	    	<a href="{:U('Home/selectreg','','')}">返回</a>
	  </button>
	  <h1 class="mui-title">{$title}</h1>
</header>
<div class="mui-content">
	<ul class="bar-tab">
			<li class="bar-tab-item">
				<a href="{:U('Home/conncardmobile','','')}">
					手机验证
				</a>
			</li>
			<li class="bar-tab-item  bar-active">
					卡号绑定
				</a>
			</li>
	</ul>

		<form>
				<input type="hidden"  name="yaoqing" />
				<div class="mui-input-group">
						<div class="mui-input-row">
							<label>卡号</label>
							<input id='account' type="text" name="mobile" class="mui-input-clear mui-input" maxlength="11" required placeholder="请输入您预留的手机号码">
						</div>
						<div class="mui-input-row">
							<label>密码</label>
							<input id='password' type="password"  name="password"  class="mui-input-clear mui-input" required placeholder="请输入密码">
						</div>
				</div>
				<div class="mui-content-padded">
					<button id='btnsubmit' type="submit" class="mui-btn mui-btn-block mui-btn-primary">提交</button>
				</div>
		</form>
 
	
</div>
 <style type="text/css">
 			.mui-input-group {margin-top: 10px;}
			.mui-input-group:first-child {
				margin-top: 20px;
			}
			.mui-input-group label {
				width: 22%;
			}
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 78%;
			}
 </style>
 
<script>
	$(function() {
		
		
	});
</script>
