<div class="mui-table nav-horizontal-buttons">
	<a class="mui-table-cell nav-horizontal-button1"><i class="iconfont icon-meishi"></i>团购</a>
	<a class="mui-table-cell nav-horizontal-button2"><i class="iconfont icon-seller"></i>商家</a>
	<a class="mui-table-cell nav-horizontal-button3"><i class="iconfont icon-huodong"></i>活动</a>
	<a class="mui-table-cell nav-horizontal-button4"><i class="iconfont icon-peisong"></i>速达农村配送</a>
	<a class="mui-table-cell nav-horizontal-button5"><i class="iconfont icon-gouwuche12"></i>商城</a>
</div>

<div class="mui-table nav-grid-buttons">
	<a class="mui-table-cell nav-grid-button1"><i class="iconfont icon-xinwenzixun"></i>新闻资讯</a>
	<a class="mui-table-cell nav-grid-button2"><i class="iconfont icon-jifenshangcheng"></i>积分商城</a>
	<a class="mui-table-cell nav-grid-button3"><i class="iconfont icon-miaosha"></i>秒杀</a>
	<a class="mui-table-cell nav-grid-button4"><i class="iconfont icon-dazhuanpan"></i>大转盘</a>
	<a class="mui-table-cell nav-grid-button5"><i class="iconfont icon-yiyuangouwu"></i>一元夺宝</a>
</div>
<div class="mui-table nav-grid-buttons">
	<a class="mui-table-cell nav-grid-button6"><i class="iconfont icon-shenghuofuwu"></i>生活服务</a>
	<a class="mui-table-cell nav-grid-button7"><i class="iconfont icon-kouhong"></i>丽人</a>
	<a class="mui-table-cell nav-grid-button8"><i class="iconfont icon-bendishangjia"></i>本地商家</a>
	<a class="mui-table-cell nav-grid-button9"><i class="iconfont icon-dianying"></i>电影</a>
	<a class="mui-table-cell nav-grid-button10"><i class="iconfont icon-daijinquanpaisong"></i>代金券派送</a>
</div>