<div class="miaosha-card" id="groupCard">
	<div class="mui-table-view">
		<div class="mui-table-view-cell nav-cell">
			<a href="{:U('/Mobile/Group/index','','')}">
				/ 热门拼团 /
			</a>
		</div>
	</div>
	<div class="horizontal-scroll">
		<ul class="mui-table" data-bind="foreach: $data,css: { 'one': $data.length ==1,'two': $data.length ==2,'three': $data.length ==3 }">
			<li class="mui-table-cell">
				<a data-bind="attr: { href: '{:U('/M/Group/goods', '', '')}?groupGoodsId=' + groupGoodsId }">
					<div class="media-image" data-bind="style: { backgroundImage: 'url(/' + goodsImg + ')' }"></div>
					<div class="mui-ellipsis" data-bind="text: goodsName"></div>
					<r data-bind="text: '¥ ' + groupPrice"></r> <del data-bind="text: '¥ ' + shopPrice"></del>
					<h5>已售 <span class="sale-count" data-bind="text: groupNumbers"></span></h5>
				</a>
			</li>
		</ul>
	</div>
</div>
<script>
	seajs.use([], function() {
		$.getJSON("{:U('/Api/Group/newest', '', '')}", function(data) {
			if(data && data.code == 200 && data.rst) {
				var groupCard = document.getElementById("groupCard");
				ko.applyBindings(data.rst, groupCard);
			}
		});
	});
</script>
