<div class="miaosha-card" id="miaoshaCard" style="display: none">
	<div class="mui-table-view">
		<div class="mui-table-view-cell nav-cell">
			<a data-bind="attr: { href: '{:U('M/SnappedUp/index', '', '')}' }">
				/秒杀/<!--<h5 class="state">已结束</h5>-->
				<h5 class="mui-pull-right">
					<span data-bind="text: CName"></span> <i class="iconfont icon-gengduojiantou"></i>
				</h5>
			</a>
		</div>
	</div>
	<div class="horizontal-scroll">
		<ul class="mui-table" data-bind="foreach: Goods,css: { 'one': Goods.length ==1,'two': Goods.length ==2,'three': Goods.length ==3 }">
			<li class="mui-table-cell">
				<a data-bind="attr: { href: '{:U('M/SnappedUp/detail', '', '')}?id=' + goodsId }">
					<div class="media-image" data-bind="style: { backgroundImage: 'url(/' + goodsThums + ')' }"></div>
					<div class="mui-ellipsis" data-bind="text: goodsName"></div>
					<div style="white-space: nowrap;word-break: keep-all;">
						<r data-bind="text: '¥ ' + shopPrice"></r> <del data-bind="text: '¥ ' + marketPrice"></del>
					</div>
					<h5>销量 <span class="sale-count" data-bind="text: saleCount"></span></h5>
				</a>
			</li>
		</ul>
	</div>
</div>
<script>
	seajs.use([], function() {
		$.getJSON("{:U('/M/SnappedUp/IndexSnapp', '', '')}", function(data) {
			if(data && data.Goods && data.Goods.length > 0) {
				var miaoshaCard = document.getElementById("miaoshaCard");
				ko.applyBindings(data, miaoshaCard);
				miaoshaCard.style.display = "";
			}
		});
	});
</script>
