<div class="neweast-card" id="neweastCard" style="display: none">
	<h4 class="mui-text-center">——— 猜你喜欢 ———</h4>
	<ul class="table-wrap" data-bind="foreach: $data">
		<li class="table-wrap-cell">
			<a>
				<div class="media-image" data-bind="style: { backgroundImage: 'url(/' + goodsThums + ')' }"></div>
				<div class="mui-ellipsis" data-bind="text: goodsName"></div>
				<!--<h5 data-bind1="text: subtitle" class="mui-ellipsis"></h5>-->
				
				<div class="mui-table">
					<div class="mui-table-cell">
						<r data-bind="text: '¥ ' + shopPrice"></r> <del data-bind="text: '¥ ' + marketPrice"></del>
					</div>
					<div class="mui-table-cell">
						<h5 class="mui-text-right">已售 <span class="sale-count" data-bind="text: saleCount"></span></h5>		
					</div>
				</div>			
			</a>
		</li>
	</ul>
</div>

<script>
	seajs.use([], function() {
		window.setTimeout(function() {
		$.getJSON("{:U('/M/Index/guess', '', '')}", function(data) {
			if(data && data.length > 0) {
				var neweastCard = document.getElementById("neweastCard");
				ko.applyBindings(data, neweastCard);
				neweastCard.style.display = "";
			}
		});
		}, 500);
	});
</script>
