<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="__ROOT__/Apps/Admin/View/css/daterangepicker/daterangepicker-bs3.css">
      <link href="__ROOT__/Apps/Admin/View/css/upload.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
      <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
      <script src="__PUBLIC__/plugins/kindeditor/kindeditor.js"></script>
      <script src="__PUBLIC__/plugins/kindeditor/lang/zh_CN.js"></script>
      <script src="__ROOT__/Apps/Admin/View/js/daterangepicker.js"></script>
      <script type="text/javascript" src="__ROOT__/Apps/Admin/View/js/upload.js"></script>
   </head>
   <script>
   //文件上传
   var ThinkPHP = window.Think = {
	        "ROOT"   : "__ROOT__"
	}
   var filetypes = ["gif","jpg","png","jpeg"];
   $(function () {
	   $.formValidator.initConfig({
		   theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
				   edit();
			       return false;
			},onError:function(msg){
		}});
		 
		
	   $("#mactname").formValidator({onFocus:"请输入标题"}).inputValidator({min:1,max:100,onError:"请输入100字以内标题"});
	   $("#sort").formValidator({onFocus:"请输入排序"}).inputValidator({min:1,max:5,onError:"请输入排序"});
	   
	   $("#pricemode").change(function(){
	   		clearchange();
	   		setpricemode();
	   });
	   setpricemode();
   });
   
   function edit(){
	   var params = {};
	   params.mactmid = $('#mactmid').val();	//当前id
	   params.mactid = $('#mactid').val();
	   params.mactmname = $('#mactmname').val();
	   
	   params.mlogo = $('#mlogo').val();
	   params.mlogothums = $('#goodsThumbs').val();	  
	   params.pricemode = $('#pricemode').val();
	   params.amount = $('#amount').val();	   
	   params.consamount1 = $('#consamount1').val();
	   params.discount1 = $('#discount1').val();
	   params.consamount2 = $('#consamount2').val();
	   params.discount2 = $('#discount2').val();	   
	   params.lineshownum =1;// $("#lineshownum").val();
	   params.sort = $('#sort').val();
	   
	   //alert(params.efficacyEData);
	   Plugins.waitTips({title:'信息提示',content:'正在提交数据，请稍后...'});
	   $.post("{:U('Admin/MallActivitym/edit')}",params,function(data,textStatus){
	   	
			var json = RTC.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({ content:'操作成功',timeout:1000,callback:function(){
				  location.href="{:U('Admin/MallActivitym/index',array('mactid'=>$mactid))}";
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
		});
   }
   
   function clearchange()
   {
		$("amount").val(""); 
		$("consamount1").val("");
		$("discount1").val("");
		$("consamount2").val("");
		$("discount2").val("");
   }
   
   function setpricemode()
   {
   		var pricemode=$("#pricemode").val();              		 
  		var pricemode2=$("#pricemode2");
  		var pricemode3=$("#pricemode3");
  		if(pricemode =="noprice")
  		{
  			pricemode2.hide();
  			pricemode3.hide();
  		}
  		else if(pricemode =="oneprice" || pricemode =="m2mustless")
  		{
  			pricemode2.show();
  			pricemode3.hide();
  		}
  		else if(pricemode =="mxdiscount" || pricemode =="mxlessxmxlessx")
  		{
  			pricemode2.hide();
  			pricemode3.show();
  			if(pricemode =="mxdiscount")
		   	{
		   		$("#spancon10").html("第");             		 
				$("#spancon11").html("件");             			
				$("#spancon1010").html("");             			
				$("#spancon1011").html("折");             			
				$("#spancon20").html("第");             			
				$("#spancon21").html("件");
				$("#spancon2020").html("");             			
				$("#spancon2021").html("折");
		   	}
		   	else if(pricemode =="mxlessxmxlessx") //满xx减xx ...
		   	{	
		   		$("#spancon10").html("满");             		 
				$("#spancon11").html("元");             			
				$("#spancon1010").html("立减");             			
				$("#spancon1011").html("元");             			
				$("#spancon20").html("满");             			
				$("#spancon21").html("元");
				$("#spancon2020").html("立减");             			
				$("#spancon2021").html("元");
		   	}
  		}
   }
   
   </script>
   <body class="rtc-page">
   		<iframe name="upload" style="display:none"></iframe>
		<form id="uploadform_Filedata" autocomplete="off" style="position:absolute;top:45px;left:120px;z-index:10; padding-left: 5px;" 
			enctype="multipart/form-data" method="POST" target="upload" action="{:U('Home/Shops/uploadPic')}" >
				<div style="position:relative;">
				<input id="mlogo" name="logoFile" class="form-control rtc-ipt" type="text" value="{$object.mlogo}" readonly 
					style="margin-right:4px;float:left;margin-left:8px;width:250px;"/>
				<div class="div1">
					<div class="div2">浏览</div>
					<input type="file" class="inputstyle" id="Filedata" name="Filedata" onchange="updfile('Filedata');" >
				</div>
				<div style="clear:both;"></div>
				<div >&nbsp;&nbsp;图片大小:700 x 86 (px)(格式为 gif, jpg, jpeg, png),图片显示在商城活动明细分类。</div>
				<input type="hidden" name="dir" value="mallactivity">
				<input type="hidden" name="width" value="400">
				<input type="hidden" name="folder" value="Filedata">
				<input type="hidden" name="sfilename" value="Filedata">
				<input type="hidden" name="fname" value="mlogo">
				<input type="hidden" id="s_Filedata" name="s_Filedata" value="">
				
				</div>
		</form>
		 
		
       <form name="myform" method="post" id="myform" autocomplete="off">
			<input type='hidden' id='mactmid' value='{$object.mactmid}'/>
			<input type='hidden' id='mactid' value='{$mactid}'/>
			<input type='hidden' id='goodsThumbs' value='{$object.mlogothums}'/>
			 
        <table class="table table-hover table-striped table-bordered rtc-form">
           <tr>
             <th width='120' align='right'>分类名称<font color='red'>*</font>：</th>
             <td>
             	<input type='text' id='mactmname' class="form-control rtc-ipt" value='{$object.mactmname}' maxLength='25'/>
             	
             </td>
           </tr>
          
           <tr style="height:60px;">
             <th align='right'>logo图片<font color='red'>*</font>：</th>
             <td></td>
           </tr>
           <tr style="height:70px;">
             <th align='right'>logo预览：</th>
             <td height='70px'>
             	<div id="preview_Filedata">
               		<img id='preview' src='__ROOT__/{$object.mlogothums}' height='70px' <if condition="$object['mlogothums'] =='' ">style='display:none'</if>/>
               </div>
             </td>
           </tr>
           <tr>
             <th align='right'>价格模式<font color='red'>*</font>：</th>
             <td>	 
             	<select id='pricemode'   style="width: 150px;">
	                <option value='noprice' <if condition="$object['pricemode'] == 'noprice'">selected</if>>普通(爆款、低致)</option>
	                <!--<option value='oneprice' <if condition="$object['pricemode'] == 'oneprice'">selected</if>>统一价格</option>-->
	                <option value='m2mustless' <if condition="$object['pricemode'] == 'm2mustless'">selected</if>>第二件立减</option>
	                <option value='m2f1' <if condition="$object['pricemode'] == 'm2f1'">selected</if>>买二付一</option>
	                <option value='mxdiscount' <if condition="$object['pricemode'] == 'mxdiscount'">selected</if>>x件x折x件x折</option>
	                <!--<option value='mxlessxmxlessx' <if condition="$object['pricemode'] == 'mxlessxmxlessx'">selected</if>>满x减x满x减x</option>-->
	             </select> 
             </td>
           </tr>
           <tr>
             <th align='right'>折扣<font color='red'>*</font>：</th>
             <td>
             		<div id="pricemode2">
             			<input type='text' id='amount' class="form-control rtc-ipt" value='{$object.amount}' style='width:60px' maxLength='5'/>元
             		</div>
             		<div id="pricemode3">
             			<span id="spancon10">满</span>
             			<input type='text' id='consamount1' class="form-control rtc-ipt" value='{$object.consamount1}' style='width:60px' maxLength='5'/>
             			<span id="spancon11">元</span>
             			
             			<span id="spancon1010">立减</span>
             			<input type='text' id='discount1' class="form-control rtc-ipt" value='{$object.discount1}' style='width:60px' maxLength='5'/>
             			<span id="spancon1011">元</span>
             			
             			<span id="spancon20">满</span>             			
             			<input type='text' id='consamount2' class="form-control rtc-ipt" value='{$object.consamount2}' style='width:60px' maxLength='5'/>
             			<span id="spancon21">元</span>
             			<span id="spancon2020">立减</span>
             			<input type='text' id='discount2' class="form-control rtc-ipt" value='{$object.discount2}' style='width:60px' maxLength='5'/>
             			<span id="spancon2021">元</span>
             		</div>
             </td>
           </tr>           
           <!--<tr>
             <th align='right'>每行显示数量<font color='red'>*</font>：</th>
             <td>
             	<select id='lineshownum'  style="width: 150px;">
	                <option value='normal' <if condition="$object['lineshownum'] == 1">selected</if>>1</option>
	                <option value='definition' <if condition="$object['lineshownum'] == 1">selected</if>>2</option>
	            </select>
             </td>
           </tr>-->
           <tr>
             <th align='right'>排序<font color='red'>*</font>：</th>
             <td><input type='text' id='sort' class="form-control rtc-ipt" value='{$object.sort}' style='width:300px' maxLength='5'/></td>
           </tr> 
        
            
           <tr>
             <td colspan='2' style='padding-left:250px;'>
                 <button type="submit" class="btn btn-success">保&nbsp;存</button>   
                 <button type="button" class="btn btn-primary" onclick='javascript:location.href="{:U('Admin/MallActivitym/index',array('mactid'=>$mactid))}"'>返&nbsp;回</button>
             </td>
           </tr>
        </table>
       </form>
   </body>
</html>