<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['mallTitle']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
   <script>
   function toggleIsShow(t,v){
	   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
	   $.post("{:U('Admin/MallActivity/editStatus')}",{id:v,isShow:t},function(data,textStatus){
			var json = RTC.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
				    location.reload();
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
	   });
   }
   function del(id){
	   Plugins.confirm({title:'信息提示',content:'您确定要删除该活动吗?',okText:'确定',cancelText:'取消',okFun:function(){
		   Plugins.closeWindow();
		   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
		   $.post("{:U('Admin/MallActivity/del')}",{id:id},function(data,textStatus){
					var json = RTC.toJson(data);
					if(json.status=='1'){
						Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
						location.reload();
						}});
					}else{
						Plugins.closeWindow();
						Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
					}
				});
	   }});
   }
   </script>
   <body class='rtc-page'>
       <form method='post' action='{:U("Admin/MallActivity/index")}'>
       <div class='rtc-tbar' style='height:25px;'>
                    活动标题：<input type='text' id='activityTitle' name='activityTitle' class='form-control rtc-ipt-15' value='{$activityTitle}'/> 
       		<button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button>
       		<a class="btn btn-success glyphicon glyphicon-plus" href="{:U('Admin/MallActivity/toEdit')}" style='float:right'>新增</a>
       </div>
       </form>
       <div class="rtc-body"> 
        <table class="table table-hover table-striped table-bordered rtc-list">
           <thead>
             <tr>
               <th width='40'>序号</th>
               <th>标题</th>
               <th width='190'>活动日期</th>
               <th width='150'>模式</th>
               <th width='40'>排序</th>
               
               <th width='80'>状态</th>
               <th width='80'>商品管理</th>
               <th width='240'>操作</th>
             </tr>
           </thead>
           <tbody>
            <volist name="Page['root']" id="vo" key='i'>
             <tr>
               <td>{$i}</td>
                <td img='{$vo['logothums']}' class='imgPreview'>
               		<img src='__ROOT__/{$vo['logothums']}' height='50px'/>
               		{$vo['mactname']}
               </td>
               <td>{$vo['starttime']}至{$vo['endtime']}</td>
               <td> <if condition="$vo['mode']=='normal' "> 普通 <else/> 自定义</if></td>
               <td>{$vo['sort']}</td>
               <td>
	               <div class="dropdown">
		               <if condition="$vo['status']==0 ">
		                   <button class="btn btn-warning dropdown-toggle rtc-btn-dropdown"  type="button" data-toggle="dropdown">准备中<span class="caret"></span></button>
		               <elseif condition="$vo['status']==1 "/>
		                   <button class="btn btn-success dropdown-toggle rtc-btn-dropdown" type="button" data-toggle="dropdown">进行中<span class="caret"></span></button>
		                <elseif condition="$vo['status']==2 "/>
		                   <button class="btn btn-danger dropdown-toggle rtc-btn-dropdown" type="button" data-toggle="dropdown">停止<span class="caret"></span></button>
		                <elseif condition="$vo['status']==99 "/>
		                   <button class="btn btn-warning dropdown-toggle rtc-btn-dropdown" type="button" data-toggle="dropdown">结束<span class="caret"></span></button>
		               </if>
		               <if condition="$vo['status'] lt 99 ">
		                   <ul class="dropdown-menu" role="menu">
							  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(0,{$vo['mactid']})">准备中</a></li>
							  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(1,{$vo['mactid']})">进行中</a></li>
							  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(2,{$vo['mactid']})">停止</a></li>
							  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(99,{$vo['mactid']})">结束</a></li>
						   </ul>
					   </if>
	               </div>
               </td> 
                <td>
                	<a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('Admin/MallActivity/activitygoods',array('mactid'=>$vo['mactid']))}">商品管理</a>
                </td>
               <td>
               		<a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('Admin/MallActivitym/index',array('mactid'=>$vo['mactid']))}">活动分类</a>&nbsp;
               		
               		<a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('Admin/MallActivity/toEdit',array('id'=>$vo['mactid']))}">修改</a>&nbsp;               
               		<a class="btn btn-default glyphicon glyphicon-trash" href="javascript:del({$vo['mactid']})"">刪除</a>
               </td>
             </tr>
             </volist>
             <tr>
                <td colspan='9' align='center'>{$Page['pager']}</td>
             </tr>
           </tbody>
        </table>
       </div>
   </body>
</html>