<link rel="stylesheet" href="__CSS__/{:autoVer('cart.css')}" />
<header class="mui-bar mui-bar-nav cky-bar-gray">
	<button class="cky-back mui-btn mui-btn-link mui-pull-left">
		<i class="mui-icon mui-icon-left-nav"></i>
	</button>
	<h1 id="title" class="mui-title">
		{$title}
	</h1>
</header>
<div class="mui-content mui-content-bottom">
	<div id="emptyBlock" class="cky-cart-empty cky-hidden">
		<div class="cky-cart-empty-top">
			<div><hr></div>
			<div class="cky-cart-empty-icon">
				<i class="iconfont icon-gouwuche"></i>
			</div>
			<div><hr></div>
		</div>
		<h5>购物车还是空的，</h5>
		<h5>去挑几件中意的商品吧</h5>
	</div>
	<div id="cartList" class="cky-hidden">
		<!-- ko foreach: $data  -->
		<div class="cky-cart-table">
			<div class="cky-cart-table-cell cky-cart-table-cell-shop">
				<input type="checkbox" class="shop" data-bind="value: shopId"/>
				<i class="iconfont icon-shangpu"></i><a data-bind="text: shopName"></a><i class="iconfont icon-right"></i>
				<a class="shop-edit cky-update">编辑</a>
			</div>
			<!-- ko foreach: goods -->
			<div class="cky-cart-table-cell cky-cart-table-cell-goods">
				<div class="cky-cart-cbx">
					<input type="checkbox" class="goods" data-bind="value: goodsId"/>
				</div>
				<div class="cky-cart-thums-outter">
					<div class="cky-cart-thums" data-bind="style: { backgroundImage: 'url(/' + goodsThums + ')'}"></div>
				</div>
				<div class="cky-cart-media">
					<div class="mui-table">
						<p class="cky-ellipsis2 mui-table-cell" data-bind="text: goodsName"></p>
						<p class="mui-table-cell mui-text-right">
							<r data-bind="text: '¥' + shopPrice"></r>
						</p>
					</div>
					<!-- ko if: freeTitle -->
					<div class="mui-table font10" data-bind="visible: freeTitle">
						<r class="mui-table-cell mui-ellipsis" data-bind="text: freeTitle"></r>
						<p class="mui-table-cell mui-text-right">
							<r data-bind="text: '¥' + freeMoney"></r>
						</p>
					</div>
					<!-- /ko -->
					<h4 class="mui-text-right" data-bind="text: 'x' + count"></h4>
				</div>
				<a class="cky-cart-delete cky-update" data-bind="attr: { shopId: $parent.shopId, goodsId: goodsId }">删除</a>
			</div>
			<!-- /ko -->
		</div>
		<br />
		<!-- /ko -->
	</div>
</div>

<footer class="cky-footer cky-hidden">
	<label><input type="checkbox" class="all"/><span>全选</span></label>
	<div class="cky-text-right" style="padding-right: 10px">
		<p>合计: <r>￥0</r></p>
		<h5>不含运费</h5>
	</div>
	<a class="disabled">去结算(<span>0</span>)</a>
</footer>
<script src="__KO__"></script>
<script>
	cky.pageShow(function() {
		$(function() {
			var CACHE_KEY = "{:I('cacheKey', 'cky-shop-cart')}";
			var cart = cky.storage.getItem(CACHE_KEY);
			if(cart && cart.shops && !cky.isEmpty(cart.shops)) {
				var shops = [];
				for(var shopId in cart.shops) {
					var shop = $.extend({}, cart.shops[shopId]);
					shop.goods = [];
					for(var goodsId in cart.shops[shopId].goods) {
						var goods = $.extend({}, cart.shops[shopId].goods[goodsId]);
						shop.goods.push(goods);
					}
					shops.push(shop);
				}
				ko.applyBindings(shops, document.getElementById("cartList"));
				
				var cartList = $("#cartList").removeClass("cky-hidden");
				$(".cky-footer").removeClass("cky-hidden");
				
				// 勾选
				$("input[type=checkbox]").change(function(evt) {
					evt.stopPropagation();
					evt.preventDefault();
					var $this = $(this);
					var checked = $this.prop("checked");
					var parent = $this.closest(".cky-cart-table");
					if($this.hasClass("all")) {
						$("input[type=checkbox].goods, input[type=checkbox].shop").prop("checked", checked);
					} else if($this.hasClass("shop")) {
						$("input[type=checkbox].goods", parent).prop("checked", checked);
						if(checked) {
							if($("input[type=checkbox].shop:not(:checked)").length == 0) {
								$("input[type=checkbox].all").prop("checked", checked);
							}
						} else {
							$("input[type=checkbox].all").prop("checked", checked);
						}
					} else if($this.hasClass("goods")) {
						if(checked) {
							if($("input[type=checkbox].goods:not(:checked)", parent).length == 0) {
								$("input[type=checkbox].shop", parent).prop("checked", checked);
								
								if($("input[type=checkbox].goods:not(:checked)").length == 0) {
									$("input[type=checkbox].all").prop("checked", checked);
								}
							}
						} else {
							$("input[type=checkbox].all").prop("checked", checked);
							$("input[type=checkbox].shop", parent).prop("checked", checked);
						}
					}
					sum();
				});
				
				var totalMoneyElement = $(".cky-footer r");
				var deliveryMoneyElement = $(".cky-footer h5");
				var countElement = $(".cky-footer a span");
				var payElement = $(".cky-footer a").click(onsubmit);
				var selectedCard = null;
				function sum() {
					var count = 0;
					var totalMoney = 0;
					selectedCard = { shops: {} };
					$("input[type=checkbox].shop").each(function () {
						var all = $(this);
						var _totalMoney = 0;
						var shopId = all.val();
						var shop = cart.shops[shopId];
						$("input[type=checkbox].goods:checked", all.closest(".cky-cart-table")).each(function() {
							var goodsId = $(this).val();
							var goods = shop.goods[goodsId];
							count += goods.count;
							_totalMoney += goods.count * goods.shopPrice - goods.freeMoney;
							if(!selectedCard.shops[shopId]) {
								selectedCard.shops[shopId] = {};
							}
							selectedCard.shops[shopId][goodsId] = 0;
						});
						totalMoney += _totalMoney;
					});
					
					if(count > 0) {
						payElement.removeClass("disabled");
					} else {
						payElement.addClass("disabled");
					}
					
					countElement.text(count);
					totalMoneyElement.text("¥" + totalMoney.toFixed(2));
				}
				
				function onsubmit() {
					if(!payElement.hasClass("disabled")) {
						var smtKey = "topay_" + new Date().getTime();
						cky.storage.setItem(smtKey, selectedCard);
						window.location.href = "{:U('Orders/toPay')}/?cacheKey=" +  CACHE_KEY + "&submit=" + smtKey;
					}
				}
				
				// 商铺编辑
				$("a.shop-edit").click(function() {
					var $this = $(this);
					var parent = $this.closest(".cky-cart-table");
					$this.text($this.hasClass("cky-active") ? "编辑" : "完成");
					$("a.cky-cart-delete").toggleClass("cky-active");
					$this.toggleClass("cky-active");
				});
				
				// 删除商品
				$("a.cky-cart-delete").click(function(){
					$this = $(this);
					layer.open({
					    content: '确定删除选中的商品吗？',
					    btn: ['确定', '取消'],
					    shadeClose: false,
					    yes: function(){
					    	cky.closeAll();
							var shopId = $this.attr("shopId");
							var goodsId = $this.attr("goodsId");
							var parent = $this.closest(".cky-cart-table-cell-goods");
							var root = $this.closest(".cky-cart-table");
							var shop = cart.shops[shopId];
							delete cart.shops[shopId].goods[goodsId];
							parent.remove();
							if(cky.isEmpty(cart.shops[shopId].goods)) {
								delete cart.shops[shopId];
								root.remove();
							}
							if(cky.isEmpty(cart.shops)) {
								cky.storage.removeItem(CACHE_KEY);
								$("#emptyBlock").removeClass("cky-hidden");
								$("#cartList").addClass("cky-hidden");
								$(".cky-footer").addClass("cky-hidden");
							} else {
								cky.storage.setItem(CACHE_KEY, cart);
								sum();
							}
							
					    }, no: function(){
					        
					    }
					});
				});
			} else {
				$("#emptyBlock").removeClass("cky-hidden");
			}
		});
	});
</script>