<div id="goodsPick" class="cky-goods-pick cky-hidden" data-bind="css: activeCss">
	<div class="cky-goods-pick-body">
		<div class="cky-goods-pick-thums"></div>
		<div class="cky-goods-pick-media">
			<r>¥399</r>
			<h5>库存477件</h5>
			<h5>请选择颜色分类</h5>
		</div>
	</div>
	<hr />
	<div class="cky-col-view">
		<div class="cky-col-view-cell">购买数量</div>
		<div class="cky-col-view-cell cky-num-pick">
			<span><i class="iconfont icon-jia"></i></span>
			<span></span>
			<span><i class="iconfont icon-jian"></i></span>
		</div>
	</div>
</div>

<script type="text/javascript" src="__JS__/shopcart.js"></script>