<!--<header class="mui-bar mui-bar-nav">
	  <button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left" onclick="history.go(-1)">
			<span class="mui-icon mui-icon-left-nav" ></span>
	    	返回
	  </button>
	  <h1 class="mui-title">{$title}</h1>
</header>-->
<div class="mui-content mui-content-bottom">
	<form>
		<div class="mui-input-group">
			<div class="mui-input-row">
				<label>原密码</label>
				<input type="password" id='txtoldpwd'  name="oldpwd" class="mui-input-clear mui-input" maxlength="16" required placeholder="请输入当前密码">
			</div>
			<div class="mui-input-row">
				<label>新密码</label>
				<input type="password" id='txtnewpwd'   name="newpwd"  class="mui-input-clear mui-input" required placeholder="请输入新密码">
			</div>
			<div class="mui-input-row">
				<label>确认密码</label>
				<input type="password" id='txtconfimpwd'   name="confimpwd" class="mui-input-clear mui-input" required placeholder="请再次输入新密码">
			</div> 
		</div>
		<div class="mui-content-padded">
			<button id='btnalertpwd' type="button" class="mui-btn mui-btn-block mui-btn-primary">修改</button>
		</div>
	</form>	
</div>
<include file="Public:tab"/>

<script type="text/javascript">
	 //表单提交
	$(document).ajaxStart(function() {
		$("button:submit").attr("disabled", true);
	}).ajaxStop(function() {
		$("button:submit").attr("disabled", false);
	});
	
	$(function() {
		$("#btnalertpwd").click(function() {
			if($("#txtnewpwd").val() != $("#txtconfimpwd").val())
			{
				layer.alert("输入两次密码不一致。");
				return false;
			}
			var self = $("form");
			$.post("{:U('Person/changepwd','','')}", self.serialize(), changeSuccess, "json");
			return false;
			function changeSuccess(data) {
				if (data.status==0) {
					layer.alert("密码修改成功。");
					window.location.href = "{:U('Person/index','','')}";
				} else {
					layer.alert(data.message);
				}
			}
		});
	});
</script>