<!--<header class="mui-bar mui-bar-nav">
	  <button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left" onclick="history.go(-1)">
			<span class="mui-icon mui-icon-left-nav" ></span>
	    	返回
	  </button>
	  <h1 class="mui-title">{$title}</h1>
</header>-->

<div class="mui-content mui-content-bottom">
		<if condition="$datanum eq 0">
				<p class="mui-content-empty">暂无记录</p>
		<else />
				<ul  id="recrodList"  class="mui-table-view mui-table-view-chevron">
						<foreach name="data" item="item">
							<li class="mui-table-view-cell mui-media">
									<a class="top-navigate">
										<div class="mui-media-body"><span class="meno b">{$item.Meno}</span>
												<p class='mui-ellipsis ctime'>{$item.OperateTime}</p>
										</div>
										<span  class="cellinfo-right cvalue  b">-{$item.TotalMoney}</span>
									</a>
							</li>
						</foreach>
				</ul>
		</if>
</div>
<include file="Public:tab"/>
<link rel="stylesheet" href="__CSS__/{:autoVer('person-comm.css')}" />
<script>
	$(function() {
		var pageNum = 1;
		util.onScrollEnd(page);
		
		var recrodList = $("#recrodList");
		var template = $("li:first-child", recrodList);		
		function page() 
		{
				var ll = layer.open({type: 2});
				var murl="{:U('consumelistPage', '', '')}";
				pageNum=pageNum+1;
				$.get(murl, {pageSize:10 ,pageNum: pageNum }, function(list) {
					util.endScroll();
						if(list && list.length > 0) 
						{
				       		$.each(list, function() {
				       			var item = template.clone();
				       			$(".meno", item).text(this.Meno);
				       			$(".cvalue", item).text(this.TotalMoney);
				       			$(".ctime", item).text(this.OperateTime);
				       			recrodList.append(item);
				       		});
		       	} else {
		       		pageNum--;	
		    		}
		       	layer.close(ll);
		    });
		}
	});
</script>
