	<link rel="stylesheet" href="__CSS__/{:autoVer('me.css')}">
	<script src="__JS__/jquery.touchSwipe.min.js"></script>
	<script src="__JS__/layer/layer.js"></script>
	<script type="text/javascript">
   		$(function() {   			 
			$(".mui-content").swipe({
				swipeUp: onscrollend,
				threshold: 100,
				allowPageScroll: "vertical"
			});			
			$(window).bind("scroll", onscrollend);			
			function onscrollend() {
				if ($(window).scrollTop() + $(window).height() == $(document).height()) {}
			}
		
   			$("#userscore").click(function() {
				window.location.href="{:U('Person/scorelist', '', '')}";
			});
			//充傎记录
			$("#rechargerecord").click(function() {
				window.location.href="{:U('Person/rechargelist', '', '')}";
			});
			//修改密码
			$("#changepwd").click(function() {
				window.location.href="{:U('Person/changepwd', '', '')}";
			});
			//充值
   			$("#recharge").click(function() {
				window.location.href="{:U('Person/recharge', '', '')}";
			});
			//消费记录
			$("#xfjl").click(function() {
				window.location.href="{:U('Person/consumelist', '', '')}";
			});
			//用户信息
			$(".userinfo").click(function() {
				window.location.href="{:U('Person/userinfo', '', '')}";
			});
			$("#user2wm").click(function() {
				layer.open({
				    type: 1,
				    shade: false,
				    title: false, //不显示标题
				    content: $('.diverweima'), //捕获的元素
				    cancel: function(index){
				        layer.close(index);
				    }
				});

			});
			
				//订单查询
				$("#orderlist").click(function() {	
					window.location.href="{:U('Orders/lst', '', '')}";
				});
				//我的充次
				$("#youhuiquan").click(function() {
					window.location.href="{:U('Person/coupon', '', '')}";
				});
				//我的收藏
				$("#favor").click(function() {
					window.location.href="{:U('Person/favor', '', '')}";
				});
				//绑定手机
				$("#bindmobile").click(function() {	
					window.location.href="{:U('Person/bindmobile', '', '')}";
				});
				//我的充次
				$("#countlist").click(function() {
					window.location.href="{:U('Person/countlist', '', '')}";
				});
			
			//同步数据库
			Sync();
		});
		function Sync()
		{
			$.post("{:U('Person/Sync','','')}/"+Math.round()*100, null, changeSuccess, "json");
		}
		function changeSuccess(data) {
			 
		}
	</script>
	<style>
		.font16{font-size: 16px;}
		.font20{font-size: 20px;}
		.font24{font-size: 24px;}
		.font32{font-size: 32px;}
	</style>
 
	
	<div class="mui-content mui-content-bottom">
		<div class="diverweima" style="width: 300px; height: 360px; display: none;">
			<div style="text-align: center;">
				<img  alt="" src="{:U('Person/qrcode', '', '')}">
				<img  alt="" src="{:U('Person/ywm', '', '')}">
			</div>
		</div>
		<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell mui-media">
				<a class="mui-navigate-right top-navigate" href="#account">
					<img class="mui-media-object mui-pull-left head-img" id="head-img" src="{$headimgurl}">
					<div class="mui-media-body userinfo">
						{$data.TrueName}
						<p class='mui-ellipsis'>会员卡：{$data.CardId}</p>
					</div>
					<span  id="user2wm">
						<i class="iconfont  icon-fukuanma font24"></i>						 
					</span>
				</a>								
			</li>
		</ul>
		
		<ul class="mui-table-view">  
			<li class="mui-table-view-cell" >
				<a class="mui-navigate-right">
					<div class="img-tip">
						<i class="iconfont icon-xinyongqiahuankuan font20"></i>	
					</div>
					<div class="menu-content">
						<p>我的钱包</p>
					</div>										 
					<span class="cell-right" id="recharge">
						<span class="mui-badge mui-badge-danger">我要充值</span>							 
					</span>
				</a>
			</li>
			<li class="userline land-cell"  id="loginUser">
				<span class="cell-left" id="userscore">
					<img class="circle-img" alt="" src="__IMG__/person/jf.png">
					<p data-bind="text: nickName">积分：{$data.EnablePoint}</p>
				</span>
				<a></a>
				<span class="cell-right" data-bind="style: { 'display': hasOtherhalf() ? 'none' : 'inline-block'}" id="rechargerecord">
					<img class="circle-img" alt="" src="__IMG__/person/jiaofei.png">
					<p>储值余额:{$data.EnableValue}</p>
				</span>					
			</li>
		</ul>
		
		<ul class="mui-table-view">  
			<li class="mui-table-view-cell" >					 
					<div class="img-tip">
						<!--<img alt="" src="__IMG__/person/tx.png"/>-->
						<i class="iconfont icon-liebiao font20"></i>
					</div>
					<div class="menu-content">
						<p>我的消费</p>
					</div>								 
			</li>
			<li class="userline land-cell">
				<span class="land-cell4"  id="orderlist">
					<img class="circle-img" alt="" src="__IMG__/person/orderjl.png">
					<p data-bind="text: nickName">订单查询</p>
				</span>
				 
				<span class="land-cell4"  id="xfjl">
					<img class="circle-img" alt="" src="__IMG__/person/xfjl.png">
					<p data-bind="text: nickName">消费记录</p>
				</span>
				 
				<span class="land-cell4"  id="countlist">
					<!--<i class="circle-img iconfont icon-wode font32"></i>-->
					<img class="circle-img" alt="" src="__IMG__/person/jcxf.png">
					<p data-bind="text: nickName">我的充次</p>
				</span>					 
				<span class="land-cell4" id="youhuiquan">
					<!--<i class="circle-img iconfont icon-youhuiquanwenzi font32"></i>-->
					<img class="circle-img" alt="" src="__IMG__/person/yhq.png">
					<p data-bind="text: nickName">我的优惠券</p>
				</span>
			</li>
			
			 
			<li class="mui-table-view-cell" id="changepwd">
				<a class="mui-navigate-right">
					<div class="img-tip">
						<img alt="" src="__IMG__/person/pwd.png"/>
					</div>
					<div class="menu-content">
						<p>修改密码</p>
					</div>
				</a>
			</li>
			<li class="mui-table-view-cell" id="bindmobile">
				<a class="mui-navigate-right">
					<div class="img-tip"><i class="iconfont icon-shouji font20"></i></div>
					<div class="menu-content">
						<p>绑定手机</p>
					</div>
				</a>
			</li>
			<li class="mui-table-view-cell" id="favor">
				<a class="mui-navigate-right">
					<div class="img-tip"><i class="iconfont icon-favor font20"></i></div>
					<div class="menu-content"><p>我的收藏</p></div>
				</a>
			</li>
			<!--<li class="mui-table-view-cell" id="yaoqing">
				<a class="mui-navigate-right">
					<div class="img-tip">
						<img alt="" src="__IMG__/person/yyg_icon_wdyq.png"/>
					</div>
					<div class="menu-content">
						<p>会员卡特权</p>
					</div>
				</a>
			</li>
			<li class="mui-table-view-cell" id="yaoqing">
				<a class="mui-navigate-right">
					<div class="img-tip">
						<img alt="" src="__IMG__/person/yyg_icon_wdyq.png"/>
					</div>
					<div class="menu-content">
						<p>我的优惠券</p>
					</div>
				</a>
			</li>-->
			<!--<li class="mui-table-view-cell" id="about">
				<a class="mui-navigate-right" href="{:U('Person/loginexit', '', '')}">
					<div class="img-tip">
						<img alt="注销" src="__IMG__/person/exit.png"/>
					</div>
					<div class="menu-content">
						<p>注销</p>
					</div>
				</a>
			</li>-->
		</ul>
		<br />
	</div>
	<include file="Public:tab"/>
<!--<script type="text/javascript">
   		$(function() {   			 
			$(".mui-content").swipe({
				swipeUp: onscrollend,
				threshold: 100,
				allowPageScroll: "vertical"
			});
 		});
</script>-->