		<link href="__CSS__/me.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="__FONTPERSON__">
		<style>
			.font16{font-size: 16px;}
			.font20{font-size: 20px;}
			.font24{font-size: 24px;}
			.font32{font-size: 32px;}
		</style>
   		<script type="text/javascript">
	   		$(function() {
	   			//个人资料
	   			$("#userinfo").click(function() {
					window.location.href="{:U('Person/userinfo', '', '')}";
				});
				//修改头像
				$("#userimg").click(function() {
					window.location.href="{:U('Person/userimg', '', '')}";
				});
				//收货地址
				$("#useraddress").click(function() {	
					window.location.href="{:U('Person/useraddressview', '', '')}";
				});
				//修改密码
				$("#userpwd").click(function() {
					window.location.href="{:U('Person/userpwd', '', '')}";
				});
			});
		</script>
		<header class="mui-bar mui-bar-nav">
		  <button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left" onclick="history.go(-1)">
		    <span class="mui-icon mui-icon-left-nav" ></span>
		    	返回
		  </button>
		  <h1 class="mui-title">{$title}</h1>
		</header>
		
		 
		<div class="mui-content">
			<ul class="mui-table-view">  
				<li class="mui-table-view-cell" id="userinfo">
					<a class="mui-navigate-right">
						<div class="img-tip">
							<img alt="个人资料" src="__IMG__/person/info.png"/>
						</div>
						<div class="menu-content">
							<p>个人资料</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell" id="userimg">
					<a class="mui-navigate-right">
						<div class="img-tip">
							<img alt="修改头像" src="__IMG__/person/tx.png"/>
						</div>
						<div class="menu-content">
							<p>修改头像</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell" id="useraddress">
					<a class="mui-navigate-right">
						<div class="img-tip">
							<i class="iconfont  icon-addressbook font24"></i>
						</div>
						<div class="menu-content">
							<p>收货地址</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell" id="about">
					<a class="mui-navigate-right" href="{:U('Person/userpwd', '', '')}">
						<div class="img-tip">
							<img alt="修改密码" src="__IMG__/person/pwd.png"/>
						</div>
						<div class="menu-content">
							<p>修改密码</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
 