<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>{$title}</title>
    <link rel="stylesheet" href="__ROOT__/Apps/M/View/default/css/{:autoVer('mui.min.css')}" />
    <link rel="stylesheet" href="__FONT__" />
    <link rel="stylesheet" href="__ROOT__/Apps/M/View/default/css/{:autoVer('common.css')}" />
    <script src="__JQ__"></script>
    <script src="__JS__/jquery.html5storage.min.js"></script>
    <script src="__JS__/{:autoVer('common.js')}"></script>
    
    <script src="__JS__/layerm/layer.js"></script>
    <script src="__JS__/{:autoVer('util.js')}"></script>
    
	<script type="text/javascript" src="__JS__/{:autoVer('geo.location.js')}"></script>
</head>
<body>
	{__CONTENT__}
</body>
</html>