 
 <div class="mui-content">
			<form>
				<div class="mui-input-group">
					<input name="addressId" type="hidden"  value="{$Item.addressId}"/>
					<div class="mui-input-row">
						<label>地区：</label>
						<div>
						<select id="provinces" class="cityselect" nullmsg="请选择有效的省市区" name="areaId1" required>
							<option value="">选择</option>
							<foreach name="dataProvi" item="item">
								<option value='{$item.areaId}'>{$item.areaName}</option>							
							</foreach>
						</select>					
						&nbsp;
						<select class="cityselect"  id="city" nullmsg="请选择有效的省市区" name="areaId2" required> 
								<option value="">选择</option>
								<foreach name="cityarr" item="c">
									<option value="{$c.areaId}">{$c.areaName}</option>
								</foreach>
						</select>
						&nbsp;
						<select class="cityselect"  id="County" nullmsg="请选择有效的省市区" name="areaId3">
								<option value="">选择</option>
								<foreach name="xianarr" item="x">
									<option value="{$x.areaId}">{$x.areaName}</option>
								</foreach>
						</select>
						</div>
					</div>
					<div style="display: none;">
						<input type="text" id='areaId1Name'   name="areaId1Name"  class="mui-input-clear mui-input">
						<input type="text" id='areaId2Name'   name="areaId2Name"  class="mui-input-clear mui-input">
						<input type="text" id='areaId3Name'   name="areaId3Name"  class="mui-input-clear mui-input">
					</div>
					<div class="mui-input-row">
						<label>街道</label>
						<input type="text" id='jiedao'  value="{$Item.address}"  name="address"  class="mui-input-clear mui-input" required placeholder="请填街道地址！">
					</div>
					<div class="mui-input-row">
						<label>邮编</label>
						<input type="text" id='youbian'  value="{$Item.postCode}"    name="postCode" class="mui-input-clear mui-input" required placeholder="请填邮政编码">
					</div> 
					<div class="mui-input-row">
						<label>收货人</label>
						<input type="text" id='shouhuoren'  value="{$Item.userName}"    name="userName" class="mui-input-clear mui-input" required placeholder="请填收货人">
					</div> 
					<div class="mui-input-row">
						<label>手机号</label>
						<input type="text" id='mobile'   value="{$Item.userPhone}"   name="userPhone" class="mui-input-clear mui-input" required placeholder="请填手机号码">
					</div> 
				</div>
				<div class="mui-content-padded">
					<button id='btnsave' type="button" class="mui-btn mui-btn-block mui-btn-primary">保存</button>
				</div>
			</form>
</div>
<include file="Public:tab"/>
<style>
	.cityselect{ width: 20%; float: left;}
</style>	
<script type="text/javascript">
	 //表单提交
	$(document).ajaxStart(function() {
		$("button:submit").attr("disabled", true);
	}).ajaxStop(function() {
		$("button:submit").attr("disabled", false);
	});
	$(function(){				
				$("#btnsave").click(function(){
					var p=$("#provinces").find("option:selected").text();
					var c=$("#city").find("option:selected").text();
					var x=$("#County").find("option:selected").text();
					if(p=="请选择"){util.msg("请选择地址信息."); return false;}
					if(c=="请选择"){util.msg("请选择地址信息."); return false;}
					if(x=="请选择")x="";
					if($("#jiedao").val()==""){util.msg("请输入地址信息."); return false;}
					if($("#shouhuoren").val()==""){util.msg("请输入收货人."); return false;}
					if($("#mobile").val()==""){util.msg("请输入手机号码."); return false;}
					
					$("#areaId1Name").val(p);
					$("#areaId2Name").val(c);
					$("#areaId3Name").val(x);
					
					var self = $("form");
					$.post("{:U('MemberAddress/addressedit','','')}", self.serialize(), savesuccess, "json");
					return;
					function savesuccess(data) {
						if (data.status) {
							 window.location.href="{:U('MemberAddress/addresslist', '', '')}";
						} else {
							 util.msg(data.msg);
						}
					}
				});		
		//初使化省市区
		var proid='{$Item.areaId1}';
		$("#provinces").val(proid);
		
		var shiid='{$Item.areaId2}';
		$("#city").val(shiid);
		
		var xianid='{$Item.areaId3}';
		$("#County").val(xianid);
		
});
	
	function successcity(data) {
			var city=$("#city");
			$("#city option").remove();			
			city.append("<option value='0'>请选择</option>");
			for(var i=0;i< data.length;i++)
			{
				var pro2=data[i];				
				city.append("<option value='"+pro2.areaId+"'>"+pro2.areaName+"</option>");	
			}
	}
	function successCounty(data) {				
		var County=$("#County");
		$("#County option").remove();	
		County.append("<option value='0'>请选择</option>");
		for(var i=0;i< data.length;i++)
		{
			var pro2=data[i];
			County.append("<option value='"+pro2.areaId+"'>"+pro2.areaName+"</option>");
			 
		}
	}
	
	$(function() {	
		 	var self = $("body");		 	
			$("#provinces").change(function(){
				if($("#provinces").val()=="0")
				{
					$("#city option").remove();
					$("#County option").remove();
					$("#city").append("<option value='0'>请选择</option>");					
					return;
				}						
				var self = $("form");
				$.post("{:U('Areas/getcitys','','')}", self.serialize(), successcity, "json");					
			});
			
			$("#city").change(function(){
				if($("#city").val()=="0")
				{
					$("#County option").remove();
					$("#County").append("<option value='0'>请选择</option>");
					return;
				}
				var self = $("form");						
				$.post("{:U('Areas/getcounty','','')}", self.serialize(), successCounty, "json");					
			});					
	});
</script>